{{- extends "layout/tw-default" }}
{{- block body() }}

<div
  class="grid grid-cols-1 md:grid-cols-12 w-full max-w-7xl gap-8 mt-8"
  hx-boost="true"
>
  <p
    class="col-span-1 md:col-span-12 text-2xl font-bold text-neutral-100 -mb-4"
  >
    About PixivFE
  </p>

  <!--
  TODO: Integrate the following into the about page content:

  1. Technical advantages
     - High-resolution thumbnails
       - Uses next-gen WebP format with /c/1200x1200_90_webp URLs
       - Optimized loading with modern compression
     - Progressive enhancement philosophy
       - CSS-first implementations where possible
         - Modal dialogs using native popover API + CSS
       - Graceful degradation features
         - HTMX for enhanced UX preserves scroll position
         - Full functionality without JavaScript

  2. Accessibility
     - WCAG-compliant contrast ratios
       - Minimum AA compliance for all text
       - AAA compliance for critical text elements
     - Clear visual hierarchy
       - Intentional emphasis degradation
       - Consistent information architecture

  3. Cross-platform support
     - Responsive mobile experience
       - Proper layout reflowing
       - Touch-friendly interactions
  -->

  <div
    class="col-span-1 md:col-span-7 flex flex-col gap-6 text-base/8 text-neutral-300"
  >
    <p>
      PixivFE is an alternative frontend for
      <a
        href="https://en.wikipedia.org/wiki/pixiv"
        class="text-link text-neutral-200 hover:text-neutral-100"
        >pixiv</a
      >, allowing you to enjoy artwork without unnecessary distractions or
      restrictions.
    </p>
    <p class="-mt-4">
      This is an open-source project. Join us on Matrix if you have any
      questions or want to chat about PixivFE at
      <a
        href="https://matrix.to/#/#pixivfe:4d2.org"
        class="text-link text-neutral-200 hover:text-neutral-100"
        >#pixivfe:4d2.org</a
      >.
    </p>
    <p class="text-xl font-bold text-neutral-100 -mb-2">Why use it?</p>
    <ul class="list-outside list-disc space-y-2 ps-4">
      <li>
        PixivFE lets you browse pixiv anonymously with all restrictions removed.
        No pixiv account is needed to access content.
      </li>
      <li>
        PixivFE prevents direct interaction with pixiv and its third-party
        services/analyzers. All processing occurs server-side, leaving only
        PixivFE client-side. No more Google Analytics tracking for every action!
      </li>
      <li>
        PixivFE offers a lightweight, modern, feature-rich interface that
        minimizes browsing disruptions - unlike pixiv's original frontend.
        JavaScript isn't even required!
      </li>
      <li>
        PixivFE is free software with fully open-source code and transparent
        development. Anyone can contribute, modify, or use it.
      </li>
    </ul>
    <p class="-mt-4">
      PixivFE prioritizes accessibility, privacy, and freedom. If you value
      these principles, try PixivFE now - or better yet, host it locally!
    </p>
    <p class="text-xl font-bold text-neutral-100 -mb-2">How does it work?</p>
    <p>
      PixivFE retrieves content through pixiv's official APIs and displays it
      through our independent interface. When using public instances without an
      account, you remain completely anonymous as all requests are handled
      server-side. Even when connected to an account, pixiv only sees standard
      account activity without cookie/JavaScript tracking.
    </p>
    <p class="text-xl font-bold text-neutral-100 -mb-2">
      How can I make it my own?
    </p>
    <p>
      Concerned about public instance logs? You can
      <a
        href="https://pixivfe-docs.pages.dev/hosting/hosting-pixivfe/"
        class="text-link text-neutral-200 hover:text-neutral-100"
        >self-host your own instance</a
      >
      for personal use.
    </p>
    <p class="-mt-4">
      If you can help others access art freely while protecting privacy,
      consider adding your instance to our
      <a
        href="https://pixivfe-docs.pages.dev/instance-list/"
        class="text-link text-neutral-200 hover:text-neutral-100"
        >public instances list</a
      >!
    </p>

    <details>
      <summary class="w-fit cursor-pointer text-xl font-bold text-neutral-100">
        What's the development cycle for PixivFE like?
      </summary>
      <div class="flex flex-col gap-6 mt-6">
        <div class="flex w-full gap-2">
          <img
            src="/proxy/i.pximg.net/c/1200x1200_90_webp/img-master/img/2024/04/05/20/53/06/117574605_p0_master1200.jpg"
            width="960"
            height="1080"
            loading="lazy"
            class="size-full rounded"
          />

          <img
            src="/proxy/i.pximg.net/c/1200x1200_90_webp/img-master/img/2024/04/05/20/53/06/117574605_p1_master1200.jpg"
            width="960"
            height="1080"
            loading="lazy"
            class="size-full rounded"
          />
        </div>

        <a
          href="/artworks/117574605"
          class="group w-fit self-end -mt-2"
        >
          <div class="flex items-center text-neutral-200 group-hover:text-neutral-100 fill-neutral-200 group-hover:fill-neutral-100 gap-1">
            <div
              class="text-sm font-medium decoration-blue-400 underline decoration-1 group-hover:decoration-2 underline-offset-3 transition"
            >
              <span class="italic">無題</span> by 粕家梅庵
            </div>
          </div>
        </a>
      </div>
    </details>
  </div>


  <div
    class="col-span-1 md:col-span-5 flex flex-col rounded-lg border border-neutral-700 h-fit"
  >
    <div
      class="flex flex-col gap-2 rounded-t-lg border-b border-neutral-700 p-6 py-4"
    >
      <div class="text-xl font-medium">Instance details</div>
      <div class="text-sm text-neutral-400">
        {{ .DomainName }}
      </div>
    </div>
    <div class="flex flex-col gap-5 p-6">
      <div class="flex flex-col gap-4">
        <div class="text-neutral-200">Revision</div>
        <a href="{{- .RepoURL -}}/commit/{{ .RevisionHash }}" class="text-lg w-fit text-link hover:text-neutral-50 -mt-2">
          {{- if .Revision != "" -}} {{- .Revision -}} {{- else -}} unknown {{- end -}}
        </a>
        <div class="text-sm text-neutral-400">
          Specific revision of PixivFE source code in use
        </div>
      </div>

      <hr class="border-neutral-800" />

      <div class="flex flex-col gap-4">
        <div class="text-neutral-200">
          Server start time (UTC)
        </div>
        <div class="text-lg font-medium -mt-2">{{- .Time -}}</div>
        <div class="text-sm text-neutral-400">
          Date and time when this instance was last started
        </div>
      </div>

      <hr class="border-neutral-800" />

      <div class="flex flex-col gap-4">
        <div class="text-neutral-200">
          Default image proxy
        </div>
        <div class="text-lg font-medium -mt-2">{{- .ImageProxy -}}</div>
        <div class="text-sm text-neutral-400">
          Image proxy server used to retrieve images from i.pximg.net
        </div>
      </div>

      <hr class="border-neutral-800" />

      <div class="flex flex-col gap-4">
        <div class="text-neutral-200">
          Accept-Language header
        </div>
        <div class="text-lg font-medium -mt-2">{{- .AcceptLanguage -}}</div>
        <div class="text-sm text-neutral-400">
          Preferred natural language and locale when making requests to the
          pixiv API
        </div>
      </div>

      <hr class="border-neutral-800" />

      <div class="flex flex-col gap-4">
        <div class="text-neutral-200">Release</div>
        <div class="text-lg font-medium -mt-2">{{- .Version -}}</div>
        <div class="text-sm text-neutral-400">Release of PixivFE in use</div>
      </div>
    </div>
  </div>
</div>
{{- end }}
