{{- extends "layout/tw-minimal" }}
{{- block body() }}

<div
  class="flex flex-col justify-center h-fit max-w-212 text-sm gap-6"
  hx-boost="true"
>
  <h1 class="text-2xl font-semibold">You have been blocked temporarily</h1>

  <p class="text-neutral-200 -mt-2">
    You were trying to access {{ .Path }}.
  </p>
  <p class="text-neutral-200 -mt-2">
    For the following reason:
  </p>
  <div
    class="w-full bg-black border border-neutral-700 text-fuchsia-400 font-mono rounded-lg p-6"
  >
    {{ .Reason }}
  </div>
</div>

{{- end }}
