{{- extends "layout/tw-default" }}
{{- block body() }}

{{ visualEffectsEnabled := CookieList["pixivfe-VisualEffectsEnabled"] }}

<div class="flex flex-col xl:flex-row flex-nowrap gap-6">
  {*
  <div class="hidden xl:flex xl:flex-col w-full xl:w-3/12 xl:sticky xl:top-6 xl:h-fit gap-y-4">
    {{- include "fragments/tw-artwork-display" .Illust }}
    {{- include "fragments/tw-artwork-info" .Illust }}
  </div>
  *}

  <div class="flex flex-col w-full xl:w-10/12 mx-auto">
    <div class="flex flex-wrap items-center justify-between border-b-2 border-neutral-700 rounded-t-lg drop-shadow-xl gap-4 sticky top-0 z-2 px-6 py-4
      {{ if !visualEffectsEnabled || visualEffectsEnabled == "true" }}bg-neutral-800/80 backdrop-blur-lg{{ else }}bg-neutral-800{{ end }}">
      <div class="flex items-baseline gap-2">
        <div class="text-xl font-semibold">Comments</div>
        <div class="text-sm font-bold bg-neutral-700/50 rounded px-2 py-1">
          {{ len(.Comments) }}
        </div>
      </div>

      <a href="/artworks/{{ .Illust.ID }}" class="group outlined-button font-semibold gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" class="transform transition-transform group-hover:-translate-x-0.5"><path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z" /></svg>
        <span class="inline md:hidden">Back</span>
        <span class="hidden md:inline">Back to artwork</span>
      </a>
    </div>

    <div id="comments-container" class="flex flex-col border border-neutral-800 rounded-b-lg p-6 gap-6">
      {{ if len(.Comments) > 0 }}
        {{ if len(.Comments) == 1 }}
          {{ range index := .Comments[:1] }}
            {{- include "fragments/comments-container" . }}
          {{ end }}
        {{ else }}
          {{ commentCount := len(.Comments) }}

          <!-- First comment -->
          {{ range index := .Comments[:1] }}
            {{- include "fragments/comments-container" . }}
          {{ end }}

          <!-- Second comment -->
          <div class="flex flex-col items-center z-1">
            <hr class="w-full border-neutral-700">
            <span class="text-xs text-neutral-300 font-semibold bg-neutral-700 rounded select-none z-1 py-0.5 px-1.5 -mt-2.5 -mb-6">New comments</span>
          </div>
          {{ range index := .Comments[1:2] }}
            {{- include "fragments/comments-container" . }}
          {{ end }}

            <!-- Remainder comments, if more than 2 -->
          {{ if len(.Comments) > 2 }}
            {{ range index := .Comments[2:] }}
              <hr class="border-neutral-800">
              {{- include "fragments/comments-container" . }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </div>
</div>
{{- end }}
