{{- extends "layout/tw-default" }}
{{- import "blocks/tw_tab_nav_alt" }}
{{- import "blocks/tw_pill_nav" }}
{{- block body() }}

<!-- Prefetch links -->
<link rel="prefetch" href="/discovery?mode=r18">

<div
  class="flex flex-col w-full max-w-7xl gap-8"
  hx-boost="true"
>
  {{- Type := "discovery" }}
  {{- paths := slice("discovery", "/discovery/novel", "/discovery/users") }}
  {{- names := slice("Artworks", "Novels", "Users")}}
  {{- icons := slice("<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\" viewBox=\"0 -960 960 960\" width=\"24px\"><path d=\"M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0 0v-560 560Zm80-80h400q12 0 18-11t-2-21L586-459q-6-8-16-8t-16 8L450-320l-74-99q-6-8-16-8t-16 8l-80 107q-8 10-2 21t18 11Z\"/></svg>", "<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\" viewBox=\"0 -960 960 960\" width=\"24px\"><path d=\"M240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h480q33 0 56.5 23.5T800-800v640q0 33-23.5 56.5T720-80H240Zm0-80h480v-640h-80v245q0 12-10 17.5t-20-.5l-49-30q-10-6-20.5-6t-20.5 6l-49 30q-10 6-20.5.5T440-555v-245H240v640Zm0 0v-640 640Zm200-395q0 12 10.5 17.5t20.5-.5l49-30q10-6 20.5-6t20.5 6l49 30q10 6 20 .5t10-17.5q0 12-10 17.5t-20-.5l-49-30q-10-6-20.5-6t-20.5 6l-49 30q-10 6-20.5.5T440-555Z\"/></svg>", "<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\" viewBox=\"0 -960 960 960\" width=\"24px\"s><path d=\"M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-240v-32q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v32q0 33-23.5 56.5T720-160H240q-33 0-56.5-23.5T160-240Zm80 0h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z\"/></svg>")}}
  {{- categoryCounts := slice(1, 1, 1) }}
  {{- yield tw_tab_nav_alt(baseURL="", paths=paths, names=names, icons=icons, categoryCounts=categoryCounts, activeState=Type)}}
  <div class="h-[1px] bg-neutral-800 -mt-8"></div>

  <!-- <div class="flex w-fit items-center text-xl font-semibold gap-2 border-b-2 border-b-pixivfe-400 pb-2 pe-16">
    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="m342-320 193.81-52.56Q555-378 568.5-391.5q13.5-13.5 18.94-32.69L640-618q3-9.68-4.66-17.34T618-640l-193.81 52.56Q405-582 391.5-568.5 378-555 372.56-535.81L320-342q-3 9.68 4.66 17.34T342-320Zm138-112q-20 1-34-13.29T432-480q0-20 14-34t34-14q20 0 34 14t14 34q0 20-14 34t-34 14Zm.28 336Q401-96 331-126t-122.5-82.5Q156-261 126-330.96t-30-149.5Q96-560 126-629.5q30-69.5 82.5-122T330.96-834q69.96-30 149.5-30t149.04 30q69.5 30 122 82.5T834-629.28q30 69.73 30 149Q864-401 834-331t-82.5 122.5Q699-156 629.28-126q-69.73 30-149 30Zm-.05-72Q610-168 701-259.23t91-221Q792-610 700.77-701t-221-91Q350-792 259-700.77t-91 221Q168-350 259.23-259t221 91ZM480-480Z"/></svg>
    Discovery
  </div> -->

  <div class="flex flex-row items-center gap-4">
    {{- Mode := isset(Queries.mode) ? Queries.mode : "safe" -}}
    {{- url := replaceQuery(.Queries, "mode", "") -}}
    {{- path := slice("all", "safe", "r18") -}}
    {{- name := slice("All", "Safe", "R-18") -}}
    {{- fragment := "" -}}
    {{- yield tw_pill_nav(baseURL=url, paths=path, names=name, activeState=Mode) -}}

    <form method="post">
      <input type="hidden" name="reset" value="on" />

      <button
        type="submit"
        class="border border-neutral-700 text-neutral-200
          flex items-center w-fit cursor-pointer hover:text-neutral-900 hover:bg-neutral-300 active:scale-95 text-sm font-medium rounded-full px-6 py-1.5 transition"
      >
          Reset
      </button>
    </form>
  </div>

  <!-- Content Area -->
  {{- if .RequiresAsyncLoad }}
    <div
      id="async-content-placeholder"
      class="htmx-swapped-out"
      hx-get="/api/v1/discovery?type=artwork&mode={{- Mode -}}"
      hx-trigger="load"
      hx-target="this"
      hx-swap="outerHTML swap:100ms settle:200ms show:none"
    >
      <!-- Loading skeleton -->
      <div
        id="loading-skeleton"
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6 animate-pulse"
      >
        <div class="aspect-square bg-neutral-800 rounded"></div>
        <div class="aspect-square bg-neutral-800 rounded"></div>
        <div class="aspect-square bg-neutral-800 rounded"></div>
        <div class="aspect-square bg-neutral-800 rounded"></div>
        <div class="aspect-square bg-neutral-800 rounded"></div>
        <div class="aspect-square bg-neutral-800 rounded"></div>
        <div class="aspect-square bg-neutral-800 rounded"></div>
        <div class="aspect-square bg-neutral-800 rounded"></div>
        <div class="aspect-square bg-neutral-800 rounded"></div>
        <div class="aspect-square bg-neutral-800 rounded"></div>
        <div class="aspect-square bg-neutral-800 rounded"></div>
        <div class="aspect-square bg-neutral-800 rounded"></div>
        <div class="aspect-square bg-neutral-800 rounded"></div>
        <div class="aspect-square bg-neutral-800 rounded"></div>
        <div class="aspect-square bg-neutral-800 rounded"></div>
        <div class="aspect-square bg-neutral-800 rounded"></div>
        <div class="aspect-square bg-neutral-800 rounded"></div>
        <div class="aspect-square bg-neutral-800 rounded"></div>
        <div class="aspect-square bg-neutral-800 rounded"></div>
        <div class="aspect-square bg-neutral-800 rounded"></div>
      </div>
    </div>
    {{- else }}
    {{ include "partials/discoveryArtworkPartial" . }}
  {{- end }}

  <noscript>
    <form method="post">
      <button type="submit" class="filled-button font-medium gap-2 mx-auto">
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M480-192q-120 0-204-84t-84-204q0-120 84-204t204-84q65 0 120.5 27t95.5 72v-63q0-15.3 10.29-25.65Q716.58-768 731.79-768t25.71 10.35Q768-747.3 768-732v168q0 15.3-10.35 25.65Q747.3-528 732-528H564q-15.3 0-25.65-10.29Q528-548.58 528-563.79t10.35-25.71Q548.7-600 564-600h95q-29-44-76-70t-103-26q-90 0-153 63t-63 153q0 90 63 153t153 63q75 0 132-45.5T687-424q4-14 16.5-22t26.53-6Q745-450 754-438.5q9 11.5 6 25.5-23 96-100 158.5T480-192Z"/></svg>
        Refresh
      </button>
    </form>
  </noscript>
</div>
{{- end }}
