{{- extends "layout/tw-minimal" }}
{{- block body() }}

<div
  class="flex flex-col justify-center h-fit max-w-212 text-sm gap-6"
  hx-boost="true"
>
  <h1 class="text-2xl font-semibold">HTTP {{ .StatusCode }}</h1>

  {{ if .StatusCode == 404 }}
  <p class="text-neutral-200 -mt-2">
    The requested route does not exist on the server.
  </p>
  {{ else }}
  <p class="text-neutral-200 -mt-2">
    The following error occured when trying to render this page:
  </p>
  <div
    class="w-full bg-black border border-neutral-700 text-fuchsia-400 font-mono rounded-lg p-6"
  >
    {{ .Error }}
  </div>
  <p class="text-neutral-400 font-medium text-xs -mt-3">
    <span class="font-bold">Note:</span> this may be an error from either
    PixivFE itself or the pixiv API.
  </p>
  {{ end }}
</div>

{{- end }}
