{{- extends "layout/tw-default" }}
{{- import "blocks/tw_tab_nav_alt" }}
{{- import "blocks/tw_pill_nav" }}
{{- import "blocks/tw_pagination" }}
{{- block body() }}

<div
  class="flex flex-col w-full lg:w-10/12 max-w-7xl gap-8"
  hx-boost="true"
>
    <div class="flex flex-row flex-wrap justify-between items-center gap-4 -mt-2">
    <!-- <div class="hidden">
      <p>Artworks</p>
      <p>Novels</p>
      <p>Users</p>
    </div> -->
    <div class="flex flex-row items-center gap-4">
      {{- Mode := isset(Queries.mode) ? Queries.mode : "safe" -}}
      {{- url := "/self/followingWorks" + "?mode=" }}
      {{- path := slice("all", "safe", "r18") -}}
      {{- name := slice("All", "Safe", "R-18") -}}
      {{- fragment := "" -}}
      {{- yield tw_pill_nav(baseURL=url, paths=path, names=name, activeState=Mode) -}}
      <!-- <div class="hidden">
        <p>All</p>
        <p>Safe</p>
        <p>R-18</p>
      </div> -->

      <a class="border border-neutral-700 text-neutral-200
          flex items-center w-fit hover:text-neutral-900 hover:bg-neutral-300 active:scale-95 text-sm font-semibold rounded-full px-6 py-1.5 transition"
          href="/discovery">
          Reset
      </a>
    </div>
    <!-- <div class="text-neutral-400 text-xs">
      Recommended based on your recent activity.
    </div> -->
  </div>

  {{- if len(.Data.Body.Thumbnails.Illust) > 0 }}
  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-6">
    {{- include "fragments/tw-small-tn" .Data.Body.Thumbnails.Illust }}
  </div>
  {{- else }}
    <p class="text-neutral-300">Nothing here yet&#8212;find a user to follow!</p>
  {{- end }}
</div>
<!-- Pagination -->
{{- if len(.Data.Body.Thumbnails.Illust) > 0 }}
  {{- url :=  "/self/followingWorks" + "?mode=" + .Mode + "&page=" }}
  {{- paginationData := createPaginator(url, "#checkpoint", .Page, -1, 1, 5) }}
  {{- yield tw_pagination(data=paginationData) }}
{{- end }}
{{- end }}
