{{- extends "layout/tw-minimal" }}
{{- block body() }}

<form id="login" action="/settings/token" method="post">
  <div class="flex flex-col">
    <h1 class="col-span-1 md:col-span-2 text-2xl font-semibold text-neutral-100 ps-6">Sign in</h1>

    <hr class="block md:hidden border-neutral-800 mt-4">

    <div class="flex flex-col h-fit max-w-212 text-neutral-300 gap-6">
      <div class="grid grid-cols-1 md:grid-cols-2">
        <div class="col-span-1 flex flex-col justify-center text-sm/6 gap-4 md:border-e border-neutral-800 px-6 py-4">
          <p>Signing in with your pixiv account will allow you to access these features:</p>
          <ul class="list-disc list-inside -mt-2">
            <li>Personalized results for <span class="font-bold">Discovery</span></li>
            <li>Fully featured <span class="font-bold">Landing</span></li>
            <li>Ability to like and bookmark works</li>
          </ul>
          <p>
            To sign in, you'll need your account's <code class="bg-neutral-950">PHPSESSID</code> cookie (your "token"). Username/password sign-in isn't supported for technical reasons.
          </p>
          <p>
            For help on obtaining your token, refer to
            <a
              href="https://pixivfe-docs.pages.dev/hosting/api-authentication/"
              class="hover:visited:text-purple-300 visited:text-purple-400 hover:text-blue-300 text-blue-400 hover:underline underline-offset-2"
              >our documentation</a
            >.
          </p>
        </div>
        <div class="col-span-1 flex flex-col justify-center gap-6 px-6 py-4">
          <input
            type="hidden"
            id="returnPath"
            name="returnPath"
            value="{{ Queries.loginReturnPath }}"
          />
          <label for="token" class="text-sm text-neutral-100 font-medium">
            Token
          </label>
          <input
            type="password"
            class="block border border-neutral-500 bg-neutral-800 placeholder:text-neutral-500 focus:border-neutral-400 focus:bg-neutral-700 focus:placeholder:text-neutral-400 rounded px-3 py-1.5 -mt-4"
            id="token"
            name="token"
            placeholder="123456_AaBbccDDeeFFggHHIiJjkkllmMnnooPP"
          />
          <div class="text-xs text-neutral-400 -mt-4">
            The underscore separates your member ID (left side) from a random string
            (right side).
          </div>
          <div class="flex items-center justify-end gap-8">
            <a href="{{ Queries.noAuthReturnPath }}" class="flex items-center text-neutral-400 fill-neutral-400 hover:text-neutral-300 hover:fill-neutral-300 font-medium gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="m330-444 176.21 176.21Q517-257 517-242.5t-11 25.98Q495-206 480.5-206t-25.31-10.82L217.4-454.91q-5.4-5.41-7.9-11.72-2.5-6.31-2.5-13.53 0-7.21 2.5-13.53Q212-500 217-505l238-238q11-11 25.67-11 14.66 0 25.33 11 11 10.67 11 25.33 0 14.67-10.84 25.51L330-516h402.02q15.29 0 25.64 10.29Q768-495.42 768-480.21t-10.34 25.71Q747.31-444 732.02-444H330Z"/></svg>
              Return
            </a>
            <button type="submit" class="filled-button font-medium gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M516-144q-15.3 0-25.65-10.29Q480-164.58 480-179.79t10.35-25.71Q500.7-216 516-216h228v-528H516q-15.3 0-25.65-10.29Q480-764.58 480-779.79t10.35-25.71Q500.7-816 516-816h228q29.7 0 50.85 21.15Q816-773.7 816-744v528q0 29.7-21.15 50.85Q773.7-144 744-144H516Zm-78-300H179.96q-15.28 0-25.62-10.29Q144-464.58 144-479.79t10.34-25.71q10.34-10.5 25.62-10.5H438l-56-56q-11-11-11-25.57t11-25.5Q393-634 407.5-634t25.5 11l118 118q11 10.64 11 24.82T551-455L433-337q-11 11-25 10.5T382.52-338Q372-349 372-363.5t11-25.5l55-55Z"/></svg>
              Sign in
            </button>
          </div>
        </div>
      </div>
  </div>
</form>
{{- end }}
