{{- extends "layout/tw-default" }}
{{- import "blocks/tw_pagination" }}
{{- block body() }}

{{ relativeTimeData_CreateDate := relativeTime(.MangaSeries.IllustSeries[0].CreateDate) }}
{{ relativeTimeData_UpdateDate := relativeTime(.MangaSeries.IllustSeries[0].UpdateDate) }}

{{ currentURL := "/users/" + .MangaSeries.Users[0].ID }}

<!-- Prefetch links -->
{*
<link rel="prefetch" href="/users/{{ .MangaSeries.Users[0].ID }}/manga">
*}

<div
  class="grid grid-cols-10 w-fit max-w-7xl gap-8"
  hx-boost="true"
>
  {* NOTE: tried using sticky positioning on the following info element, but it just made the layout feel clunky, especially with the tags expanded *}
  <div class="col-span-10 md:col-span-4 flex flex-col h-fit gap-6">
    <!-- <h3 class="text-body-secondary mb-2">
        Series of {{ .MangaSeries.IllustSeries[0].Total }} works
    </h3> -->

    <!-- Title -->
    <div class="text-3xl font-bold">{{ .MangaSeries.IllustSeries[0].Title }}</div>

    <div class="flex flex-wrap items-center justify-between -mt-2 gap-6">
      {{ include "fragments/tw-avatar-user" .MangaSeries.Users[0] }}

      <div class="flex items-center gap-2">
        <!-- Start reading button -->
        <a href="/artworks/{{ .MangaSeries.IllustSeries[0].FirstIllustID }}" class="filled-button font-medium gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M288-96q-40 0-68-27.5T192-190v-553q0-34 22-59.5t56-32.5l267-56q34-7 60.5 14.5T624-820v479q0 26-16 45.5t-41.06 24.21l-281.89 59.4Q277-210 270.5-203.75 264-197.5 264-190q0 10 7.2 16t16.8 6h408v-588q0-15.3 10.29-25.65Q716.58-792 731.79-792t25.71 10.35Q768-771.3 768-756v588q0 29.7-21.15 50.85Q725.7-96 696-96H288Zm96-211 168-36v-477l-168 35v478Zm-72 15v-477l-30 6q-8 2-13 7.19T264-743v463q5-2 10.5-3t10.5-3l27-6Zm-48-471v483-483Z"/></svg>
          Start reading
        </a>

        {*
        View Pixiv original button
        TODO: looks weird with the "Start reading" button also present; should be removed once we support adding to user's watchlist
        <a href="https://pixiv.net/user/{{.MangaSeries.Users[0].ID}}/series/{{ .MangaSeries.Page.SeriesID }}" class="tonal-button-neutral text-sm font-medium min-h-10">
          View on pixiv.net
        </a>
        *}
      </div>
    </div>

    <div class="col-span-5 flex flex-col h-fit rounded-lg w-full border border-neutral-700 gap-6 p-5">
      <!-- Metadata -->
      <div class="flex items-center flex-wrap text-sm gap-4">
        <div class="flex items-center font-medium text-nowrap gap-1" title="{{ naturalTime: .MangaSeries.IllustSeries[0].UpdateDate }}">
          <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" class="size-4"><path d="M480-144q-70 0-131.13-26.6-61.14-26.6-106.4-71.87-45.27-45.26-71.87-106.4Q144-410 144-480t26.6-131.13q26.6-61.14 71.87-106.4 45.26-45.27 106.4-71.87Q410-816 480-816q81 0 149.5 35T744-686v-94q0-15.3 10.29-25.65Q764.58-816 779.79-816t25.71 10.35Q816-795.3 816-780v168q0 15.3-10.35 25.65Q795.3-576 780-576H612q-15.3 0-25.65-10.29Q576-596.58 576-611.79t10.35-25.71Q596.7-648 612-648h71q-35.91-44.8-88.45-70.4Q542-744 480-744q-109 0-186.5 77.5T216-480q0 109 77.5 186.5T480-216q102 0 176.5-67.5T742-450q2-14 13-22t25.06-8q14.94 0 25.44 9.5Q816-461 814-447q-13 128-107.5 215.5T480-144Zm36-366 90 90q11 11 10.5 25T605-370q-11 11-25.5 11T554-370l-98.71-98.71Q450-474 447-480.69q-3-6.69-3-13.82v-141.81q0-15.17 10.5-25.42Q465-672 480-672t25.5 10.35Q516-651.3 516-636v126Z"/></svg>
          {{- relativeTimeData_UpdateDate.Value }} {{ relativeTimeData_UpdateDate.Description }} {{ if relativeTimeData_UpdateDate.Time }} {{ relativeTimeData_UpdateDate.Time }}{{ end -}}
        </div>
        <div class="flex items-center text-neutral-400 fill-neutral-400 text-nowrap gap-1" title="{{ naturalTime: .MangaSeries.IllustSeries[0].CreateDate }}">
          <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" class="size-4"><path d="M216-96q-29.7 0-50.85-21.5Q144-139 144-168v-528q0-29 21.15-50.5T216-768h72v-60q0-15.3 10.29-25.65Q308.58-864 323.79-864t25.71 10.35Q360-843.3 360-828v60h240v-60q0-15.3 10.29-25.65Q620.58-864 635.79-864t25.71 10.35Q672-843.3 672-828v60h72q29.7 0 50.85 21.5Q816-725 816-696v528q0 29-21.15 50.5T744-96H216Zm0-72h528v-360H216v360Zm0-432h528v-96H216v96Zm0 0v-96 96Z"/></svg>
          {{- relativeTimeData_CreateDate.Value }} {{ relativeTimeData_CreateDate.Description }} {{ if relativeTimeData_CreateDate.Time }} {{ relativeTimeData_CreateDate.Time }}{{ end -}}
        </div>
      </div>

      <!-- Description -->
      {{ if .MangaSeries.IllustSeries[0].Caption }}
        {{ if len (parsePixivRedirect(.MangaSeries.IllustSeries[0].Caption)) <= 1000 }}
          <div class="description text-wrap break-words text-neutral-300 text-base/6">
            {{ raw(parsePixivRedirect(.MangaSeries.IllustSeries[0].Caption)) }}
          </div>
          {{ else }}
          <details class="group/details text-base/6">
            <summary class="group/summary flex w-fit font-medium text-blue-400 hover:text-blue-300 cursor-pointer select-none">
              <span class="inline group-open/details:hidden">
                Read description <span class="text-sm font-normal text-neutral-400 group-hover/summary:text-neutral-300">({{ prettyNumber(len (parsePixivRedirect(.MangaSeries.IllustSeries[0].Caption))) }} characters)</span>
              </span>
              <span class="hidden group-open/details:inline">
                Hide description
              </span>
            </summary>
            <div class="description text-wrap break-words text-neutral-300 group-open/details:opacity-100 opacity-0 transition mt-2">
              {{ raw(parsePixivRedirect(.MangaSeries.IllustSeries[0].Caption)) }}
            </div>
          </details>
        {{ end }}
        {{ else }}
        <div class="text-neutral-400 italic">No description added</div>
      {{ end }}

      <hr class="border-neutral-800">

      <!-- Tags -->
      {{ totalTags := len(.MangaSeries.Tags) }}
      {{ endIndex := (totalTags > 8) ? 8 : totalTags }}
      {{ initialTags := .MangaSeries.Tags[:endIndex] }}
      {{ remainingTags := .MangaSeries.Tags[endIndex:] }}
      {{ tagCount := len(remainingTags) }}

      <div class="flex flex-wrap items-baseline gap-2">
        {{- range initialTags -}}
          <div class="flex flex-wrap items-baseline gap-x-1">
            <a href="/tags/{{ escapeString(.Name) -}}" class="hover:visited:text-purple-300 visited:text-purple-400 hover:text-blue-300 text-blue-400 font-medium animated-underline-alt">#{{ .Name -}}</a>
            {{- if .TagTranslations.En -}}<span class="text-neutral-300 text-sm">({{ .TagTranslations.En -}})</span>{{- end -}}
          </div>
        {{- end -}}
      </div>

      {{ if tagCount > 0 }}
      <details class="group/details -mt-2">
        <summary class="group/summary flex items-center w-fit font-medium text-blue-400 fill-blue-400 hover:bg-blue-500/25 rounded-full cursor-pointer select-none transition gap-2 ps-3 pe-4 py-2 -my-2 mx-auto">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" class="group-open/details:rotate-180 transition"><path d="M480-361q-8 0-15-2.5t-13-8.5L268-556q-11-11-11-28t11-28q11-11 28-11t28 11l156 156 156-156q11-11 28-11t28 11q11 11 11 28t-11 28L508-372q-6 6-13 8.5t-15 2.5Z"/></svg>
          <span class="inline group-open/details:hidden">
            View {{ prettyNumber(tagCount) }} more {{ if tagCount == 1 }}tag{{ else }}tags{{ end }}
          </span>
          <span class="hidden group-open/details:inline">
            Hide {{ if tagCount == 1 }}tag{{ else }}tags{{ end }}
          </span>
        </summary>
        <div class="flex flex-wrap items-baseline group-open/details:opacity-100 opacity-0 transition gap-2 mt-4">
          {{- range remainingTags -}}
            <div class="flex flex-wrap items-baseline gap-x-1">
              <a href="/tags/{{ escapeString(.Name) -}}" class="hover:visited:text-purple-300 visited:text-purple-400 hover:text-blue-300 text-blue-400 font-medium animated-underline-alt">#{{ .Name -}}</a>
              {{- if .TagTranslations.En -}}<span class="text-neutral-300 text-sm">({{ .TagTranslations.En -}})</span>{{- end -}}
            </div>
          {{- end -}}
        </div>
      </details>
      {{ end }}
    </div>
  </div>

  <div id="checkpoint" class="col-span-10 md:col-span-6 grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 h-fit gap-6 scroll-mt-20">
      {{- range .MangaSeries.IllustSeries[0].List }}
        <div class="flex flex-col h-fit col-span-1 gap-2">
          {{ include "fragments/tw-thumbnail-dt" . }}
          {{ include "fragments/tw-thumbnail-tt" . }}
        </div>
      {{- end }}

      <!-- Pagination -->
      <div class="col-span-2 sm:col-span-3 lg:col-span-4">
        {{- url := currentURL + "/series/" + .MangaSeries.Page.SeriesID + "?page="}}
        {{- paginationData := createPaginator(url, "#checkpoint", .Page, .PageLimit, 0, 5) }}
        {{- yield tw_pagination(data=paginationData) }}
      </div>
  </div>


  <!-- <div class="text-xl font-medium text-neutral-200">
    <span class="font-bold text-neutral-100">{{ .MangaSeries.Page.Total }}</span> works in this series
  </div> -->
</div>
{{- end }}
