{{- extends "layout/tw-default" }}
{{- import "blocks/tw_pagination" }}
{{- block body() }}
<div class="flex flex-col w-full lg:w-10/12 gap-8 mx-auto">
  <div>
    <p>
      {{ .Tag.Title }}
    </p>
    <p>
    {{ .Tag.Total }} articles
    </p>
    <p>
    {{ .Tag.Description }}
    </p>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  {{- range .Tag.Articles }}
   {{- include "fragments/tw-pixivision-entry" . }}
  {{- end }}
  </div>
</div>

<!-- Pagination -->
{{- url := "/pixivision/t/" + .ID + "?p=" }}
{{- paginationData := createPaginator(url, "#checkpoint", .Page, -1, 1, 5) }}
{{- yield tw_pagination(data=paginationData) }}
{{- end }}
