{{- extends "layout/tw-default" }}
{{- import "blocks/tw_pagination" }}
{{- block body() }}
<div class="flex flex-col w-full lg:w-10/12 gap-8 mx-auto">
  <div>
    <p>
      {{ .Category.Title }}
    </p>
    <p>
    {{ .Category.Description }}
    </p>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {{- range _, article := .Category.Articles }}
    <div>
      <div>
        <a href="/pixivision/a/{{ article.ID }}" class="w-fit">
          <img src="{{ article.Thumbnail }}" alt="{{ article.Title }}" />
        </a>
      </div>
      <div>
        <a href="/pixivision/a/{{ article.ID }}" class="w-fit">
          <div class="text-lg font-bold text-neutral-200
          hover:text-neutral-100 animated-underline">{{ article.Title }}</div>
        </a>
        <p class="text-sm text-neutral-200">{{parseTimeCustomFormat(article.Date, "2006-01-02")}}</p>
      </div>
    </div>
  {{- end }}
  </div>
</div>

<!-- Pagination -->
{{- url := "/pixivision/t/" + .ID + "?p=" }}
{{- paginationData := createPaginator(url, "#checkpoint", .Page, -1, 1, 5) }}
{{- yield tw_pagination(data=paginationData) }}
{{- end }}
