{{- extends "layout/tw-default" }}
{{- block body() }}
{{- items := len(.Article.Items) }}
{{- mid := items / 2 }}
<div class="flex flex-col w-full lg:w-10/12 gap-8 mx-auto">
  <div class="relative flex flex-col rounded-lg w-full bg-neutral-800
                               gap-4 p-5">

    <img src="{{ .Article.Thumbnail }}" alt="{{ .Article.Title }}" />
    <h1 class="text-2xl">{{ .Article.Title }}</h1>
    {{- range _, desc := .Article.Description }}
      <p class="">{{raw: unescapeHTMLString(desc)}}</p>
    {{- end }}
  </div>

  {* VnPower: This section uses the "deck shuffling" algorithm *}
  <div class="grid grid-cols-1 md:grid-cols-2 auto-rows-max gap-4 pb-4">
    <div>
      {{- range i, _ := .Article.Items[:mid] }}
      {{ ctx := .Article.Items[i+i]}}
      <div>
        <div class="flex items-center gap-3">
          <img src="{{ctx.Avatar}}" alt="{{ctx.Username}}"
          class="aspect-square object-cover rounded-full size-10
                 min-w-10 avatar-outline-glow" />
          <div class="flex flex-col">
            <a href="/artworks/{{ ctx.ID }}" class="w-fit">
              <div class="text-lg font-bold text-neutral-200
              hover:text-neutral-100 line-clamp-1
              animated-underline">{{ ctx.Title }}</div>
            </a>
            <a href="/users/{{ ctx.UserID }}/" class="w-fit">
              <div class="text-neutral-300 hover:text-neutral-200
                          text-sm animated-underline">
                {{ ctx.Username }}
              </div>
            </a>
          </div>
        </div>

        <a href="/artworks/{{ ctx.ID }}" class="w-fit">
          <img src="{{ ctx.Image }}" alt="{{ ctx.Title }}"
          class="w-full" />
        </a>
      </div>
      {{- end }}
    </div>

    <div>
      {{- range i, _ := .Article.Items[:mid] }}
      {{ ctx := .Article.Items[i+1+i]}}
      <div>
        <div class="flex items-center gap-3">
          <img src="{{ctx.Avatar}}" alt="{{ctx.Username}}"
          class="aspect-square object-cover rounded-full size-10
                 min-w-10 avatar-outline-glow" />
          <div class="flex flex-col">
            <a href="/artworks/{{ ctx.ID }}" class="w-fit">
              <div class="text-lg font-bold text-neutral-200
              hover:text-neutral-100 line-clamp-1
              animated-underline">{{ ctx.Title }}</div>
            </a>
            <a href="/users/{{ ctx.UserID }}/" class="w-fit">
              <div class="text-neutral-300 hover:text-neutral-200
                          text-sm animated-underline">
                {{ ctx.Username }}
              </div>
            </a>
          </div>
        </div>

        <a href="/artworks/{{ ctx.ID }}" class="w-fit">
          <img src="{{ ctx.Image }}" alt="{{ ctx.Title }}" class="w-full" />
        </a>
      </div>
      {{- end }}
    </div>
  </div>
</div>
{{- end }}

{*
<div class="row justify-content-center g-4">
  <div class="col-12 mb-5">
    <!-- Tag header -->
    <div class="custom-card bg-charcoal-surface1">
      <div class="row g-0">
        <!-- Tag information -->
        <div class="col-md-8">
          <div class="custom-card-body p-4">
            <!-- <div class="d-flex flex-wrap justify-content-between align-items-start"> -->
              <h2 class="display-6 fw-bold me-2">{{ .Article.Title }}</h2>

              {{- range _, desc := .Article.Description }}
                <p class="lead mb-0">{{raw: unescapeHTMLString(desc)}}</p>
              {{- end }}
            <!-- </div> -->
            <!-- mb-0 to remove the extra bottom margin Bootstrap adds to p class="lead" -->
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-12">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      {{- range .Article.Items }}
        {{- include "fragments/pixivisionArticleItem" . }}
      {{- end }}
    </div>
  </div>
</div>
*}
