{{- extends "layout/tw-default" }}
{{- import "blocks/tw_pagination" }}
{{- import "blocks/tw_tab_nav_alt" }}
{{- import "blocks/tw_underline_nav" }}
{{- import "blocks/tw_radio_group" }}
{{- import "blocks/tw_select" }}

{{- block body() }}

{{- Mode := isset(Queries.mode) ? Queries.mode : "daily" }}
{{- Content := isset(Queries.content) ? Queries.content : "all" }}

<div
  class="grid grid-cols-10 w-full max-w-7xl gap-8 mx-auto"
  hx-boost="true"
>
  <div class="col-span-10 flex flex-col gap-6">
    {*
    TODO: add additional checks to these tw_tab_nav buttons to ensure only valid URLs can be generated
          e.g. selecting the "Ugoira" button hides the buttons under
              "Specialized rankings" as well as the "Monthly" and "Rookie"
              options under "Time frame", but this doesn't occur vice versa
              with the "Ugoira" button still visible if either of the latter
              buttons are selected, thus allowing the user to generate an invalid
              URL even when there is no UX indication that this is the case

          Currently resetting Mode to "daily" upon Content switch as an easy (if inadequate) workaround for this TODO
    *}
    {{- url := "" }}
    {{- if Mode == "original" || Mode == "male" || Mode == "female" || Mode == ""}}
      {{ url = "/ranking?date=" + .Data.CurrentDate + "&page=1&content=" }}
      {{- else }}
        {{- url = "/ranking?mode=" + "daily" + "&date=" + .Data.CurrentDate + "&page=1&content=" }}
    {{- end }}
    {{- paths := slice(
                      "all",
                      "illust",
                      "ugoira",
                      "manga"
                      ) -}}
    {{- names := slice(
                      "Overall",
                      "Illustrations",
                      "Ugoira",
                      "Manga"
                      ) -}}
    {{- icons := slice(
                      "<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"20px\" viewBox=\"0 -960 960 960\" width=\"20px\"><path d=\"M264-216h96v-204q0-15.3 10.35-25.65Q380.7-456 396-456h168q15.3 0 25.65 10.35Q600-435.3 600-420v204h96v-348L480-726 264-564v348Zm-72-12v-336q0-16.85 7.5-31.92Q207-611 221-622l216-162q20-14 43-14t43 14l216 162q14 11 21.5 26.08Q768-580.85 768-564v336q0 34.65-24.67 59.32Q718.65-144 684-144H564q-15.3 0-25.65-10.35Q528-164.7 528-180v-204h-96v204q0 15.3-10.35 25.65Q411.3-144 396-144H276q-34.65 0-59.32-24.68Q192-193.35 192-228Zm288-243Z\"/></svg>",
                      "<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"20px\" viewBox=\"0 -960 960 960\" width=\"20px\"><path d=\"M216-144q-29.7 0-50.85-21.5Q144-187 144-216v-528q0-29 21.15-50.5T216-816h528q29.7 0 50.85 21.5Q816-773 816-744v528q0 29-21.15 50.5T744-144H216Zm0-72h528v-528H216v528Zm0 0v-528 528Zm84-72h360.19Q671-288 676-298t-2-19L566-461q-5.25-8-14-8t-14 8l-94 125-58-77q-5.25-8-14-8t-14 8l-71.82 96.03Q279-308 284.25-298q5.25 10 15.75 10Z\"/></svg>",
                      "<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"20px\" viewBox=\"0 -960 960 960\" width=\"20px\"><path d=\"M624-465q8-5.36 8-15.18T624-495L412-630q-9-6-18.5-.75T384-615v269.68q0 11.32 9.5 16.32t18.5-1l212-135ZM216-144q-29.7 0-50.85-21.15Q144-186.3 144-216v-528q0-29.7 21.15-50.85Q186.3-816 216-816h528q29.7 0 50.85 21.15Q816-773.7 816-744v528q0 29.7-21.15 50.85Q773.7-144 744-144H216Zm0-72h528v-528H216v528Zm0-528v528-528Z\"/></svg>",
                      "<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"20px\" viewBox=\"0 -960 960 960\" width=\"20px\"><path d=\"M168-192q-29.7 0-50.85-21.16Q96-234.32 96-264.04v-432.24Q96-726 117.15-747T168-768h624q29.7 0 50.85 21.16Q864-725.68 864-695.96v432.24Q864-234 842.85-213T792-192H168Zm204-72-20-27q-7-9.78-7-20.89 0-11.11 7.16-20.88L405-404.73v-89.72q0-11.55 6.5-20.55t17.5-13l85-27 52.06-72.3Q573-637 584-640.5t22 .5l84 28 102-34v-50H168v432h204Zm89 0h331v-272l-21-28-81 27-82-27-50 70-82 26.25V-382l-50 70 35 48Zm15-204Z\"/></svg>"
                      ) }}
    <div id="category-nav" class="text-sm border-neutral-800 border-b-2 *:-mb-[2px]">
      {{- yield tw_underline_nav(baseURL=url, paths=paths, names=names, icons=icons, activeState=Content)}}
    </div>

    <div id="checkpoint" class="scroll-mt-20">
      {{- include "fragments/tw-ranking-nav" . -}}
    </div>

    <div class="grid grid-cols-2 md:grid-cols-4 gap-6">
      {{- include "fragments/tw-ranking-tn" .Data.Contents }}
    </div>

    <!-- Pagination -->
    {{- paginationURL := "/ranking?content=" + Content +"&date=" + .Data.CurrentDate + "&mode=" + Mode + "&page=" }}
    {{- paginationData := createPaginator(paginationURL, "#checkpoint", .Page, .PageLimit, 0, 5) }}
    {{- yield tw_pagination(data=paginationData) }}
  </div>
</div>

<!-- Prefetch links -->
{{- nextDateURL := "" }}
{{- if Mode == "original" || Mode == "male" || Mode == "female" || Mode == ""}}
  {{ nextDateURL = "/ranking?date=" + .Data.NextDate + "&page=1&content=" + Content }}
  {{- else }}
    {{- nextDateURL = "/ranking?mode=" + "daily" + "&date=" + .Data.NextDate + "&page=1&content=" + Content }}
{{- end }}

{{- prevDateURL := "" }}
{{- if Mode == "original" || Mode == "male" || Mode == "female" || Mode == ""}}
  {{ prevDateURL = "/ranking?date=" + .Data.PrevDate + "&page=1&content=" + Content }}
  {{- else }}
    {{- prevDateURL = "/ranking?mode=" + "daily" + "&date=" + .Data.PrevDate + "&page=1&content=" + Content }}
{{- end }}

<link rel="prefetch" href="{{- nextDateURL -}}">
<link rel="prefetch" href="{{- prevDateURL -}}">

<!-- End of main content -->
{{- end }}
