{{- extends "layout/tw-default" }}
{{- import "blocks/tw_underline_nav" }}
{{- import "blocks/tw_select" }}
{{- block body() }}

{{- Mode := isset(Queries.mode) ? Queries.mode : "daily" }}

<!-- Prefetch links -->
{{- url := "/rankingCalendar?mode=" + .Mode + "&date=" }}
<link rel="prefetch" href="{{- url -}}{{- .MonthAfter.Link -}}" />
<link rel="prefetch" href="{{- url -}}{{- .MonthBefore.Link -}}" />

<div class="hidden">
  <p>Daily</p>
  <p>Weekly</p>
  <p>Monthly</p>
  <p>Rookie</p>
  <p>Daily (R-18)</p>
  <p>Weekly (R-18)</p>
  <p>Weekly (R-18G)</p>
  <p>Original</p>
  <p>Popular among males</p>
  <p>Popular among females</p>
  <p>Popular among males (R-18)</p>
  <p>Popular among females (R-18)</p>
</div>

<div
  class="flex flex-col w-full max-w-7xl gap-8"
  hx-boost="true"
>
  <!-- Navigation and title -->
  <div id="checkpoint" class="scroll-mt-20">
    {{- include "fragments/tw-ranking-calendar-nav" . }}
  </div>

  <div class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-5 xl:grid-cols-7 gap-[1px] bg-neutral-800 border border-neutral-800 rounded -mt-2">
    {* Days of week header *}
    {{ range _, dayName := slice("Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat") }}
      <div class="col-span-1 hidden xl:block text-center text-lg font-medium text-neutral-200 py-2
                  {{ if dayName == "Sat" }} border-0 last:me-0 {{ else }} border-e border-neutral-900 -me-[1px] {{ end }}"
      >
        {{ dayName }}
      </div>
    {{ end }}

    {* Calendar days *}
    {{ range _, day := .Calendar }}
      {{ if day.DayNumber > 0 }}
        <div class="col-span-1 size-full max-w-48 min-h-48 bg-neutral-900 p-4">
          {{ if day.ImageURL }}
            {* Thumbnail calculations *}
            {{ thumbnail := day.Thumbnails.Webp_1200 ? day.Thumbnails.Webp_1200 : day.ImageURL }}
            {{ size := day.Thumbnails.Webp_1200 ? "1200px" : "360px" }}

            <a
              href="/ranking?date={{- day.DateString -}}&mode={{- Mode -}}"
              class="group/image flex active:scale-95 transition relative"
            >
              <img
                src="{{- thumbnail -}}"
                width="{{- size -}}"
                height="{{- size -}}"
                class="aspect-square object-cover rounded group-outline-glow"
              />
              <div class="absolute top-0 start-0 font-medium text-white bg-black/80 rounded-tl rounded-br px-2 py-1 p-2">
                {{- ordinalNumeral(day.DayNumber) -}}
              </div>
            </a>
          {{ else }}
            <div class="grid place-items-center size-full text-lg font-medium text-neutral-400">
              {{- ordinalNumeral(day.DayNumber) -}}
            </div>
        {{ end }}
        </div>
      {{ else }}
        <div class="col-span-1 bg-neutral-900 hidden xl:block">
        </div>
      {{ end }}
    {{ end }}
  </div>

  {*
  <!-- Navigation buttons -->
  {{- include "fragments/tw-ranking-calendar-nav" . }}
  *}
</div>
{{- end }}
