{{- extends "layout/tw-default" }}
{{- import "blocks/tw_underline_nav" }}
{{- import "blocks/tw_select" }}
{{- import "blocks/tw_pagination" }}
{{- import "blocks/tw_pill_nav" }}
{{- block body() }}

<div class="hidden">
  <p>Artworks</p>
  <p>Illustrations</p>
  <p>Manga</p>
  <p>All</p>
  <p>Portrait</p>
  <p>Square</p>
  <p>Landscape</p>
  <p>Newest</p>
  <p>Oldest</p>
  <p>All</p>
  <p>Safe</p>
  <p>R-18</p>
  <p>None</p>
  <p>Exact (tags)</p>
  <p>Partial (tags)</p>
  <p>Title/Caption</p>
</div>

<div
  class="flex flex-col w-full gap-8"
  hx-boost="true"
>
  <!-- Tag header -->
  <div
    class="relative flex flex-col h-fit overflow-hidden bg-top bg-no-repeat bg-cover not-motion-reduce:bg-fixed -mx-4 -mt-6"
    style="background-image: url({{- if .Tag.CoverArtwork.Thumbnails.Webp_1200 -}} {{- .Tag.CoverArtwork.Thumbnails.Webp_1200 -}} {{- else -}} {{- .Tag.Metadata.Image -}} {{- end -}})"
  >
    <div class="flex justify-start items-end size-full bg-linear-to-b from-neutral-900/40 to-neutral-900 gap-1 p-8 pb-12 z-1 pt-48">
      <div class="flex items-start w-full max-w-7xl gap-1 mx-auto">
        <div class="text-4xl sm:text-6xl font-bold">
          #
        </div>
        <div class="flex flex-col items-start w-full gap-6">
          <h2 class="text-4xl sm:text-6xl font-bold">{{ .Tag.Name }}</h2>
          <h3 class="text-lg text-neutral-300 font-medium -mt-4">{{ .Tag.Metadata.Name }}</h3>
          <div class="text-neutral-200 -mt-3">
            <span class="font-semibold">{{ prettyNumber(.Data.Artworks.Total) }}</span> <span class="font-medium">works</span>
          </div>

          <div class="flex flex-col justify-between w-full gap-6">
            <div class="flex flex-col gap-0.5">
              <p class="text-sm/6 text-neutral-300">
                {{- if .Tag.Metadata.Detail }}
                  {{ .Tag.Metadata.Detail }}
                {{ end }}
              </p>
              <a
                href="https://dic.pixiv.net/a/{{ .Tag.Name }}"
                target="_blank"
                class="group w-fit"
              >
                <div class="flex items-center text-neutral-300 group-hover:text-neutral-200 fill-neutral-300 group-hover:fill-neutral-200 decoration-blue-400 hover:underline underline-offset-3 decoration-2 gap-1">
                  <div
                    class="text-sm font-medium decoration-blue-400 transition"
                  >
                    More on pixpedia
                  </div>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="20px"
                    viewBox="0 -960 960 960"
                    width="20px"
                    class="size-3"
                  >
                    <path
                      d="M216-144q-29.7 0-50.85-21.15Q144-186.3 144-216v-528q0-29.7 21.15-50.85Q186.3-816 216-816h228q15.3 0 25.65 10.29Q480-795.42 480-780.21t-10.35 25.71Q459.3-744 444-744H216v528h528v-228q0-15.3 10.29-25.65Q764.58-480 779.79-480t25.71 10.35Q816-459.3 816-444v228q0 29.7-21.15 50.85Q773.7-144 744-144H216Zm528-549L412-361q-11 11-25 10.5T362-362q-11-11-11-25.5t11-25.5l331-331h-81q-15.3 0-25.65-10.29Q576-764.58 576-779.79t10.35-25.71Q596.7-816 612-816h168q15.3 0 25.65 10.35Q816-795.3 816-780v168q0 15.3-10.29 25.65Q795.42-576 780.21-576t-25.71-10.35Q744-596.7 744-612v-81Z"
                    />
                  </svg>
                </div>
              </a>
            </div>

            {{ if .Tag.Metadata.ID != "" }}
              <a
                href="/artworks/{{ .Tag.Metadata.ID }}"
                class="group w-fit self-end"
              >
                <div class="flex items-center text-neutral-200 group-hover:text-neutral-100 fill-neutral-200 group-hover:fill-neutral-100 gap-1">
                  <div
                    class="text-sm font-medium decoration-blue-400 underline decoration-1 group-hover:decoration-2 underline-offset-3 transition"
                  >
                    <span class="italic">{{ .Tag.CoverArtwork.Title }}</span> by {{ .Tag.CoverArtwork.UserName }}
                  </div>
                </div>
              </a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>

    <!-- <img
      src="{{- if .Tag.CoverArtwork.Thumbnails.Webp_1200 -}} {{ .Tag.CoverArtwork.Thumbnails.Webp_1200 }} {{- else -}} {{ .Tag.Metadata.Image }} {{- end -}}"
      alt="{{ .Title }}"
      width="{{- .Tag.CoverArtwork.Width -}}"
      height="{{- .Tag.CoverArtwork.Height -}}"
      class="absolute bottom-0 start-0 size-full object-cover object-top"
      fetchpriority="high" decoding="async"
    /> -->
  </div>

  {* Related tags *}
  <div class="w-full max-w-7xl mx-auto">
    {{ include "fragments/tw-category-frequent-tags" .Data.RelatedTags }}
  </div>

  <div class="flex flex-col w-full max-w-7xl gap-8 mx-auto">
    <!-- Popular artworks -->
    {{- if (len(.Data.Popular.Permanent) + len(.Data.Popular.Recent) != 0) && .Page == 1 }}
      <div class="flex flex-col w-full gap-8">
        <input type="checkbox" id="show-popular" class="peer hidden">
        <div class="peer-checked:hidden flex flex-col gap-6">
          <div class="flex items-center justify-between text-neutral-100 gap-2">
            <div class="flex flex-col border-amber-400 border-s-6 ps-4 pb-2">
              <div class="text-sm text-neutral-400 starting:text-white transition duration-500 ease-out">
                All time
              </div>
              <h3 class="text-xl font-medium">
                Popular artworks
              </h3>
            </div>

            {{- if len(.Data.Popular.Recent) != 0 }}
              <label for="show-popular" class="tonal-button-neutral text-sm font-medium">
                Show recent
              </label>
            {{- end }}
          </div>

          {{- if len(.Data.Popular.Permanent) != 0 }}
            <div
              class="grid grid-rows-1 grid-flow-col *:w-48 *:sm:w-96 *:snap-start *:scroll-ms-2 snap-x snap-mandatory overflow-x-auto gap-6 ps-2 pt-2 pb-6 pe-48 -mt-2 -ms-2 -mb-6
                    starting:opacity-0 opacity-100 transition"
            >
              {{- include "fragments/tw-small-tn" .Data.Popular.Permanent }}
            </div>
          {{- end }}
        </div>

        <div class="hidden peer-checked:flex flex-col gap-6">
          <div class="flex items-center justify-between text-neutral-100 gap-2">
            <div class="flex flex-col border-amber-400 border-s-6 ps-4 pb-2">
              <div class="text-sm text-neutral-400 starting:text-white transition duration-500 ease-out">
                Recent
              </div>
              <h3 class="text-xl font-medium">
                Popular artworks
              </h3>
            </div>

            {{- if len(.Data.Popular.Permanent) != 0 }}
              <label for="show-popular" class="tonal-button-neutral text-sm font-medium">
                Show all time
              </label>
            {{- end }}
          </div>

          {{- if len(.Data.Popular.Recent) != 0 }}
            <div
              class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6
                    starting:opacity-0 opacity-100 transition"
            >
              {{- include "fragments/tw-small-tn" .Data.Popular.Recent }}
            </div>
          {{- end }}
        </div>
      </div>
    {{- end }}

    <!-- Categories -->
    <div id="checkpoint" class="border-neutral-800 border-b-2 *:-mb-[2px] scroll-mt-20">
      {{- _Category := isset(.Queries.category) ? .Queries.category : "artworks" }}
      {{- URL := unfinishedQuery(.QueriesC, "category") }}
      {{- path := slice("artworks" + "#", "illustrations" + "#", "manga" + "#") }}
      {{- name := slice("Overall", "Illustrations", "Manga") }}
      {{- icons := slice(
                        "<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"20px\" viewBox=\"0 -960 960 960\" width=\"20px\"><path d=\"M264-216h96v-204q0-15.3 10.35-25.65Q380.7-456 396-456h168q15.3 0 25.65 10.35Q600-435.3 600-420v204h96v-348L480-726 264-564v348Zm-72-12v-336q0-16.85 7.5-31.92Q207-611 221-622l216-162q20-14 43-14t43 14l216 162q14 11 21.5 26.08Q768-580.85 768-564v336q0 34.65-24.67 59.32Q718.65-144 684-144H564q-15.3 0-25.65-10.35Q528-164.7 528-180v-204h-96v204q0 15.3-10.35 25.65Q411.3-144 396-144H276q-34.65 0-59.32-24.68Q192-193.35 192-228Zm288-243Z\"/></svg>",
                        "<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"20px\" viewBox=\"0 -960 960 960\" width=\"20px\"><path d=\"M216-144q-29.7 0-50.85-21.5Q144-187 144-216v-528q0-29 21.15-50.5T216-816h528q29.7 0 50.85 21.5Q816-773 816-744v528q0 29-21.15 50.5T744-144H216Zm0-72h528v-528H216v528Zm0 0v-528 528Zm84-72h360.19Q671-288 676-298t-2-19L566-461q-5.25-8-14-8t-14 8l-94 125-58-77q-5.25-8-14-8t-14 8l-71.82 96.03Q279-308 284.25-298q5.25 10 15.75 10Z\"/></svg>",
                        "<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"20px\" viewBox=\"0 -960 960 960\" width=\"20px\"><path d=\"M168-192q-29.7 0-50.85-21.16Q96-234.32 96-264.04v-432.24Q96-726 117.15-747T168-768h624q29.7 0 50.85 21.16Q864-725.68 864-695.96v432.24Q864-234 842.85-213T792-192H168Zm204-72-20-27q-7-9.78-7-20.89 0-11.11 7.16-20.88L405-404.73v-89.72q0-11.55 6.5-20.55t17.5-13l85-27 52.06-72.3Q573-637 584-640.5t22 .5l84 28 102-34v-50H168v432h204Zm89 0h331v-272l-21-28-81 27-82-27-50 70-82 26.25V-382l-50 70 35 48Zm15-204Z\"/></svg>"
                        ) }}
      {{- yield tw_underline_nav(baseURL=URL, paths=path, names=name, activeState=.ActiveCategory + "#") }}
    </div>

    <!-- Main works -->
    <div class="flex items-center justify-between gap-4 -mt-2">
      {{- _Mode := isset(.Queries.mode) ? .Queries.mode : "safe" }}
      {{- URL := unfinishedQuery(.QueriesC, "mode") }}
      {{- path := slice("all" + "#", "safe" + "#", "r18" + "#") }}
      {{- name := slice("All", "Safe", "R-18") }}
      {{- icons := slice("", "", "") }}
      {{- yield tw_pill_nav(baseURL=URL, paths=path, names=name, activeState=.ActiveMode + "#") }}

      <button
        popovertarget="tagOptions"
        class="flex items-center cursor-pointer text-neutral-200 fill-neutral-200 hover:text-neutral-100 hover:fill-neutral-100 font-medium hover:bg-neutral-700 active:scale-95 rounded-lg px-3 py-2 gap-2 transition"
      >
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M480-120q-17 0-28.5-11.5T440-160v-160q0-17 11.5-28.5T480-360q17 0 28.5 11.5T520-320v40h280q17 0 28.5 11.5T840-240q0 17-11.5 28.5T800-200H520v40q0 17-11.5 28.5T480-120Zm-320-80q-17 0-28.5-11.5T120-240q0-17 11.5-28.5T160-280h160q17 0 28.5 11.5T360-240q0 17-11.5 28.5T320-200H160Zm160-160q-17 0-28.5-11.5T280-400v-40H160q-17 0-28.5-11.5T120-480q0-17 11.5-28.5T160-520h120v-40q0-17 11.5-28.5T320-600q17 0 28.5 11.5T360-560v160q0 17-11.5 28.5T320-360Zm160-80q-17 0-28.5-11.5T440-480q0-17 11.5-28.5T480-520h320q17 0 28.5 11.5T840-480q0 17-11.5 28.5T800-440H480Zm160-160q-17 0-28.5-11.5T600-640v-160q0-17 11.5-28.5T640-840q17 0 28.5 11.5T680-800v40h120q17 0 28.5 11.5T840-720q0 17-11.5 28.5T800-680H680v40q0 17-11.5 28.5T640-600Zm-480-80q-17 0-28.5-11.5T120-720q0-17 11.5-28.5T160-760h320q17 0 28.5 11.5T520-720q0 17-11.5 28.5T480-680H160Z"/></svg>
        <span class="hidden sm:inline">Search options</span>
      </button>
    </div>


    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-6">
      {{- include "fragments/tw-small-tn" .Data.Artworks.Artworks }}
    </div>

    <!-- Pagination -->
    {{ lastPage := -1 }}
    {{ if .Data.Artworks.LastPage }}
      {{- lastPage = .Data.Artworks.LastPage -}}
    {{ end }}

    {{- url := unfinishedQuery(.QueriesC, "page") -}}
    {{- paginationData := createPaginator(url, "#checkpoint", .Page, lastPage, 0, 5) -}}
    {{- yield tw_pagination(data=paginationData) -}}
  </div>


  <!-- Search options modal -->
  <!-- NOTE: unlike the modals on the ranking and calendar ranking pages, this one uses mb-4 due to the amount of options, which causes mb-3 to feel cluttered -->
</div>
<!-- End of main content -->
{{- end }}
