{{- extends "layout/tw-minimal" }}
{{- block body() }}
<div
  class="flex flex-col w-fit gap-10 mx-auto"
  hx-boost="true"
>
  <h1 class="text-2xl font-medium text-center">Sign in required</h1>

  <p class="text-neutral-300 text-sm text-center -mt-6">
    Accessing this feature requires a pixiv account.
  </p>

  <div class="flex items-center justify-center gap-8">
    <a href="{{ .NoAuthReturnPath }}" class="flex items-center text-neutral-400 fill-neutral-400 hover:text-neutral-300 hover:fill-neutral-300 font-medium gap-2">
      <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="m330-444 176.21 176.21Q517-257 517-242.5t-11 25.98Q495-206 480.5-206t-25.31-10.82L217.4-454.91q-5.4-5.41-7.9-11.72-2.5-6.31-2.5-13.53 0-7.21 2.5-13.53Q212-500 217-505l238-238q11-11 25.67-11 14.66 0 25.33 11 11 10.67 11 25.33 0 14.67-10.84 25.51L330-516h402.02q15.29 0 25.64 10.29Q768-495.42 768-480.21t-10.34 25.71Q747.31-444 732.02-444H330Z"/></svg>
      Return
    </a>
    <a href="/self/login?noAuthReturnPath={{ .NoAuthReturnPath }}&loginReturnPath={{ .LoginReturnPath }}" class="filled-button font-medium gap-2">
      <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M516-144q-15.3 0-25.65-10.29Q480-164.58 480-179.79t10.35-25.71Q500.7-216 516-216h228v-528H516q-15.3 0-25.65-10.29Q480-764.58 480-779.79t10.35-25.71Q500.7-816 516-816h228q29.7 0 50.85 21.15Q816-773.7 816-744v528q0 29.7-21.15 50.85Q773.7-144 744-144H516Zm-78-300H179.96q-15.28 0-25.62-10.29Q144-464.58 144-479.79t10.34-25.71q10.34-10.5 25.62-10.5H438l-56-56q-11-11-11-25.57t11-25.5Q393-634 407.5-634t25.5 11l118 118q11 10.64 11 24.82T551-455L433-337q-11 11-25 10.5T382.52-338Q372-349 372-363.5t11-25.5l55-55Z"/></svg>
      Go to sign-in page
    </a>
  </div>
</div>
{{- end }}
