{{- extends "layout/tw-default" }}
{{- import "blocks/tw_pagination" }}
{{- import "blocks/tw_tab_nav_alt" }}
{{- import "blocks/tw_pill_nav" }}
{{- import "blocks/tw_follow_buttons" }}
{{- block body() }}

{{- userID := CookieList["pixivfe-UserID"] -}}

{{- visualEffectsEnabled := CookieList["pixivfe-VisualEffectsEnabled"] }}

<div class="hidden">
  <p>Home</p>
  <p>Illustrations</p>
  <p>Manga</p>
  <p>Novels</p>
  <p>Bookmarks</p>
</div>

<!-- Profile background image -->
{{ if .User.BackgroundImage }}
  {{- bgImage := .User.BackgroundImage -}}
  {{- if .User.BackgroundImageOriginal -}}
    {{ bgImage = .User.BackgroundImageOriginal -}}
  {{- end -}}

  <div class="relative h-48 w-full">
    <a href="{{- bgImage -}}" class="group">
      <div
        class="h-full bg-cover bg-center -mx-4 -mt-6"
        style="background-image: url({{- bgImage -}})">
          <div class="h-full bg-black/40 group-hover:bg-black/30 transition"></div>
      </div>
      <div
        class="absolute inset-2/4 size-fit hidden group-hover:block bg-black/80 -translate-x-2/4 -translate-y-full
              text-nowrap text-white text-sm font-medium group-hover:starting:opacity-0 opacity-0 group-hover:opacity-100 transition-all transition-discrete px-3 py-1.5 rounded-full
              {{ if !visualEffectsEnabled || visualEffectsEnabled == "on" }}backdrop-blur{{ end }}"
      >
        View full-size banner
      </div>
    </a>
  </div>
  {{ else }}
  <div class="h-48 w-full">
    <div class="h-full bg-cover bg-center -mx-4 -mt-6">
        <div class="h-full bg-neutral-950"></div>
    </div>
  </div>
{{ end }}

<div
  class="flex flex-col w-full max-w-7xl gap-8 mx-auto"
  hx-boost="true"
>
  <div class="flex flex-col sm:flex-row items-start gap-8 p-6">
    <a href="{{ if .User.AvatarOriginal }}{{- .User.AvatarOriginal -}}{{ else }}{{- .User.Avatar -}}{{ end }}">
      <img
        src="{{- .User.Avatar -}}"
        alt="User avatar"
        class="size-32 min-w-32 rounded-full object-cover"
      >
    </a>

    <div class="flex flex-col flex-wrap justify-start w-full gap-6">
      <div class="flex flex-wrap items-baseline gap-4">
        <a href="/users/{{ .User.ID }}">
          <div class="text-4xl font-bold animated-underline">{{ .User.Name }}</div>
        </a>
        {*
        {{- include "fragments/tw-social-media-links" .User }}
        *}

        {{ if userID != .User.ID }}
          <div class="hidden sm:block ms-auto">
            {{ yield tw_follow_buttons(data=.User, style="filled") }}
          </div>
        {{ end }}
      </div>

      <div
        class="font-medium text-neutral-400 -mt-3"
        hx-boost="true"
      >
        <a href="/users/{{ .User.ID }}/following#" class="group animated-underline">
          <span class="font-bold text-neutral-200">{{ prettyNumber(.User.Following) }}</span> following
        </a>
      </div>

      <div class="text-sm text-neutral-400 -mt-4">
        <span class="font-semibold">{{ prettyNumber(.User.MyPixiv) }}</span> MyPixiv
      </div>

      <!-- User bio -->
      <button popovertarget="userProfile" class="tonal-button-neutral text-sm font-medium">
        View details
      </button>

      <div class="block sm:hidden">
        {{ yield tw_follow_buttons(data=.User, style="filled") }}
      </div>
    </div>
  </div>

  <div id="checkpoint" class="flex flex-col w-full gap-6 scroll-mt-20 mx-auto">
    <!-- Navigation -->
    <div class="w-full lg:w-10/12 mx-auto">
      {* Using an empty fragment identifier so that htmx preserves the page position *}
      {{- baseURL := "/users/" + .User.ID + "/" }}
      {{- paths := slice(
                        "" + "#",
                        "illustrations" + "#",
                        "manga" + "#",
                        "novels" + "#",
                        "bookmarks" + "#"
                        ) }}
      {{- names := slice(
                        "Home",
                        "Illustrations",
                        "Manga",
                        "Novels",
                        "Bookmarks"
                        ) }}
      {{- icons := slice(
                        "<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\" viewBox=\"0 -960 960 960\" width=\"24px\"><path d=\"M240-200h120v-200q0-17 11.5-28.5T400-440h160q17 0 28.5 11.5T600-400v200h120v-360L480-740 240-560v360Zm-80 0v-360q0-19 8.5-36t23.5-28l240-180q21-16 48-16t48 16l240 180q15 11 23.5 28t8.5 36v360q0 33-23.5 56.5T720-120H560q-17 0-28.5-11.5T520-160v-200h-80v200q0 17-11.5 28.5T400-120H240q-33 0-56.5-23.5T160-200Zm320-270Z\"/></svg>",
                        "<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\" viewBox=\"0 -960 960 960\" width=\"24px\"><path d=\"M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0 0v-560 560Zm80-80h400q12 0 18-11t-2-21L586-459q-6-8-16-8t-16 8L450-320l-74-99q-6-8-16-8t-16 8l-80 107q-8 10-2 21t18 11Z\"/></svg>",
                        "<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\" viewBox=\"0 -960 960 960\" width=\"24px\"><path d=\"M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm164-80-26-37q-8-11-8-23.5t8-23.5l59-81v-101q0-13 7-23.5t20-14.5l96-31 60-82q8-11 20-14.5t24 .5l96 31 120-39v-41H160v480h164Zm99 0h377v-309l-27-37-93 30-92-30-58 79-93 30v98l-57 79 43 60Zm14-237Z\"/></svg>",
                        "<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\" viewBox=\"0 -960 960 960\" width=\"24px\"><path d=\"M240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h480q33 0 56.5 23.5T800-800v640q0 33-23.5 56.5T720-80H240Zm0-80h480v-640h-80v245q0 12-10 17.5t-20-.5l-49-30q-10-6-20.5-6t-20.5 6l-49 30q-10 6-20.5.5T440-555v-245H240v640Zm0 0v-640 640Zm200-395q0 12 10.5 17.5t20.5-.5l49-30q10-6 20.5-6t20.5 6l49 30q10 6 20 .5t10-17.5q0 12-10 17.5t-20-.5l-49-30q-10-6-20.5-6t-20.5 6l-49 30q-10 6-20.5.5T440-555Z\"/></svg>",
                        "<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\" viewBox=\"0 -960 960 960\" width=\"24px\"><path d=\"m480-240-168 72q-40 17-76-6.5T200-241v-519q0-33 23.5-56.5T280-840h400q33 0 56.5 23.5T760-760v519q0 43-36 66.5t-76 6.5l-168-72Zm0-88 200 86v-518H280v518l200-86Zm0-432H280h400-200Z\"/></svg>"
                        ) }}
      {{- categoryCounts := slice(
                                  1,
                                  .User.Categories.illustrations.WorkCount,
                                  .User.Categories.manga.WorkCount,
                                  .User.Categories.novels.WorkCount,
                                  .User.Categories.bookmarks.WorkCount
                                  ) }}
      {{- yield tw_tab_nav_alt(baseURL=baseURL, paths=paths, names=names, icons=icons, categoryCounts=categoryCounts, activeState=.Category.Value + "#") }}

      {*
      NOTE: these filters technically work but are disabled due to issues with pagination and work counts

      {{- Mode := isset(Queries.mode) ? Queries.mode : "all" }}
      {{- url := replaceQuery(.Queries, "mode", "") }}
      {{- path := slice("all", "safe") }}
      {{- name := slice("All", "Safe")}}
      {{- yield UnderlineNav(baseURL=url, paths=path, names=name, activeState=Mode)}}
      <div class="hidden">
        <p>All</p>
        <p>Safe</p>
      </div>
      *}
    </div>

    <div class="h-[1px] bg-neutral-800 -mt-6"></div>

    <!-- User content -->

    <!-- Home category (all works) -->
    {{- if .Category.Value == "" || .Category.Value == "artworks" }}
      {* Initialize a flag to track the first rendered group *}
      {{- isFirstGroup := true }}

      <!-- Illustrations -->
      {{ if len(.User.Categories.illustrations.IllustWorks) != 0 }}
        {{- if not isFirstGroup }}
          <div class="h-[1px] bg-neutral-800"></div>
        {{- end }}

        <!-- Header with work count -->
        <div class="flex w-fit max-w-full items-baseline border-b-4 border-b-pixivfe-400 space-x-2 pb-2 pe-12">
          <div class="text-lg font-semibold">
            Illustrations
          </div>
          <div class="text-sm font-bold bg-neutral-700/50 rounded px-2 py-1">
            {{ prettyNumber(.User.Categories.illustrations.WorkCount) }}
          </div>
        </div>

        {{ include "fragments/tw-category-frequent-tags" .User.Categories.illustrations.FrequentTags }}

        <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-6">
          {{- include "fragments/tw-small-tn" .User.Categories.illustrations.IllustWorks }}
        </div>

        {* TODO: use a better check than this *}
        {{ if len(.User.Categories.illustrations.IllustWorks) > 29 }}
          <a href="{{ .User.ID + "/illustrations" + "?page=2#checkpoint" }}" class="filled-button font-medium gap-2 mx-auto">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M440-440H240q-17 0-28.5-11.5T200-480q0-17 11.5-28.5T240-520h200v-200q0-17 11.5-28.5T480-760q17 0 28.5 11.5T520-720v200h200q17 0 28.5 11.5T760-480q0 17-11.5 28.5T720-440H520v200q0 17-11.5 28.5T480-200q-17 0-28.5-11.5T440-240v-200Z"/></svg>
            View more
          </a>
        {{- end }}

        {* After rendering Illustrations, set isFirstGroup to false *}
        {{- isFirstGroup = false }}
      {{- end }}

      <!-- Manga -->
      {{ if len(.User.Categories.manga.IllustWorks) != 0 }}
        {{- if not isFirstGroup }}
          <div class="h-[1px] bg-neutral-800"></div>
        {{- end }}

        <!-- Header with work count -->
        <div class="flex w-fit max-w-full items-baseline border-b-4 border-b-pixivfe-400 space-x-2 pb-2 pe-12">
          <div class="text-lg font-semibold">
            Manga
          </div>
          <div class="text-sm font-bold bg-neutral-700/50 rounded px-2 py-1">
            {{ prettyNumber(.User.Categories.manga.WorkCount) }}
          </div>
        </div>

        {{ include "fragments/tw-category-frequent-tags" .User.Categories.manga.FrequentTags }}

        {{- if len(.User.Categories.manga.MangaSeries) != 0 }}
          <div class="grid grid-flow-col auto-cols-max grid-rows-1 *:snap-start snap-x snap-mandatory overflow-x-scroll fade-right-sharp gap-4 pe-12 lg:pe-24 pb-4">
            {{- range .User.Categories.manga.MangaSeries }}
              {{- include "fragments/tw-mangaseries-tn" .  }}
            {{- end }}
          </div>
        {{- end }}

        <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-6">
          {{- include "fragments/tw-small-tn" .User.Categories.manga.IllustWorks }}
        </div>

        {{ if len(.User.Categories.manga.IllustWorks) > 29 }}
          <a href="{{ .User.ID + "/manga" + "?page=2#checkpoint" }}" class="filled-button font-medium gap-2 mx-auto">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M440-440H240q-17 0-28.5-11.5T200-480q0-17 11.5-28.5T240-520h200v-200q0-17 11.5-28.5T480-760q17 0 28.5 11.5T520-720v200h200q17 0 28.5 11.5T760-480q0 17-11.5 28.5T720-440H520v200q0 17-11.5 28.5T480-200q-17 0-28.5-11.5T440-240v-200Z"/></svg>
            View more
          </a>
        {{- end }}

        {{- isFirstGroup = false }}
      {{- end }}

      <!-- Novels -->
      {{ if len(.User.Categories.novels.NovelWorks) != 0 }}
        {{- if not isFirstGroup }}
          <div class="h-[1px] bg-neutral-800"></div>
        {{- end }}

        <!-- Header with work count -->
        <div class="flex w-fit max-w-full items-baseline border-b-4 border-b-pixivfe-400 space-x-2 pb-2 pe-12">
          <div class="text-lg font-semibold">
            Novels
          </div>
          <div class="text-sm font-bold bg-neutral-700/50 rounded px-2 py-1">
            {{ prettyNumber(.User.Categories.novels.WorkCount) }}
          </div>
        </div>

        {{ include "fragments/tw-category-frequent-tags" .User.Categories.novels.FrequentTags }}

        {{- if len(.User.Categories.novels.NovelSeries) != 0 }}
          {* TODO: rm hx-boost="false" once the novel page is rewritten *}
          <div
            class="grid grid-flow-col auto-cols-max grid-rows-1 *:snap-start snap-x snap-mandatory overflow-x-scroll fade-right-sharp gap-4 pe-12 lg:pe-24 pb-4"
            hx-boost="false"
          >
            {{- range .User.Categories.novels.NovelSeries }}
              {{- include "fragments/tw-novelseries-tn" .  }}
            {{- end }}
          </div>
        {{- end }}

        {* TODO: rm hx-boost="false" once the novel page is rewritten *}
        <div
          class="grid grid-cols-1 lg:grid-cols-2 gap-x-16 gap-y-12"
          hx-boost="false"
        >
          {{- range i := .User.Categories.novels.NovelWorks }}
            {{- if i != 0 -}}
              {{- if i % 2 == 0 -}}
                <hr class="hidden lg:block col-span-2 border-neutral-800">
              {{- end -}}
              <hr class="block lg:hidden col-span-1 border-neutral-800">
            {{- end -}}
            <div class="col-span-1">
              {{- include "fragments/tw-novel-tn" . }}
            </div>
          {{- end }}
        </div>

        {{ if len(.User.Categories.novels.NovelWorks) > 29 }}
          <a href="{{ .User.ID + "/novels" + "?page=2#checkpoint" }}" class="filled-button font-medium gap-2 mx-auto">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M440-440H240q-17 0-28.5-11.5T200-480q0-17 11.5-28.5T240-520h200v-200q0-17 11.5-28.5T480-760q17 0 28.5 11.5T520-720v200h200q17 0 28.5 11.5T760-480q0 17-11.5 28.5T720-440H520v200q0 17-11.5 28.5T480-200q-17 0-28.5-11.5T440-240v-200Z"/></svg>
            View more
          </a>
        {{- end }}

        {{- isFirstGroup = false }}
      {{- end }}

    {{- end }}

    <!-- Illustrations category -->
    {{- if .Category.Value == "illustrations" }}
      <!-- Header with work count -->
      <div class="flex w-fit max-w-full items-baseline border-b-4 border-b-pixivfe-400 space-x-2 pb-2 pe-12">
        <div class="text-lg font-semibold">
          Illustrations
        </div>
        <div class="text-sm font-bold bg-neutral-700/50 rounded px-2 py-1">
          {{ prettyNumber(.User.Categories.illustrations.WorkCount) }}
        </div>
      </div>

      {{ include "fragments/tw-category-frequent-tags" .User.Categories.illustrations.FrequentTags }}

      <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-6">
        {{- include "fragments/tw-small-tn" .User.Categories.illustrations.IllustWorks }}
      </div>
    {{- end }}

    <!-- Manga category -->
    {{- if .Category.Value == "manga" }}
      <!-- Header with work count -->
      <div class="flex w-fit max-w-full items-baseline border-b-4 border-b-pixivfe-400 space-x-2 pb-2 pe-12">
        <div class="text-lg font-semibold">
          Manga
        </div>
        <div class="text-sm font-bold bg-neutral-700/50 rounded px-2 py-1">
          {{ prettyNumber(.User.Categories.manga.WorkCount) }}
        </div>
      </div>

      {{ include "fragments/tw-category-frequent-tags" .User.Categories.manga.FrequentTags }}

      {{- if len(.User.Categories.manga.MangaSeries) != 0 }}
        <div class="grid grid-flow-col auto-cols-max grid-rows-1 *:snap-start snap-x snap-mandatory overflow-x-scroll fade-right-sharp gap-4 pe-12 lg:pe-24 pb-4">
          {{- range .User.Categories.manga.MangaSeries }}
            {{- include "fragments/tw-mangaseries-tn" .  }}
          {{- end }}
        </div>
      {{- end }}

      <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-6">
        {{- include "fragments/tw-small-tn" .User.Categories.manga.IllustWorks }}
      </div>
    {{- end }}

    <!-- Novels category -->
    {{- if .Category.Value == "novels" }}
      <!-- Header with work count -->
      <div class="flex w-fit max-w-full items-baseline border-b-4 border-b-pixivfe-400 space-x-2 pb-2 pe-12">
        <div class="text-lg font-semibold">
          Novels
        </div>
        <div class="text-sm font-bold bg-neutral-700/50 rounded px-2 py-1">
          {{ prettyNumber(.User.Categories.novels.WorkCount) }}
        </div>
      </div>

      {{ include "fragments/tw-category-frequent-tags" .User.Categories.novels.FrequentTags }}

      {{- if len(.User.Categories.novels.NovelSeries) != 0 }}
        {* TODO: rm hx-boost="false" once the novel page is rewritten *}
        <div
          class="grid grid-flow-col auto-cols-max grid-rows-1 *:snap-start snap-x snap-mandatory overflow-x-scroll fade-right-sharp gap-4 pe-12 lg:pe-24 pb-4"
           hx-boost="false"
        >
          {{- range .User.Categories.novels.NovelSeries }}
            {{- include "fragments/tw-novelseries-tn" .  }}
          {{- end }}
        </div>
      {{- end }}

      {* TODO: rm hx-boost="false" once the novel page is rewritten *}
      <div
        class="grid grid-cols-1 lg:grid-cols-2 gap-x-16 gap-y-12"
         hx-boost="false"
      >
        {{- range i := .User.Categories.novels.NovelWorks }}
          {{- if i != 0 -}}
            {{- if i % 2 == 0 -}}
              <hr class="hidden lg:block col-span-2 border-neutral-800">
            {{- end -}}
            <hr class="block lg:hidden col-span-1 border-neutral-800">
          {{- end -}}
          <div class="col-span-1">
            {{- include "fragments/tw-novel-tn" . }}
          </div>
        {{- end }}
      </div>

    {{- end }}

    <!-- Bookmarks category -->
    {{- if .Category.Value == "bookmarks" }}
      <!-- Header with work count -->
      <div class="flex w-fit max-w-full items-baseline border-b-4 border-b-pixivfe-400 space-x-2 pb-2 pe-12">
        <div class="text-lg font-semibold">
          Bookmarks
        </div>
        <div class="text-sm font-bold bg-neutral-700/50 rounded px-2 py-1">
          {{ prettyNumber(.User.Categories.bookmarks.WorkCount) }}
        </div>
      </div>

      {{ if userID == .User.ID }}
        {{- Mode := isset(Queries.mode) ? Queries.mode : "show" }}
        {{- url := replaceQuery(.Queries, "mode", "") }}
        {{- path := slice("show", "hide") }}
        {{- name := slice("Public", "Private") -}}
        {{- fragment := "#" -}}
        {{- yield tw_pill_nav(baseURL=url, paths=path, names=name, fragment=fragment, activeState=Mode)}}
      {{ end }}

      <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-6">
        {{- include "fragments/tw-small-tn" .User.Categories.bookmarks.IllustWorks }}
      </div>
    {{- end }}

    <!-- Following category -->
    {{- if .Category.Value == "following" }}
      <!-- Header with work count -->
      <div class="flex w-fit max-w-full items-baseline border-b-4 border-b-pixivfe-400 space-x-2 pb-2 pe-12">
        <div class="text-lg font-semibold">
          Following
        </div>
        <div class="text-sm font-bold bg-neutral-700/50 rounded px-2 py-1">
          {{ prettyNumber(.User.Categories.following.WorkCount) }}
        </div>
      </div>

      {{ if userID == .User.ID }}
        {{- Mode := isset(Queries.mode) ? Queries.mode : "show" -}}
        {{- url := replaceQuery(.Queries, "mode", "") -}}
        {{- path := slice("show", "hide") -}}
        {{- name := slice("Public", "Private") -}}
        {{- fragment := "#" -}}
        {{- yield tw_pill_nav(baseURL=url, paths=path, names=name, fragment=fragment, activeState=Mode) -}}
      {{ end }}

      <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-6">
        {{ range .User.Categories.following.Users }}
          {{- include "fragments/tw-user-tn" . -}}
        {{ end }}
      </div>
    {{- end }}
  </div>

  <!-- Pagination -->
  {* TODO: figure out how to 'paginate' the home tab correctly; htmx for swapping in categories? *}
  {{- if .Category.Value == "illustrations" || .Category.Value == "manga" || .Category.Value == "novels" || .Category.Value == "bookmarks" || .Category.Value == "following" || .Category.Value == "followers" }}
    {{- url := unfinishedQuery(.Queries, "page") -}}
    {{- paginationData := createPaginator(url, "#checkpoint", .Page, .Category.PageLimit, 0, 5) }}
    {{- yield tw_pagination(data=paginationData) }}
  {{- end }}
</div>
{{- end }}
