{{- extends "layout/tw-default" }}
{{- import "blocks/tw_tab_nav_alt" }}
{{- block body() }}

<div
  class="flex flex-col w-full max-w-7xl gap-8"
  hx-boost="true"
>
  {{- Type := "/discovery/users" }}
  {{- paths := slice("/discovery", "/discovery/novel", "/discovery/users") }}
  {{- names := slice("Artworks", "Novels", "Users")}}
  {{- icons := slice("<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\" viewBox=\"0 -960 960 960\" width=\"24px\"><path d=\"M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0 0v-560 560Zm80-80h400q12 0 18-11t-2-21L586-459q-6-8-16-8t-16 8L450-320l-74-99q-6-8-16-8t-16 8l-80 107q-8 10-2 21t18 11Z\"/></svg>", "<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\" viewBox=\"0 -960 960 960\" width=\"24px\"><path d=\"M240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h480q33 0 56.5 23.5T800-800v640q0 33-23.5 56.5T720-80H240Zm0-80h480v-640h-80v245q0 12-10 17.5t-20-.5l-49-30q-10-6-20.5-6t-20.5 6l-49 30q-10 6-20.5.5T440-555v-245H240v640Zm0 0v-640 640Zm200-395q0 12 10.5 17.5t20.5-.5l49-30q10-6 20.5-6t20.5 6l49 30q10 6 20 .5t10-17.5q0 12-10 17.5t-20-.5l-49-30q-10-6-20.5-6t-20.5 6l-49 30q-10 6-20.5.5T440-555Z\"/></svg>", "<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\" viewBox=\"0 -960 960 960\" width=\"24px\"s><path d=\"M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-240v-32q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v32q0 33-23.5 56.5T720-160H240q-33 0-56.5-23.5T160-240Zm80 0h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z\"/></svg>")}}
  {{- categoryCounts := slice(1, 1, 1) }}
  {{- yield tw_tab_nav_alt(baseURL="", paths=paths, names=names, icons=icons, categoryCounts=categoryCounts, activeState=Type)}}

  <div class="h-[1px] bg-neutral-800 -mt-8"></div>

  <!-- Main content -->
  <div id="content" class="htmx-added-fade-in">
    <div class="grid grid-cols-12 gap-y-8">
      {{- range .Users }}
        {{- include "fragments/tw-user-tn" }}
      {{- end }}
    </div>

    <!-- Infinite scroll trigger -->
    {{ include "fragments/tw-infinite-scroll" . }}
  </div>

  <noscript>
    <form method="post">
      <button type="submit" class="filled-button font-medium gap-2 mx-auto">
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M480-192q-120 0-204-84t-84-204q0-120 84-204t204-84q65 0 120.5 27t95.5 72v-63q0-15.3 10.29-25.65Q716.58-768 731.79-768t25.71 10.35Q768-747.3 768-732v168q0 15.3-10.35 25.65Q747.3-528 732-528H564q-15.3 0-25.65-10.29Q528-548.58 528-563.79t10.35-25.71Q548.7-600 564-600h95q-29-44-76-70t-103-26q-90 0-153 63t-63 153q0 90 63 153t153 63q75 0 132-45.5T687-424q4-14 16.5-22t26.53-6Q745-450 754-438.5q9 11.5 6 25.5-23 96-100 158.5T480-192Z"/></svg>
        Refresh
      </button>
    </form>
  </noscript>
</div>
{{- end }}
