{* navbar *}

<nav
  class="fixed top-0 flex items-center justify-between h-14 w-full px-4 mx-auto bg-neutral-900 border-b border-neutral-700 z-2"
>
  <div class="flex items-center gap-2">
    <button popovertarget="sidebar">
      <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" class="size-8 hover:bg-neutral-700 active:scale-95 transition rounded cursor-pointer fill-neutral-300 hover:fill-neutral-100"><path d="M153.33-240q-14.16 0-23.75-9.62-9.58-9.61-9.58-23.83 0-14.22 9.58-23.72 9.59-9.5 23.75-9.5h653.34q14.16 0 23.75 9.62 9.58 9.62 9.58 23.83 0 14.22-9.58 23.72-9.59 9.5-23.75 9.5H153.33Zm0-206.67q-14.16 0-23.75-9.61-9.58-9.62-9.58-23.84 0-14.21 9.58-23.71 9.59-9.5 23.75-9.5h653.34q14.16 0 23.75 9.61 9.58 9.62 9.58 23.84 0 14.21-9.58 23.71-9.59 9.5-23.75 9.5H153.33Zm0-206.66q-14.16 0-23.75-9.62-9.58-9.62-9.58-23.83 0-14.22 9.58-23.72 9.59-9.5 23.75-9.5h653.34q14.16 0 23.75 9.62 9.58 9.61 9.58 23.83 0 14.22-9.58 23.72-9.59 9.5-23.75 9.5H153.33Z"/></svg>
    </button>

    <!-- Navbar content -->
    <!-- Title -->
    {{ if logoStyle == "" || logoStyle == "standard" }}
    <a href="/" class="text-xl font-medium animated-underline">PixivFE</a>
    {{ else if logoStyle == "alternative" }}
    <a href="/" class="size-8">
      <img src="/img/logo-alt.gif" alt="PixivFE icon" class="size-full" />
    </a>
    {{- end }}
  </div>

  <div class="flex items-center gap-4">
    <button popovertarget="searchMenu">
      <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" class="size-8 hover:bg-neutral-700 active:scale-95 transition rounded cursor-pointer fill-neutral-300 hover:fill-neutral-100 p-1"><path d="M378.67-326q-108.44 0-183.56-75.17Q120-476.33 120-583.33t75.17-182.17q75.16-75.17 182.5-75.17 107.33 0 182.16 75.17 74.84 75.17 74.84 182.27 0 43.23-14 82.9-14 39.66-40.67 73l236 234.66q9.67 9.37 9.67 23.86 0 14.48-9.67 24.14-9.67 9.67-24.15 9.67-14.48 0-23.85-9.67L532.67-380q-30 25.33-69.64 39.67Q423.39-326 378.67-326Zm-.67-66.67q79.17 0 134.58-55.83Q568-504.33 568-583.33q0-79-55.42-134.84Q457.17-774 378-774q-79.72 0-135.53 55.83-55.8 55.84-55.8 134.84t55.8 134.83q55.81 55.83 135.53 55.83Z"/></svg>
    </button>

    {{ if username != "" && userID != "" && userAvatar != "" }}
    <div class="flex items-center gap-2">
      <button
        popovertarget="userMenu"
        class="flex fill-neutral-400 hover:fill-neutral-300 cursor-pointer transition"
      >
        <img
          src="{{ userAvatar }}"
          alt="{{ username }} avatar"
          class="w-8 rounded-full avatar-outline-glow"
        />
      </button>
    </div>
    {{ else }}
    <a
      href="/self/login?noAuthReturnPath={{ CurrentPath }}&loginReturnPath={{ CurrentPath }}"
      class="group"
    >
      <div class="outlined-button text-sm font-medium gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M237-285q54-38 115.5-56.5T480-360q66 0 127.5 18.5T723-285q35-41 52-91t17-104q0-129.67-91.23-220.84-91.23-91.16-221-91.16Q350-792 259-700.84 168-609.67 168-480q0 54 17 104t52 91Zm243-123q-60 0-102-42t-42-102q0-60 42-102t102-42q60 0 102 42t42 102q0 60-42 102t-102 42Zm.28 312Q401-96 331-126t-122.5-82.5Q156-261 126-330.96t-30-149.5Q96-560 126-629.5q30-69.5 82.5-122T330.96-834q69.96-30 149.5-30t149.04 30q69.5 30 122 82.5T834-629.28q30 69.73 30 149Q864-401 834-331t-82.5 122.5Q699-156 629.28-126q-69.73 30-149 30Zm-.28-72q52 0 100-16.5t90-48.5q-43-27-91-41t-99-14q-51 0-99.5 13.5T290-233q42 32 90 48.5T480-168Zm0-312q30 0 51-21t21-51q0-30-21-51t-51-21q-30 0-51 21t-21 51q0 30 21 51t51 21Zm0-72Zm0 319Z"/></svg>
        Sign in
      </div>
    </a>
    {{- end -}}
  </div>
</nav>
