<!doctype html>
<html lang="en">
  <head>
    {{ include "baseHead" }}

    {{ title := "PixivFE" }}
    {{- if isset(.Title) -}}
    {{ title = .Title + " - PixivFE" }}
    {{ end -}}
    <title>{{ title }}</title>

    {{ include "limiter" }}
  </head>
  <body
    class="group/body bg-neutral-900 text-neutral-100 fill-neutral-100 subpixel-antialiased font-sans scheme-only-dark
    starting:opacity-80 opacity-100 transition duration-200 ease-out"
  >
    <main class="grid min-h-screen place-items-center p-4">
      {{- yield body() }}
    </main>
  </body>
</html>
