{{- import "../blocks/tw_action_indicator" }}

{{ addBookmarkIndicatorID := "addBookmarkIndicatorID" }}

<form
  action="/self/addBookmark/{{ .Illust.ID }}"
  method="post"
  hx-target="this"
  hx-target-4*="body"
  hx-swap="outerHTML show:none"
  hx-indicator="#actionIndicator-{{ addBookmarkIndicatorID }}"
  hx-disabled-elt="#addBookmarkButton, #bookmarkPrivacyToggle"
  hx-push-url="false"
>
  <div class="flex items-center group/addBookmarkButtonGroup gap-[1px]">
    <!-- Checkbox that will be submitted with the form -->
    <input type="checkbox" id="bookmarkPrivacyInput" name="private" class="hidden">

    <input
      type="hidden"
      id="bookmark_return_path"
      name="return_path"
      class="hidden"
      value='{{ if HtmxCurrentPath != "" }} {{- HtmxCurrentPath -}} {{ else }} {{- CurrentPath -}} {{ end }}'
    >

    <input type="hidden" id="bookmark_count" name="bookmark_count" class="hidden" value="{{ .Illust.Bookmarks }}">

    <button
      id="addBookmarkButton"
      type="submit"
      class="flex items-center w-fit rounded-s-full select-none bg-neutral-100 hover:bg-neutral-300 active:bg-neutral-400 text-neutral-900 fill-neutral-900 text-sm font-medium cursor-pointer transition gap-2 py-2 px-3
      disabled:!cursor-not-allowed disabled:!bg-neutral-100/50"
    >
      <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="m480-144-50-45q-100-89-165-152.5t-102.5-113Q125-504 110.5-545T96-629q0-89 61-150t150-61q49 0 95 21t78 59q32-38 78-59t95-21q89 0 150 61t61 150q0 43-14 83t-51.5 89q-37.5 49-103 113.5T528-187l-48 43Zm0-97q93-83 153-141.5t95.5-102Q764-528 778-562t14-67q0-59-40-99t-99-40q-35 0-65.5 14.5T535-713l-35 41h-40l-35-41q-22-26-53.5-40.5T307-768q-59 0-99 40t-40 99q0 33 13 65.5t47.5 75.5q34.5 43 95 102T480-241Zm0-264Z"/></svg>
      <span class="inline">{{- prettyNumber(.Illust.Bookmarks) -}}</span>
      {{- yield tw_action_indicator(id=addBookmarkIndicatorID, theme="light") -}}
    </button>

    {* nesting a label inside a button then using tailwind to style it based on the parent's disabled attribute is super cursed but it works (though theres a weird delay as hx-disabled-elt finds elements to disable) *}
    <button
      type="button"
      id="bookmarkPrivacyToggle"
      class="group/bookmarkPrivacyToggle"
    >
      <label
        for="bookmarkPrivacyInput"
        class="flex items-center w-fit rounded-e-full select-none bg-neutral-100 hover:bg-neutral-300 active:bg-neutral-400 text-neutral-900 fill-neutral-900 text-sm font-medium cursor-pointer transition gap-2 py-2 px-3
        group-disabled/bookmarkPrivacyToggle:!cursor-not-allowed group-disabled/bookmarkPrivacyToggle:!bg-neutral-100/50"
      >
        <!-- Public icon -->
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" class="group-has-[input:checked]/addBookmarkButtonGroup:hidden inline"><path d="M480-312q70 0 119-49t49-119q0-70-49-119t-119-49q-70 0-119 49t-49 119q0 70 49 119t119 49Zm0-72q-40 0-68-28t-28-68q0-40 28-68t68-28q40 0 68 28t28 68q0 40-28 68t-68 28Zm0 192q-142.6 0-259.8-78.5Q103-349 48-480q55-131 172.2-209.5Q337.4-768 480-768q142.6 0 259.8 78.5Q857-611 912-480q-55 131-172.2 209.5Q622.6-192 480-192Zm0-288Zm0 216q112 0 207-58t146-158q-51-100-146-158t-207-58q-112 0-207 58T127-480q51 100 146 158t207 58Z"/></svg>

        <!-- Private icon -->
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" class="hidden group-has-[input:checked]/addBookmarkButtonGroup:inline"><path d="m637-425-62-62q4-38-23-65.5T487-576l-62-62q13-5 27-7.5t28-2.5q70 0 119 49t49 119q0 14-2.5 28t-8.5 27Zm133 133-52-52q36-28 65.5-61.5T833-480q-49-101-144.5-158.5T480-696q-26 0-51 3t-49 10l-58-58q38-15 77.5-21t80.5-6q143 0 261.5 77.5T912-480q-22 57-58.5 103.5T770-292Zm-2 202L638-220q-38 14-77.5 21t-80.5 7q-143 0-261.5-77.5T48-480q22-57 58-104t84-85L90-769l51-51 678 679-51 51ZM241-617q-35 28-65 61.5T127-480q49 101 144.5 158.5T480-264q26 0 51-3.5t50-9.5l-45-45q-14 5-28 7.5t-28 2.5q-70 0-119-49t-49-119q0-14 3.5-28t6.5-28l-81-81Zm287 89Zm-96 96Z"/></svg>
      </label>
    </button>
  </div>
</form>
