<div
  id="tw-artwork"
  class="htmx-added-in flex flex-col gap-8"
>
  {{ relativeTimeData := relativeTime(.Illust.Date) }}

  <!-- Image display -->
  {{- include "../fragments/tw-artwork-display" .Illust -}}

  <!-- Manga series navigation and name -->
  {{ if .Illust.SeriesNavData }}
    {{- include "../fragments/tw-artwork-series-data" . -}}
  {{ end }}

  <!-- Title -->
  {{- include "../fragments/tw-artwork-title" .Illust -}}

  <!-- User info and interaction buttons -->
  {{- include "../fragments/tw-artwork-header-actions" . -}}

  <!-- Metadata, description, and tags -->
  {{- include "../fragments/tw-artwork-info" . -}}

  <!-- Recent works -->
  {{ if IsHtmxRequest }}
  <div
    id="tw-artwork-recent-works"
    class="htmx-swapped-out"
    hx-get="/api/v1/recent?type=artwork&userid={{ .Illust.UserID }}&recentworkids={{- FormatWorkIDs(.Illust.RecentWorkIDs) -}}"
    hx-trigger="load"
    hx-target="this"
    hx-swap="outerHTML swap:100ms settle:200ms show:none"
  >
  </div>
  {{ else }}
    {{- include "../fragments/tw-artwork-recent-works" . -}}
  {{ end }}

  <!-- Related works -->
  {{ if IsHtmxRequest }}
    <div
      id="tw-artwork-related-works"
      class="htmx-swapped-out grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6 animate-pulse"
      hx-get="/api/v1/related?type=artwork&id={{ .Illust.ID }}&limit=60"
      hx-trigger="load"
      hx-target="this"
      hx-swap="outerHTML swap:100ms settle:200ms show:none"
    >
      <div class="aspect-square bg-neutral-800 rounded"></div>
      <div class="aspect-square bg-neutral-800 rounded"></div>
      <div class="aspect-square bg-neutral-800 rounded"></div>
      <div class="aspect-square bg-neutral-800 rounded"></div>
      <div class="aspect-square bg-neutral-800 rounded"></div>
      <div class="aspect-square bg-neutral-800 rounded"></div>
      <div class="aspect-square bg-neutral-800 rounded"></div>
      <div class="aspect-square bg-neutral-800 rounded"></div>
      <div class="aspect-square bg-neutral-800 rounded"></div>
      <div class="aspect-square bg-neutral-800 rounded"></div>
      <div class="aspect-square bg-neutral-800 rounded"></div>
      <div class="aspect-square bg-neutral-800 rounded"></div>
      <div class="aspect-square bg-neutral-800 rounded"></div>
      <div class="aspect-square bg-neutral-800 rounded"></div>
      <div class="aspect-square bg-neutral-800 rounded"></div>
      <div class="aspect-square bg-neutral-800 rounded"></div>
      <div class="aspect-square bg-neutral-800 rounded"></div>
      <div class="aspect-square bg-neutral-800 rounded"></div>
      <div class="aspect-square bg-neutral-800 rounded"></div>
      <div class="aspect-square bg-neutral-800 rounded"></div>
    </div>
  {{ else }}
    {{- include "../fragments/tw-artwork-related-works" . -}}
  {{ end }}
</div>
