{{- import "../blocks/tw_action_indicator" }}

{{ deleteBookmarkIndicatorID := "deleteBookmarkIndicatorID" }}

<form
  action="/self/deleteBookmark/{{ .Illust.BookmarkData.ID }}"
  method="post"
  hx-target="this"
  hx-target-4*="body"
  hx-swap="outerHTML show:none"
  hx-indicator="#actionIndicator-{{ deleteBookmarkIndicatorID }}"
  hx-disabled-elt="#deleteBookmarkButton"
  hx-push-url="false"
>
  <input type="hidden" id="bookmark_artwork_id" name="artwork_id" class="hidden" value="{{ .Illust.ID }}">

  <input
    type="hidden"
    id="bookmark_return_path"
    name="return_path"
    class="hidden"
    value='{{ if HtmxCurrentPath != "" }} {{- HtmxCurrentPath -}} {{ else }} {{- CurrentPath -}} {{ end }}'
  >

  <input type="hidden" id="bookmark_count" name="bookmark_count" class="hidden" value="{{ .Illust.Bookmarks }}">

  <button
    id="deleteBookmarkButton"
    type="submit"
    class="filled-button text-sm font-medium gap-2"
  >
    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M480-170q-13 0-25.5-4.5T431-189l-59-54q-109-97-192.5-189.5T96-634q0-88 60-147t149-59q51 0 96.5 21.5T480-757q35-40 79.5-61.5T655-840q89 0 149 59t60 147q0 109-83.5 201.5T588-243l-59 54q-11 10-23.5 14.5T480-170Z"/></svg>
    <span class="inline">{{- prettyNumber(.Illust.Bookmarks) -}}</span>
    {{- yield tw_action_indicator(id=deleteBookmarkIndicatorID, theme="light") -}}
  </button>
</form>
