{{ likeIndicatorID := "likeIndicatorID" }}

<form
  action="/self/like/{{ .Illust.ID }}"
  method="post"
  hx-target="this"
  hx-target-4*="body"
  hx-swap="outerHTML show:none"
  hx-indicator="#actionIndicator-{{ likeIndicatorID }}"
  hx-disabled-elt="#likeButton"
  hx-push-url="false"
>
  <input
    type="hidden"
    id="like_return_path"
    name="return_path"
    class="hidden"
    value='{{ if HtmxCurrentPath != "" }} {{- HtmxCurrentPath -}} {{ else }} {{- CurrentPath -}} {{ end }}'
  >

  <input type="hidden" id="like_count" name="like_count" class="hidden" value="{{ .Illust.Likes }}">

  <button
    id="likeButton"
    type="submit"
    class="outlined-button text-sm font-medium gap-2"
  >
    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M840-625q27 0 49.5 22.5T912-553v57q0 8-1.5 15t-4.5 13L787-189q-9 21-33.5 33T706-144l-442-1v-480l234-234q19-19 43.5-24.5t44 5.5q19.5 11 25 35.5T610-789l-34 164h264Zm-504 30v378h384l120-279v-57H488l49-242-201 200ZM120-145q-31 0-51.5-21.15T48-217v-336q0-29.7 20.5-50.85Q89-625 120-625h144v72H120v336h144v72H120Zm216-72v-378 378Z"/></svg>
    <span class="inline">{{- prettyNumber(.Illust.Likes) -}}</span>
    {{- yield tw_action_indicator(id=likeIndicatorID, theme="dark") -}}
  </button>
</form>
