<button
  disabled
  class="outlined-button text-sm font-medium gap-2"
  title="You can only like a work once a day."
>
  <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M840-624q27 0 49.5 22t22.5 50v57q0 8-1.5 14.5T906-467L787-188q-8 20-26 32t-41 12H336q-30 0-51-20.5T264-216v-378q0-15 6-28.5t16-23.5l201-201q18-18 44-23t44 6q23 13 29.5 38t1.5 49l-30 153h264ZM120-144q-29 0-50.5-21.5T48-216v-336q0-29 21.5-50.5T120-624q29 0 50.5 21.5T192-552v336q0 29-21.5 50.5T120-144Z"/></svg>
  <span class="inline">{{- prettyNumber(.Illust.Likes) -}}</span>
</button>
