{{- block tw_follow_buttons(data, style) -}}
  {{- if data.IsFollowed && LoggedIn -}}
    <form
      action="/api/v1/follow"
      method="post"
      hx-delete="/api/v1/follow"
      hx-target="this"
      hx-target-4*="body"
      hx-swap="outerHTML show:none"
      hx-push-url="false"
    >
      <!-- action FormValue for backwards compatibility with POST -->
      <input
        type="hidden"
        id="unfollowAction-{{ data.ID }}"
        name="action"
        class="hidden"
        value="unfollow"
      >

      <input
        type="hidden"
        id="unfollowUserID-{{ data.ID }}"
        name="user_id"
        class="hidden"
        value="{{ data.ID }}"
      >

      <input
        type="hidden"
        id="unfollowReturnPath-{{ data.ID }}"
        name="return_path"
        class="hidden"
        value='{{ if HtmxCurrentPath != "" }} {{- HtmxCurrentPath -}} {{ else }} {{- CurrentPath -}} {{ end }}'
      >

      <button type="submit" class="outlined-button text-sm font-medium gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="m743-116-77-76H264.09q-29.74 0-50.91-21.15Q192-234.3 192-264v-20q0-25.78 12.5-47.39T239-366q43-26 91-42t99-21L115-743q-11-10.67-10.5-25.33Q105-783 116-794q11-11 25.67-11 14.66 0 25.33 11l626.92 627.92Q805-155 805-140.82q0 14.18-11 24.82-10.67 11-25.33 11Q754-105 743-116ZM264-264h330l-95-96h-19q-54 0-106 14t-99 42q-4.95 2.94-7.98 8.24Q264-290.47 264-284v20Zm458-102q20 11 32 30t14 42l-99-99q13.63 6.3 26.88 12.6 13.25 6.3 26.12 14.4ZM559-504l-54-53q21.2-8.08 34.1-26.5 12.9-18.41 12.9-40.86Q552-654 530.96-675t-50.58-21q-22.38 0-40.83 12.9T413-649l-53-54q20-31 52-48t68-17q60 0 102 42t42 102q0 36-17 68t-48 52Zm35 240H264h330ZM462-600Z"/></svg>
        <span class="inline">Unfollow</span>
      </button>
    </form>
    {{- else -}}
    <form
      action="/api/v1/follow"
      method="post"
      hx-put="/api/v1/follow"
      hx-target="this"
      hx-target-4*="body"
      hx-swap="outerHTML show:none"
      hx-push-url="false"
    >
      <div class="flex items-center group/followPrivacyToggle">
        <!-- action FormValue for backwards compatibility with POST -->
        <input
          type="hidden"
          id="followAction-{{ data.ID }}"
          name="action"
          class="hidden"
          value="follow"
        >

        <input
          type="hidden"
          id="followUserID-{{ data.ID }}"
          name="user_id"
          class="hidden"
          value="{{ data.ID }}"
        >

        <input
          type="checkbox"
          id="followPrivacyToggle-{{ data.ID }}"
          name="private"
          class="hidden"
        >

        <input
          type="hidden"
          id="followReturnPath-{{ data.ID }}"
          name="return_path"
          class="hidden"
          value='{{ if HtmxCurrentPath != "" }} {{- HtmxCurrentPath -}} {{ else }} {{- CurrentPath -}} {{ end }}'
        >

        {{ if style == "outlined"}}
          <!-- Follow button -->
          <button type="submit" class="flex items-center w-fit rounded-s-full select-none bg-transparent border-1 border-neutral-600 hover:border-neutral-500 text-neutral-100 text-sm font-medium cursor-pointer hover:bg-neutral-700 active:bg-neutral-800 transition-all drop-shadow active:shadow-inner gap-2 py-2 px-3 -me-[1px] hover:z-1">
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M708-516h-48q-15.3 0-25.65-10.29Q624-536.58 624-551.79t10.35-25.71Q644.7-588 660-588h48v-48q0-15.3 10.29-25.65Q728.58-672 743.79-672t25.71 10.35Q780-651.3 780-636v48h48q15.3 0 25.65 10.29Q864-567.42 864-552.21t-10.35 25.71Q843.3-516 828-516h-48v48q0 15.3-10.29 25.65Q759.42-432 744.21-432t-25.71-10.35Q708-452.7 708-468v-48Zm-324 36q-60 0-102-42t-42-102q0-60 42-102t102-42q60 0 102 42t42 102q0 60-42 102t-102 42ZM96-264v-20q0-25.78 12.5-47.39T143-366q55-32 116-49t125-17q64 0 125 17t116 49q22 13 34.5 34.61T672-284v20q0 29.7-21.16 50.85Q629.68-192 599.96-192H167.72Q138-192 117-213.15T96-264Zm72 0h432v-20q0-6.47-3.03-11.76-3.02-5.3-7.97-8.24-47-27-99-41.5T384-360q-54 0-106 14.5T179-304q-4.95 2.94-7.98 8.24Q168-290.47 168-284v20Zm216.21-288Q414-552 435-573.21t21-51Q456-654 434.79-675t-51-21Q354-696 333-674.79t-21 51Q312-594 333.21-573t51 21Zm-.21-73Zm0 361Z"/></svg>
            <span class="inline">Follow</span>
          </button>

          <!-- Alpine.js used to delay button collapse when text is fully expanded -->
          <label
            for="followPrivacyToggle-{{ data.ID }}"
            class="group hover:text-neutral-300 hover:fill-neutral-300 flex items-center w-fit rounded-e-full select-none bg-transparent border-1 border-neutral-600 hover:border-neutral-500 text-neutral-400 fill-neutral-400 text-sm font-medium cursor-pointer hover:bg-neutral-700 active:bg-neutral-800 transition-all drop-shadow active:shadow-inner origin-left gap-2 py-2 px-3 hover:z-1"
            x-data="{ publicTransitioned: false, privateTransitioned: false }">

            <!-- Public icon -->
            <div class="group-has-[input:checked]/followPrivacyToggle:hidden flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M480-312q70 0 119-49t49-119q0-70-49-119t-119-49q-70 0-119 49t-49 119q0 70 49 119t119 49Zm0-72q-40 0-68-28t-28-68q0-40 28-68t68-28q40 0 68 28t28 68q0 40-28 68t-68 28Zm0 192q-142.6 0-259.8-78.5Q103-349 48-480q55-131 172.2-209.5Q337.4-768 480-768q142.6 0 259.8 78.5Q857-611 912-480q-55 131-172.2 209.5Q622.6-192 480-192Zm0-288Zm0 216q112 0 207-58t146-158q-51-100-146-158t-207-58q-112 0-207 58T127-480q51 100 146 158t207 58Z"/></svg>
              <div
                class="flex overflow-hidden max-w-0 group-hover:max-w-[5rem] transition-[max-width] duration-200"
                :class="{ 'delay-1000': publicTransitioned }"
                @transitionend="if($event.propertyName === 'max-width') { publicTransitioned = $event.target.clientWidth > 0 }"
                @mouseleave="publicTransitioned = false">
                <span class="inline-flex text-xs ms-2">Public</span>
              </div>
            </div>

            <!-- Private icon -->
            <div class="hidden group-has-[input:checked]/followPrivacyToggle:flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="m637-425-62-62q4-38-23-65.5T487-576l-62-62q13-5 27-7.5t28-2.5q70 0 119 49t49 119q0 14-2.5 28t-8.5 27Zm133 133-52-52q36-28 65.5-61.5T833-480q-49-101-144.5-158.5T480-696q-26 0-51 3t-49 10l-58-58q38-15 77.5-21t80.5-6q143 0 261.5 77.5T912-480q-22 57-58.5 103.5T770-292Zm-2 202L638-220q-38 14-77.5 21t-80.5 7q-143 0-261.5-77.5T48-480q22-57 58-104t84-85L90-769l51-51 678 679-51 51ZM241-617q-35 28-65 61.5T127-480q49 101 144.5 158.5T480-264q26 0 51-3.5t50-9.5l-45-45q-14 5-28 7.5t-28 2.5q-70 0-119-49t-49-119q0-14 3.5-28t6.5-28l-81-81Zm287 89Zm-96 96Z"/></svg>
              <div
                class="flex overflow-hidden max-w-0 group-hover:max-w-[5rem] transition-[max-width] duration-200"
                :class="{ 'delay-1000': privateTransitioned }"
                @transitionend="if($event.propertyName === 'max-width') { privateTransitioned = $event.target.clientWidth > 0 }"
                @mouseleave="privateTransitioned = false">
                <span class="inline-flex text-xs ms-2">Private</span>
              </div>
            </div>
          </label>
          {{ else if style == "filled" }}
          <!-- Follow button -->
          <button
            type="submit"
            class="flex items-center w-fit rounded-s-full select-none bg-neutral-100 hover:bg-neutral-300 active:bg-neutral-400 text-neutral-900 fill-neutral-900 text-sm font-medium cursor-pointer transition gap-2 py-2 px-3 me-[1px]"
          >
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M708-516h-48q-15.3 0-25.65-10.29Q624-536.58 624-551.79t10.35-25.71Q644.7-588 660-588h48v-48q0-15.3 10.29-25.65Q728.58-672 743.79-672t25.71 10.35Q780-651.3 780-636v48h48q15.3 0 25.65 10.29Q864-567.42 864-552.21t-10.35 25.71Q843.3-516 828-516h-48v48q0 15.3-10.29 25.65Q759.42-432 744.21-432t-25.71-10.35Q708-452.7 708-468v-48Zm-324 36q-60 0-102-42t-42-102q0-60 42-102t102-42q60 0 102 42t42 102q0 60-42 102t-102 42ZM96-264v-20q0-25.78 12.5-47.39T143-366q55-32 116-49t125-17q64 0 125 17t116 49q22 13 34.5 34.61T672-284v20q0 29.7-21.16 50.85Q629.68-192 599.96-192H167.72Q138-192 117-213.15T96-264Zm72 0h432v-20q0-6.47-3.03-11.76-3.02-5.3-7.97-8.24-47-27-99-41.5T384-360q-54 0-106 14.5T179-304q-4.95 2.94-7.98 8.24Q168-290.47 168-284v20Zm216.21-288Q414-552 435-573.21t21-51Q456-654 434.79-675t-51-21Q354-696 333-674.79t-21 51Q312-594 333.21-573t51 21Zm-.21-73Zm0 361Z"/></svg>
            <span class="inline">Follow</span>
          </button>

          <!-- Alpine.js used to delay button collapse when text is fully expanded -->
          <label
            for="followPrivacyToggle-{{ data.ID }}"
            class="flex items-center w-fit rounded-e-full select-none bg-neutral-100 hover:bg-neutral-300 active:bg-neutral-400 text-neutral-900 fill-neutral-900 text-sm font-medium cursor-pointer transition gap-2 py-2 px-3"
          >

            <!-- Public icon -->
            <div class="group-has-[input:checked]/followPrivacyToggle:hidden flex items-center gap-1">
              <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M480-312q70 0 119-49t49-119q0-70-49-119t-119-49q-70 0-119 49t-49 119q0 70 49 119t119 49Zm0-72q-40 0-68-28t-28-68q0-40 28-68t68-28q40 0 68 28t28 68q0 40-28 68t-68 28Zm0 192q-142.6 0-259.8-78.5Q103-349 48-480q55-131 172.2-209.5Q337.4-768 480-768q142.6 0 259.8 78.5Q857-611 912-480q-55 131-172.2 209.5Q622.6-192 480-192Zm0-288Zm0 216q112 0 207-58t146-158q-51-100-146-158t-207-58q-112 0-207 58T127-480q51 100 146 158t207 58Z"/></svg>
            </div>

            <!-- Private icon -->
            <div class="hidden group-has-[input:checked]/followPrivacyToggle:flex items-center gap-1">
              <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="m637-425-62-62q4-38-23-65.5T487-576l-62-62q13-5 27-7.5t28-2.5q70 0 119 49t49 119q0 14-2.5 28t-8.5 27Zm133 133-52-52q36-28 65.5-61.5T833-480q-49-101-144.5-158.5T480-696q-26 0-51 3t-49 10l-58-58q38-15 77.5-21t80.5-6q143 0 261.5 77.5T912-480q-22 57-58.5 103.5T770-292Zm-2 202L638-220q-38 14-77.5 21t-80.5 7q-143 0-261.5-77.5T48-480q22-57 58-104t84-85L90-769l51-51 678 679-51 51ZM241-617q-35 28-65 61.5T127-480q49 101 144.5 158.5T480-264q26 0 51-3.5t50-9.5l-45-45q-14 5-28 7.5t-28 2.5q-70 0-119-49t-49-119q0-14 3.5-28t6.5-28l-81-81Zm287 89Zm-96 96Z"/></svg>
            </div>
          </label>
        {{ end }}
      </div>
    </form>
  {{- end -}}
{{- end -}}
