{{- block tw_pagination(data) }}

{{ try }}
  <nav
    aria-label="Pagination"
    hx-boost="true"
  >
    <!-- Prefetch links -->
    {{ if len(data.Pages) > 0 }}
      {{ if data.HasPrevious }}
        <link rel="prefetch" href="{{- data.PreviousURL -}}">
      {{ end }}

      {{ if data.Pages[0].Number > 1 }}
        <link rel="prefetch" href="{{- data.FirstURL -}}">
      {{ end }}

      {{ if data.HasPrevious }}
        <link rel="prefetch" href="{{- data.PreviousURL -}}">
      {{ end }}

      {{ if data.HasMaxPage }}
        {{ if data.LastPage < data.MaxPage }}
          <link rel="prefetch" href="{{- data.LastURL -}}">
        {{ end }}
      {{ end }}

      {{ if data.HasNext }}
        <link rel="prefetch" href="{{- data.NextURL -}}">
      {{ end }}
    {{ end }}

    <div class="flex flex-col items-center content-center gap-6">
      {{ if len(data.Pages) > 0 }}
        <!-- Dropdown -->
        <!-- <div class="js-required dropup mb-3">
          <button class="custom-btn-neutral-700 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Go to Page
          </button>
          <ul class="dropdown-menu bg-neutral-700 drop-shadow-lg border border-1 border-neutral-600">
            {{ range data.DropdownPages }}
              {{ if .Number == data.CurrentPage }}
                <li><a class="dropdown-item bg-neutral-500 active" href="{{ .URL }}">{{ .Number }}</a></li>
              {{ else }}
                <li><a class="dropdown-item" href="{{ .URL }}">{{ .Number }}</a></li>
              {{ end }}
            {{ end }}
          </ul>
        </div> -->

        <!-- Page numbers -->
        <div class="flex flex-row items-center gap-2">
          <!-- Previous page button -->
          {{ if data.HasPrevious }}
            <a href="{{ data.PreviousURL }}">
              <div class="filled-button justify-center text-sm font-medium min-w-15 min-h-10 me-2">
                Prev
              </div>
            </a>
          {{ else }}
            <button
              disabled
              class="outlined-button justify-center font-medium text-sm text-neutral-500 min-w-15 min-h-10 me-2"
              title="No previous page exists."
            >
              Prev
            </button>
          {{ end }}

          <!-- First page and ellipsis (if needed) -->
          {{ if data.Pages[0].Number > 1 }}
            <a href="{{ data.FirstURL }}">
              <div class="tonal-button-neutral justify-center text-sm font-medium min-w-10 min-h-10">
                1
              </div>
            </a>
            {{ if data.Pages[0].Number > 2 }}
            <div class="text-neutral-700 select-none">&hellip;</div>
            {{ end }}
          {{ end }}

          <!-- Page numbers -->
          {{ range data.Pages }}
            {{ if .Number == data.CurrentPage }}
              <button>
                <div class="bg-neutral-700 text-neutral-100 flex items-center justify-center text-sm font-bold rounded-full min-w-10 min-h-10">
                  {{ .Number }}
                </div>
              </button>
            {{ else }}
              <a href="{{ .URL }}">
                <div class="bg-neutral-800 text-neutral-200 flex items-center justify-center hover:text-neutral-900 hover:bg-neutral-300 active:scale-95 text-sm font-medium rounded-full min-w-10 min-h-10 transition">
                  {{ .Number }}
                </div>
              </a>
            {{ end }}
          {{ end }}

          <!-- Last page and ellipsis (if needed) -->
          {{ if data.HasMaxPage }}
            {{ if data.LastPage < data.MaxPage }}
              {{ if data.LastPage < data.MaxPage - 1 }}
                <div class="text-neutral-700 select-none">&hellip;</div>
              {{ end }}
              <a href="{{ data.LastURL }}">
                <div class="tonal-button-neutral justify-center text-sm font-medium min-w-10 min-h-10">
                  {{ data.MaxPage  }}
                </div>
              </a>
            {{ end }}
          {{ end }}

          <!-- Next page button -->
          {{ if data.HasNext }}
            <a href="{{ data.NextURL }}">
              <div class="filled-button justify-center text-sm font-medium min-w-15 min-h-10 ms-2">
                Next
              </div>
            </a>
          {{ else }}
            <button
              disabled
              class="outlined-button justify-center font-medium text-sm text-neutral-500 min-w-15 min-h-10 ms-2"
              title="No next page exists."
            >
              Next
            </button>
          {{ end }}
        </div>

        <!-- Page selector -->
        <form action="" method="GET" class="flex items-center gap-3">
          <!-- <label for="page" class="text-neutral-400 font-medium text-sm">Go to page:</label> -->
          <input type="number"
                  id="page"
                  name="page"
                min="1"
                {{- if data.HasMaxPage }}
                max="{{ data.MaxPage }}"
                {{- else }}
                max=""
                {{- end }}
                  placeholder="{{ data.CurrentPage }}"
                  required
                  class="bg-neutral-800/25 border border-neutral-700 rounded text-neutral-200 placeholder:text-neutral-600 px-2 py-1"
          >
          <button type="submit"
                  class="flex items-center w-fit select-none rounded-full border-1 border-neutral-600 cursor-pointer hover:border-neutral-500 hover:bg-neutral-700 active:bg-neutral-800 active:shadow-inner active:scale-95 transition text-neutral-300 font-medium hover:text-neutral-50 px-4 py-1"
          >
            Go
          </button>
        </form>
      {{ else }}
      <div class="flex flex-col items-center w-full border border-dashed border-neutral-500 text-center text-neutral-400 fill-neutral-400 rounded p-6 gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M200-120q-33 0-56.5-23.5T120-200v-120q0-17 11.5-28.5T160-360q17 0 28.5 11.5T200-320v120h120q17 0 28.5 11.5T360-160q0 17-11.5 28.5T320-120H200Zm560 0H640q-17 0-28.5-11.5T600-160q0-17 11.5-28.5T640-200h120v-120q0-17 11.5-28.5T800-360q17 0 28.5 11.5T840-320v120q0 33-23.5 56.5T760-120ZM120-760q0-33 23.5-56.5T200-840h120q17 0 28.5 11.5T360-800q0 17-11.5 28.5T320-760H200v120q0 17-11.5 28.5T160-600q-17 0-28.5-11.5T120-640v-120Zm720 0v120q0 17-11.5 28.5T800-600q-17 0-28.5-11.5T760-640v-120H640q-17 0-28.5-11.5T600-800q0-17 11.5-28.5T640-840h120q33 0 56.5 23.5T840-760ZM480-240q21 0 35.5-14.5T530-290q0-21-14.5-35.5T480-340q-21 0-35.5 14.5T430-290q0 21 14.5 35.5T480-240Zm0-412q26 0 45.5 16t19.5 41q0 23-14.5 41T499-521q-26 23-39.5 43.5T444-428q-1 14 10 24.5t26 10.5q14 0 25.5-10t13.5-25q2-17 12-30t29-32q35-35 46.5-56.5T618-598q0-54-39-88t-99-34q-41 0-73.5 18.5T357-649q-6 12-.5 24.5T375-607q13 5 26.5 0t21.5-16q11-14 25.5-21.5T480-652Z"></path></svg>
        <span class="text-sm">No items to display.</span>
      </div>
      {{ end }}
    </div>
  </nav>
  {{ catch err }}
    <div class="flex w-11/12 max-w-160 bg-yellow-500/10 border border-yellow-500 text-yellow-100 fill-yellow-100 rounded-lg gap-4 p-6 mx-auto">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" class="shrink-0"><path d="M480-280q17 0 28.5-11.5T520-320q0-17-11.5-28.5T480-360q-17 0-28.5 11.5T440-320q0 17 11.5 28.5T480-280Zm0-160q17 0 28.5-11.5T520-480v-160q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640v160q0 17 11.5 28.5T480-440Zm0 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>
      <div class="flex flex-col gap-4">
        <div class="font-medium">
          The following error occurred when attempting to render pagination:
        </div>
        <div class="text-fuchsia-400 border border-neutral-700 text-sm font-mono bg-black rounded p-4">
          {{- err.Error() -}}
        </div>
      </div>
    </div>
  {{ end }}
{{- end }}
