{{- block tw_select(name, values, labels, activeState="") -}}
<select
  id="{{ name }}"
  name="{{ name }}"
  class="peer/{{ name }} w-full rounded-md border border-neutral-700 bg-neutral-800 px-3 py-2 text-sm/6 text-neutral-100
  focus:border-sky-600 focus:outline-none focus:ring-2 focus:ring-sky-600 focus:ring-offset-1
  disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400"
>
  {{- range i, value := values -}}
    {{ if value == "START_OPTGROUP" }}
      <optgroup label="{{ labels[i] }}">
      {{ else if value == "END_OPTGROUP" }}
        </optgroup>
      {{ else }}
      <option
        value="{{ value }}"
        {{ activeState == value ? "selected" : "" }}
      >
        {{ labels[i] }}
      </option>
    {{ end }}
  {{- end -}}
</select>
{{- end -}}
