/* Yet another front end framework rewrite */

/*
Compile this project with Tailwind v4.0:
  For production:   tailwindcss -i assets/css/tailwind-style_source.css -o assets/css/tailwind-style.css --watch --minify
  For development:  tailwindcss -i assets/css/tailwind-style_source.css -o assets/css/tailwind-style.css --watch
*/
@import "tailwindcss";

@theme {
  /* PixivFE color scale, derived from #7aa2f7 using uicolors.app */
  --color-pixivfe-50: #eff4ff;
  --color-pixivfe-100: #dce6fd;
  --color-pixivfe-200: #c1d3fc;
  --color-pixivfe-300: #96b8fa;
  --color-pixivfe-400: #7aa2f7;
  --color-pixivfe-500: #406cf1;
  --color-pixivfe-600: #2b4de5;
  --color-pixivfe-700: #2239d3;
  --color-pixivfe-800: #2230ab;
  --color-pixivfe-900: #212e87;
  --color-pixivfe-950: #191f52;
}

/*
NOTE: Scale transforms cause massive lag on Chromium for some reason, so width transforms are used here instead
      Using Tailwind's @apply uses the calc() function so that's avoided as well
*/
.animated-underline {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 150ms ease-in-out;
}

.animated-underline:hover {
  background-size: 100% 2px;
}

/*
Alternate version of animated-underline that uses a pseudo-element
to properly work with the visited: pseudo-state (visited:text-purple-400)
but does not follow line breaks
*/
.animated-underline-alt {
  position: relative;
  text-decoration: none;
}

.animated-underline-alt::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transition: width 150ms ease-in-out;
}

.animated-underline-alt:hover::after {
  width: 100%;
}

.outline-glow {
  @apply outline-2 outline-offset-4 outline-white/0 hover:outline-white transition-all;
}

.group-outline-glow {
  @apply outline-2 outline-offset-4 outline-white/0 group-hover/image:outline-white transition-all;
}

.avatar-outline-glow-sm {
  @apply outline-1 outline-offset-2 outline-white/0 hover:outline-white transition-all;
}

.avatar-outline-glow {
  @apply outline-2 outline-offset-2 outline-white/0 hover:outline-white transition-all;
}

/*
.outline-glow {
  @apply outline-2 outline-offset-4 outline-transparent hover:outline-white hover:drop-shadow-[0_10px_8px_rgba(255,255,255,0.04),_0_4px_3px_rgba(255,255,255,0.1)] transition-all;
}

.group-outline-glow {
  @apply outline-2 outline-offset-4 outline-transparent group-hover/image:outline-white group-hover/image:drop-shadow-[0_10px_8px_rgba(255,255,255,0.04),_0_4px_3px_rgba(255,255,255,0.1)] transition-all;
}

.avatar-outline-glow-sm {
  @apply outline-1 outline-offset-2 outline-transparent hover:outline-white hover:drop-shadow-[0_4px_3px_rgba(255,255,255,0.07),_0_2px_2px_rgba(255,255,255,0.06)] transition-all;
}

.avatar-outline-glow {
  @apply outline-2 outline-offset-2 outline-transparent hover:outline-white hover:drop-shadow-[0_4px_3px_rgba(255,255,255,0.07),_0_2px_2px_rgba(255,255,255,0.06)] transition-all;
}
*/

/*
.fade-bottom {
  mask-image: linear-gradient(to bottom, oklch(0 0 0), oklch(0 0 0 / 0));
  -webkit-mask-image: linear-gradient(to bottom, oklch(0 0 0), oklch(0 0 0 / 0));
}

.fade-bottom-sharp {
  mask-image: linear-gradient(to bottom,
    oklch(0 0 0) 80%,
    oklch(0 0 0 / 0) 100%
  );
  -webkit-mask-image: linear-gradient(to bottom,
    oklch(0 0 0) 80%,
    oklch(0 0 0 / 0) 100%
  );
}
*/

@utility fade-right {
  mask-image: linear-gradient(
    to right,
    oklch(0 0 0) 75%,
    oklch(0 0 0 / 0) 100%
  );
}

@utility fade-right-sharp {
  mask-image: linear-gradient(
    to right,
    oklch(0 0 0) 90%,
    oklch(0 0 0 / 0) 100%
  );
}

@utility fade-bottom-soft {
  mask-image: linear-gradient(
    to bottom,
    oklch(0 0 0) 75%,
    oklch(0 0 0 / 0.5) 100%
  );
}

@utility fade-bottom-alt {
  mask-image: linear-gradient(
    to bottom,
    oklch(0 0 0) 40%,
    oklch(0 0 0 / 0.3) 60%,
    oklch(0 0 0 / 0.2) 80%
  );
}

@utility fade-x-sharp {
  mask-image: linear-gradient(
    to right,
    oklch(0 0 0 / 0) 0%,
    oklch(0 0 0) 10%,
    oklch(0 0 0) 90%,
    oklch(0 0 0 / 0) 100%
  );
}

@utility fade-none {
  mask-image: none;
}

.description a {
  @apply hover:visited:text-purple-300 visited:text-purple-400 hover:text-blue-300 text-blue-400 underline underline-offset-2 font-sans leading-normal tracking-normal
}

.emoji {
  @apply size-6
}

.stamp {
  @apply size-24 rounded object-cover
}

img:not(.emoji) {
  @apply bg-neutral-800
}

code {
  @apply font-mono text-fuchsia-400 rounded px-1 py-0.5
}

/* Loading indicator for hx-requests */
/* ref: https://stackoverflow.com/questions/63787241/css-how-to-create-an-infinitely-moving-repeating-linear-gradient/63787567#63787567 */
#loading-indicator {
  background-image: repeating-linear-gradient(-0.25turn, #118bee 0vw, transparent 40vw);

  &.htmx-request {
    opacity: 1;
  }
}

@keyframes rolling-something {
  0% {
    background-position-x: 0vw;
  }
  100% {
    background-position-x: 40vw;
  }
}

.htmx-indicator {
  display: none;
}
.htmx-request .htmx-indicator {
  display: inline;
}
.htmx-request.htmx-indicator {
  display: inline;
}

.fade-in {
  @apply duration-300 ease-out opacity-100 transition-opacity
}

.htmx-swapped-out-group {
  @apply group-[.htmx-swapping]/swapped:opacity-0 duration-100 ease-in opacity-100 transition-opacity
}

.htmx-swapped-out {
  @apply [.htmx-swapping]:opacity-0 duration-100 ease-in opacity-100 transition-opacity
}

.htmx-added-in {
  @apply [.htmx-added]:opacity-0 duration-200 ease-out opacity-100 transition-opacity
}

/*
For links inside a text body

Add .text-color and .hover:text-color manually,
should be one shade and two shades lighter than text body respectively
*/
.text-link {
  @apply decoration-blue-400 hover:decoration-blue-300 underline decoration-1 hover:decoration-2 underline-offset-3 font-medium
}

/*
For standalone text links not inside a text body

Add .text-color and .hover:text-color manually,
should be one shade and two shades lighter than text body respectively
*/
.text-link-lg {
  @apply decoration-blue-400 hover:decoration-blue-300 underline decoration-2 hover:decoration-4 underline-offset-6 font-medium
}

/*
For standalone text links not inside a text body, styling as a standard blue link
*/
.blue-link {
  @apply text-blue-400 hover:text-blue-300 hover:underline decoration-1 underline-offset-3
}

/* Default popover styling */
/* [popover] {
  position: fixed;
  inset: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
  border: solid;
  padding: 0.25em;
  overflow: auto;
  color: CanvasText;
  background-color: Canvas;
} */

/*
## Style guide

  - Uses RFC 2119 definitions to indicate requirement levels because it works well here
  - This design system is mostly guided by Refactoring UI, and somewhat based on Material Design 3 (https://m3.material.io/)

### Typography

#### Text emphasis hierarchy
Text styles SHOULD (roughly) follow this hierarchy (from highest to lowest emphasis):

1. Primary information (e.g. titles, headings)
    - Size: text-3xl
    - Weight: font-bold
    - Color: text-neutral-100 or text-neutral-200

2. Interactive elements (e.g. usernames, primary links)
    - Size: text-lg
    - Weight: font-bold for emphasis, font-medium otherwise
    - Color: text-neutral-200 with hover:text-neutral-100

3. Supporting content (e.g. metadata, counts)
    - Size: text-sm
    - Weight: Use font-semibold for emphasis, font-normal otherwise
    - Color: text-neutral-300 to text-neutral-400

4. Body content (e.g. descriptions)
    - Size: text-base
    - Weight: normal
    - Color: text-neutral-300

#### Text link states
- For all text links, the following classes SHOULD be added:
  - text-blue-400
  - hover:text-blue-300

- If an actual page navigation is afforded, the following classes SHOULD be added:
  - .visited:text-purple-400
  - .hover:visited:text-purple-300

### Components & actions

#### Button hierarchy guidelines
- Two hierarchies of actions on a page?
  -> Use .filled-button for primary action, .outlined-button for secondary actions

- Two hierarchies but multiple primary actions?
  -> Use .filled-button for main primary actions. Use .filled-button with smaller text (reduces button size) for less important primary actions, using layout and positioning to differentiate from main primary actions. Use .outlined-button for secondary actions.

- Three hierarchies of actions on a page? (rare case, e.g. pagination with prev + next, page numbers, and go-to function)
  -> Use .filled-button for primary action, .outlined-button for secondary actions, .tonal-button-neutral for tertiary actions

- Single hierarchy of actions on a page, with none of them directly blocking user flows? (rare case, e.g. discovery pages)
  -> Use .tonal-button-neutral for all actions, and consider clustering as a navigation component.

- Text buttons: Use sparingly and only for actions that don't fit the main visual hierarchy of the page. These provide a low-emphasis alternative.
  (ref: https://m3.material.io/components/buttons/specs#899b9107-0127-4a01-8f4c-87f19323a1b4)

### Layout & spacing

#### Spacing guidelines
- .gap-* utilities with flexbox SHOULD be used over .space-* utilities wherever possible

- .gap-8 (preferred) or .gap-10 for general page layout
- .gap-6 for where grouping via a card component could exist
- .gap-2, .gap-3, and .gap-4 for spacing between elements within a given component/area

- Use .flex with .items-center for alignment of elements within a component/area

#### Layout organization
- A page MUST ensure that emphasis of information is properly degraded
  - If all information has the same emphasis (text color, text size, font weight, etc), something has gone wrong and the UI needs to be reworked

- How to establish visual hierarchy and group information?
  - Primary information:
    - SHOULD be styled using tiers 1 and 2 from the text emphasis hierarchy
    - SHOULD be established and grouped using a prominent page position
      - SHOULD NOT be grouped within a visible element (e.g. a card)

  - Secondary information:
    - SHOULD be styled using tiers 2, 3, and 4 from the text emphasis hierarchy
    - MAY be grouped using filled cards with a shade lighter than the page background (i.e. .bg-neutral-800)
      - When using a card, fill color SHOULD NOT receive opacity changes due to real-world lighting affecting contrast

  - Tertiary information:
    - SHOULD be styled using tiers 2, 3, and 4 from the text emphasis hierarchy
    - MAY be grouped using using outlined cards (e.g. .border-neutral-700)

- How to group information within a card?
  - If using a filled card, fill SHOULD be added to the primary information segment with a shade lighter than the body of the card, beginning from 20 opacity then adding in steps of 20
  - If using an outlined card, a horizontal rule with a border that is a single shade lighter than the surface beneath the card MAY be used (usually .border-neutral-800)
    - Results from the <hr /> itself, as well as spacing via .gap-*

### Usage of pixivfe color scale
- Color accents via color-pixivfe-400 or lighter MAY be used to break up a monotonous page layout, however:
  - Shades darker than color-pixivfe-400 MUST NOT be used
  - Opacity changes to the pixivfe color scale MUST NOT be made
  - The pixivfe color scale MUST NOT be used for fill (use for accents only)
*/

/*
## Components

These classes __do not__ define the following utilities:
  - Text color  (text-color-*)
  - Text size   (text-*)
  - Font weight (font-*)
  - Gap         (gap-*)
  - Margin      (m-*)

.*-icon-button classes adapt their padding at small viewport widths to properly accomodate a single icon.
*/

.outlined-button {
  @apply
    /* Layout */
    flex
    items-center
    w-fit
    select-none

    /* Appearance */
    rounded-full
    border-1
    border-neutral-600

    /* Interactive states */
    cursor-pointer
    hover:border-neutral-500
    hover:bg-neutral-700
    active:bg-neutral-800
    active:scale-95

    /* Disabled states */
    disabled:text-neutral-500
    disabled:fill-neutral-500
    disabled:border-neutral-800
    disabled:cursor-not-allowed
    disabled:hover:border-neutral-800
    disabled:hover:bg-transparent
    disabled:active:scale-100

    /* Transitions */
    transition

    /* Spacing */
    py-2
    px-3;
}

.outlined-icon-button {
  @apply
    /* Layout */
    flex
    items-center
    w-fit
    select-none

    /* Appearance */
    rounded-full
    bg-transparent
    border-1
    border-neutral-600

    /* Interactive states */
    cursor-pointer
    hover:border-neutral-500
    hover:bg-neutral-700
    active:bg-neutral-800
    active:scale-95

    /* Disabled states */
    disabled:text-neutral-500
    disabled:fill-neutral-500
    disabled:border-neutral-800
    disabled:cursor-not-allowed
    disabled:hover:border-neutral-800
    disabled:hover:bg-transparent
    disabled:active:scale-100

    /* Transitions */
    transition

    /* Spacing */
    p-2
    sm:px-3;
}

.filled-button {
  @apply
    /* Layout */
    flex
    items-center
    w-fit
    select-none

    /* Appearance */
    rounded-full
    bg-neutral-100
    text-neutral-900
    fill-neutral-900
    border-0

    /* Interactive states */
    cursor-pointer
    hover:bg-neutral-300
    active:bg-neutral-400
    active:scale-95

    /* Disabled states */
    disabled:bg-neutral-100/50
    disabled:cursor-not-allowed
    disabled:active:scale-100

    /* Transitions */
    transition

    /* Spacing */
    py-2
    px-3;
}

.filled-icon-button {
  @apply
    /* Layout */
    flex
    items-center
    w-fit
    select-none

    /* Appearance */
    rounded-full
    bg-neutral-100
    text-neutral-900
    fill-neutral-900
    border-0

    /* Interactive states */
    cursor-pointer
    hover:bg-neutral-300
    active:bg-neutral-400
    active:scale-95

    /* Disabled states */
    disabled:bg-neutral-100/50
    disabled:cursor-not-allowed
    disabled:active:scale-100

    /* Transitions */
    transition

    /* Spacing */
    p-2
    sm:px-3;
}

.tonal-button-neutral {
  @apply
    /* Layout */
    flex
    items-center
    w-fit
    select-none

    /* Appearance */
    rounded-full
    bg-neutral-800
    text-neutral-200
    border-0

    /* Interactive states */
    cursor-pointer
    hover:bg-neutral-300
    hover:text-neutral-900
    hover:fill-neutral-900
    active:scale-95

    /* Transitions */
    transition

    /* Spacing */
    py-2
    px-3;
}

.tonal-icon-button-neutral {
  @apply
    /* Layout */
    flex
    items-center
    w-fit
    select-none

    /* Appearance */
    rounded-full
    bg-neutral-800
    text-neutral-200
    border-0

    /* Interactive states */
    cursor-pointer
    hover:bg-neutral-300
    hover:text-neutral-900
    hover:fill-neutral-900
    active:scale-95

    /* Transitions */
    transition

    /* Spacing */
    p-2
    sm:px-3;
}

/* For reference only, adapt shades according to the actual surface the component is on */
.text-button {
  @apply text-blue-400 hover:text-blue-300
}

/* Deprecated due to contrast/color scale issues; favor using .tonal-button-neutral instead */
.tonal-button {
  @apply
    /* Layout */
    flex
    items-center
    w-fit
    select-none

    /* Appearance */
    rounded-lg
    bg-pixivfe-400/25
    text-pixivfe-50
    border-0

    /* Interactive states */
    cursor-pointer
    hover:bg-pixivfe-400/50
    active:bg-pixivfe-400/35
    active:scale-95

    /* Transitions */
    transition

    /* Spacing */
    py-2
    px-3;
}

/* Deprecated due to contrast/color scale issues; favor using .tonal-icon-button-neutral instead */
.tonal-icon-button {
  @apply
    /* Layout */
    flex
    items-center
    w-fit
    select-none

    /* Appearance */
    rounded-lg
    bg-pixivfe-400/25
    text-pixivfe-50
    border-0

    /* Interactive states */
    cursor-pointer
    hover:bg-pixivfe-400/50
    active:bg-pixivfe-400/35
    active:scale-95

    /* Transitions */
    transition

    /* Spacing */
    p-2
    sm:px-3;
}

#novel-section {
  max-height: 80vh;
  margin: 0 auto; /* The Tailwind class didn’t apply! */
}

[data-font=mincho][data-font=jp] {
  font-family: "Source Han Serif JP", "Noto Serif JP", "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "Source Han Serif", "BIZ UDMincho Medium", "Source Serif Pro", "Source Serif", "Noto Serif", "Times New Roman", "Georgia Pro", Georgia, Simsun, PMingLiu, AppleMyungjo, "Source Han Serif K", "Source Han Serif KR", "Noto Serif KR", Batang, serif;
}
[data-font=mincho][data-font=zh-cn],
[data-font=mincho][data-font=zh-hans] {
  font-family: "Songti SC", "Source Han Serif SC", "Noto Serif SC", "Source Han Serif CN", "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "Source Han Serif", "BIZ UDMincho Medium", "Source Serif Pro", "Source Serif", "Noto Serif", "Times New Roman", "Georgia Pro", Georgia, Simsun, PMingLiu, AppleMyungjo, "Source Han Serif K", "Source Han Serif KR", "Noto Serif KR", Batang, serif;
}
[data-font=mincho][data-font=zh-tw],
[data-font=mincho][data-font=zh-hk],
[data-font=mincho][data-font=zh-hant] {
  font-family: "Songti TC", "Source Han Serif TC", "Noto Serif TC", "Source Han Serif TW", "Source Han Serif HK", "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "Source Han Serif", "BIZ UDMincho Medium", "Source Serif Pro", "Source Serif", "Noto Serif", "Times New Roman", "Georgia Pro", Georgia, Simsun, PMingLiu, AppleMyungjo, "Source Han Serif K", "Source Han Serif KR", "Noto Serif KR", Batang, serif;
}
[data-font=mincho] {
  font-family: "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "Source Han Serif", "BIZ UDMincho Medium", "Source Serif Pro", "Source Serif", "Noto Serif", "Times New Roman", "Georgia Pro", Georgia, Simsun, PMingLiu, AppleMyungjo, "Source Han Serif K", "Source Han Serif KR", "Noto Serif KR", Batang, serif;
}
[data-font=gothic] {
  font-family: YuGothic, "Hiragino Kaku Gothic Pro", Meiryo, "Source Han Sans", "Source Han Sans JP", "Noto Sans CJK JP", "Avenir Next", Avenir, "Source Sans", "Noto Sans", Roboto, Verdana, "Pingfang TC", "Pingfang HK", "Hiragino Sans CNS", "Lantinghei TC", "Source Han Sans TW", "Source Han Sans HK", "Noto Sans CJK TC", "Microsoft JhengHei", "Pingfang SC", "Hiragino Sans GB", "Lantinghei SC", "Source Han Sans CN", "Noto Sans CJK SC", "Microsoft Yahei", DengXian, "Apple SD Gothic Neo", "Source Han Sans K", "Source Han Sans KR", "Noto Sans CJK KR", "Malgun Gothic", sans-serif;
}
[data-view="2"] {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

/* TODO: add an option for pure sans, serif and... monospace? */
