{* comments modal *}
{*
the #comments element needs to be present in the DOM at all times via .block, otherwise the scroll position of the child #comments-container won't be reset on page nav for some reason on firefox

this made me mald for trying JS solutions that were pure placebo

at least now firefox users get to see the exit animations while we wait for https://bugzilla.mozilla.org/show_bug.cgi?id=1834877 to be fixed

firefox is hot garbage
*}
<div
  popover
  id="comments"
  class="modal-popover pointer-events-none open:pointer-events-auto
        opacity-0 starting:open:opacity-0 open:opacity-100 transition-all transition-discrete duration-300
        open:flex flex-col h-full w-full lg:w-6/12 starting:open:translate-y-full translate-y-full open:translate-y-1/12 bg-neutral-900 border border-b-0 border-neutral-700 rounded-t-2xl mx-auto pb-16 z-3
        block invisible open:visible"
>
  <div
    class="flex flex-wrap items-center justify-between border-b border-neutral-700 gap-4 sticky top-0 z-2 px-6 py-4"
  >
    <div class="flex items-baseline gap-2">
      <div class="text-lg font-semibold">Comments</div>
      <div class="text-sm font-bold bg-neutral-800 rounded px-2 py-1">
        {{- prettyNumber(.Count) -}}
      </div>
    </div>

    <button
      popovertarget="comments"
      class="group h-fit w-fit cursor-pointer hover:bg-neutral-700 active:scale-95 transition rounded-full p-1 -me-1"
    >
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" class="fill-neutral-300 group-hover:fill-neutral-100"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"></path></svg>
    </button>
  </div>

  <div
    id="comments-container"
    class="relative flex flex-col p-6 gap-6 h-full overflow-y-auto bg-neutral-900"
  >
    {{ if .Count > 0 }}
      <!-- First comment -->
      {{ range index := .Comments[:1] }}
        {{- include "../comments-container" . }}
      {{ end }}

      <!-- Remainder comments, if more than 1 -->
      {{ if .Count > 1 }}
        {{ range index := .Comments[1:] }}
          <hr class="border-neutral-800">
          {{- include "../comments-container" . }}
        {{ end }}
      {{ end }}

      <hr class="border-neutral-800">
      <div class="flex flex-col items-center w-fit font-medium text-neutral-500 fill-neutral-500 rounded-lg gap-2 m-8 mb-12 mx-auto">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>
        No more comments!
      </div>
    {{ else }}
      <div class="flex flex-col items-center w-fit font-medium text-neutral-500 fill-neutral-500 rounded-lg gap-2 m-8 mb-12 mx-auto">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M200-120q-33 0-56.5-23.5T120-200v-120q0-17 11.5-28.5T160-360q17 0 28.5 11.5T200-320v120h120q17 0 28.5 11.5T360-160q0 17-11.5 28.5T320-120H200Zm560 0H640q-17 0-28.5-11.5T600-160q0-17 11.5-28.5T640-200h120v-120q0-17 11.5-28.5T800-360q17 0 28.5 11.5T840-320v120q0 33-23.5 56.5T760-120ZM120-760q0-33 23.5-56.5T200-840h120q17 0 28.5 11.5T360-800q0 17-11.5 28.5T320-760H200v120q0 17-11.5 28.5T160-600q-17 0-28.5-11.5T120-640v-120Zm720 0v120q0 17-11.5 28.5T800-600q-17 0-28.5-11.5T760-640v-120H640q-17 0-28.5-11.5T600-800q0-17 11.5-28.5T640-840h120q33 0 56.5 23.5T840-760ZM480-240q21 0 35.5-14.5T530-290q0-21-14.5-35.5T480-340q-21 0-35.5 14.5T430-290q0 21 14.5 35.5T480-240Zm0-412q26 0 45.5 16t19.5 41q0 23-14.5 41T499-521q-26 23-39.5 43.5T444-428q-1 14 10 24.5t26 10.5q14 0 25.5-10t13.5-25q2-17 12-30t29-32q35-35 46.5-56.5T618-598q0-54-39-88t-99-34q-41 0-73.5 18.5T357-649q-6 12-.5 24.5T375-607q13 5 26.5 0t21.5-16q11-14 25.5-21.5T480-652Z"/></svg>
        No one has commented on this work yet.
      </div>
    {{ end }}
  </div>
</div>
