{* ranking options modal *}

{{- Mode := isset(Queries.mode) ? Queries.mode : "daily" }}
{{- Content := isset(Queries.content) ? Queries.content : "all" }}

<div
  popover
  id="rankingOptions"
  class="modal-popover pointer-events-none open:pointer-events-auto top-1/8 start-2/4 -translate-x-2/4
        opacity-0 starting:open:opacity-0 open:opacity-100 scale-95 starting:open:scale-95 open:scale-100 transition-all transition-discrete
        open:flex h-fit w-fit max-w-11/12 bg-neutral-900 border border-neutral-700 rounded-lg drop-shadow-lg z-3"
>
  <div class="flex flex-col w-full gap-6 p-6">
    <div class="flex items-center justify-between gap-4">
      <div class="flex items-center text-xl font-medium gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M480-120q-17 0-28.5-11.5T440-160v-160q0-17 11.5-28.5T480-360q17 0 28.5 11.5T520-320v40h280q17 0 28.5 11.5T840-240q0 17-11.5 28.5T800-200H520v40q0 17-11.5 28.5T480-120Zm-320-80q-17 0-28.5-11.5T120-240q0-17 11.5-28.5T160-280h160q17 0 28.5 11.5T360-240q0 17-11.5 28.5T320-200H160Zm160-160q-17 0-28.5-11.5T280-400v-40H160q-17 0-28.5-11.5T120-480q0-17 11.5-28.5T160-520h120v-40q0-17 11.5-28.5T320-600q17 0 28.5 11.5T360-560v160q0 17-11.5 28.5T320-360Zm160-80q-17 0-28.5-11.5T440-480q0-17 11.5-28.5T480-520h320q17 0 28.5 11.5T840-480q0 17-11.5 28.5T800-440H480Zm160-160q-17 0-28.5-11.5T600-640v-160q0-17 11.5-28.5T640-840q17 0 28.5 11.5T680-800v40h120q17 0 28.5 11.5T840-720q0 17-11.5 28.5T800-680H680v40q0 17-11.5 28.5T640-600Zm-480-80q-17 0-28.5-11.5T120-720q0-17 11.5-28.5T160-760h320q17 0 28.5 11.5T520-720q0 17-11.5 28.5T480-680H160Z"/></svg>
        Options
      </div>

      <button
        popovertarget="rankingOptions"
        class="group h-fit w-fit cursor-pointer hover:bg-neutral-700 active:scale-95 transition rounded-full p-1 -me-1"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          class="fill-neutral-300 group-hover:fill-neutral-100"
        >
          <path
            d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
          ></path>
        </svg>
      </button>
    </div>

    {* modal body *}
    <form action="/ranking" method="get">
      <div class="flex flex-col h-fit gap-6">
        <h3 class="text-neutral-300 text-sm font-medium">
          Filter by
        </h3>

        <div class="flex justify-start gap-16 -mt-4">
        {{- if Content == "all" }}
          {{- name := "mode" }}
          {{- values := slice(
                            "START_OPTGROUP",
                            "daily",
                            "weekly",
                            "monthly",
                            "rookie",
                            "START_OPTGROUP",
                            "daily_r18",
                            "weekly_r18",
                            "r18g",
                            "START_OPTGROUP",
                            "original",
                            "daily_ai",
                            "male",
                            "female",
                            "START_OPTGROUP",
                            "daily_r18_ai",
                            "male_r18",
                            "female_r18"
                            ) }}
          {{- labels := slice(
                            "Time frame",
                            "Daily",
                            "Weekly",
                            "Monthly",
                            "Rookie",
                            "Time frame (R-18)",
                            "Daily (R-18)",
                            "Weekly (R-18)",
                            "Weekly (R-18G)",
                            "Specialized",
                            "Original",
                            "AI-generated",
                            "Popular among males",
                            "Popular among females",
                            "Specialized (R-18)",
                            "AI-generated (R-18)",
                            "Popular among males (R-18)",
                            "Popular among females (R-18)"
                            ) }}
          {{- yield tw_select(name=name, values=values, labels=labels, activeState=Mode) }}
        {{- else if Content != "ugoira" }}
          {{- name := "mode" }}
          {{- values := slice("daily", "weekly", "monthly", "rookie", "daily_r18", "weekly_r18", "r18g") }}
          {{- labels := slice("Daily", "Weekly", "Monthly", "Rookie", "Daily (R-18)", "Weekly (R-18)", "Weekly (R-18G)") }}
          {{- yield tw_select(name=name, values=values, labels=labels, activeState=Mode) }}
        {{- else }}
          {{- name := "mode" }}
          {{- values := slice("daily", "weekly", "daily_r18", "weekly_r18", "r18g") }}
          {{- labels := slice("Daily", "Weekly", "Daily (R-18)", "Weekly (R-18)", "Weekly (R-18G)") }}
          {{- yield tw_select(name=name, values=values, labels=labels, activeState=Mode) }}
        {{- end }}
        </div>

        <p class="text-xs text-neutral-400 text-nowrap -mt-4">
          Works are ranked using a sliding window.
        </p>

        <h3 class="text-neutral-300 text-sm font-medium">
          Date
        </h3>

        <div class="flex items-center gap-3 -mt-4">
          <input
            id="date"
            name="date"
            type="date"
            value="{{- .Data.CurrentDate -}}"
            min="2007-09-13"
            class="rounded-md border border-neutral-700 bg-neutral-800 px-3 py-2 text-sm/6 text-neutral-100"
          />
        </div>

        <!-- Hidden input for Content local variable -->
        <input type="hidden" name="content" value="{{ Content }}" />

        <div class="flex items-center justify-between gap-8">
          <a href="/ranking" type="button" class="flex items-center w-fit cursor-pointer hover:bg-red-500/10 rounded-full text-red-300 fill-red-300 transition gap-2 px-3 py-2">
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="m643-222-36 36q-17 17-42.5 17T522-186q-17-17-17-42.5t17-42.5l36-36q-3-10-4.5-20t-1.5-21.29q0-54.57 38.66-93.14Q629.31-480 684-480q8.67 0 17.33 1 8.67 1 16.67 3 11 5 13 16.5t-5.69 19.19L684-399q-11 11-11 25.5t11 25.5q11 11 25.5 11t25.5-11l41.31-41.31Q784-397 795.5-395t16.5 13q2 8 3 16.58 1 8.57 1 17.15 0 55.27-38.66 93.77Q738.69-216 684-216q-11.34 0-21.37-1.5Q652.6-219 643-222ZM479-744q-109 0-186 77t-77 186q0 62 25.5 115t70.5 89v-23q0-15.3 10.29-25.65Q332.58-336 347.79-336t25.71 10.35Q384-315.3 384-300v120q0 15.3-10.35 25.65Q363.3-144 348-144H228q-15.3 0-25.65-10.29Q192-164.58 192-179.79t10.35-25.71Q212.7-216 228-216h44q-59-46-93.5-114.72Q144-399.43 144-480q0-69 26.7-130.36 26.7-61.37 72.14-106.8 45.43-45.44 106.8-72.14Q411-816 480-816q60 0 128.45 35.24Q676.9-745.52 791-608q10 11.26 3.5 25.63T771.03-561q-13.97 6-28 0T724-581q-18-62-85.84-112.5T479-744Z"/></svg>
            Reset
          </a>
          <button
            type="submit"
            class="filled-button font-medium gap-2"
          >
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M630-444H227.98q-15.29 0-25.64-10.29Q192-464.58 192-479.79t10.34-25.71q10.35-10.5 25.64-10.5H630L453.79-692.21Q443-703 443-717.5t11-25.98Q465-754 479.5-754t25.31 10.82L742.6-505.09q5.4 5.41 7.9 11.72 2.5 6.31 2.5 13.53 0 7.21-2.5 13.53Q748-460 743-455L505-217q-11 11-25 10.5t-25-11.02q-11-11.48-11-26.15 0-14.66 11-25.33l175-175Z"/></svg>
            Go
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
