{* search bar modal *}
<div
  popover
  id="searchMenu"
  class="modal-popover pointer-events-none open:pointer-events-auto top-1/4 start-2/4 -translate-x-2/4 -translate-y-2/4
        opacity-0 starting:open:opacity-0 open:opacity-100 scale-95 starting:open:scale-95 open:scale-100 transition-all transition-discrete
        open:flex h-fit min-w-80 w-11/12 max-w-120 bg-neutral-900 border border-neutral-700 rounded-lg drop-shadow-lg z-3"
>
  <div
    class="flex flex-col w-full gap-6 p-4"
  >
    <form action="/tags" method="post" autocomplete="off">
      <div class="group relative flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" class="absolute start-2 top-2/4 -translate-y-2/4 fill-neutral-500 group-has-[input:focus]:fill-neutral-400 z-1"><path d="M384.03-336Q284-336 214-406t-70-170q0-100 70-170t170-70q100 0 170 70t70 170.03q0 40.39-12.5 76.18Q599-464 577-434l214 214q11 11 11 25t-11 25q-11 11-25.5 11T740-170L526-383q-30 22-65.79 34.5-35.79 12.5-76.18 12.5Zm-.03-72q70 0 119-49t49-119q0-70-49-119t-119-49q-70 0-119 49t-49 119q0 70 49 119t119 49Z" /></svg>
        <input
          type="search"
          class="w-full rounded-md border border-neutral-700 bg-neutral-800 px-8 py-2 text-sm/6 text-neutral-100
          focus:border-sky-600 focus:outline-none focus:ring-2 focus:ring-sky-600 focus:ring-offset-1
          disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400"
          id="name"
          name="name"
          required
          autofocus
          placeholder="Search artworks"
          aria-label="Search"
        />
        <!-- <input
          class="w-full bg-neutral-800 focus:bg-neutral-700 placeholder:text-neutral-500 focus:placeholder:text-neutral-400 rounded-lg text-sm font-medium px-8 py-2"
          id="search"
          type="search"
          name="name"
          required
          autofocus
          placeholder="Search works"
          aria-label="Search"
        /> -->
      </div>
    </form>

    <div class="text-xs text-neutral-400 space-y-1 -mt-3">
      <div>
        Delimit multiple keywords using spaces.
      </div>
      <div>
        <span class="font-medium">Example:</span> <code class="bg-neutral-950">東方project チルノ</code>
      </div>
    </div>
  </div>
</div>
