{* share menu modal *}
<div
  popover
  id="shareMenu"
  class="modal-popover pointer-events-none open:pointer-events-auto start-2/4 top-1/4 -translate-x-2/4
        opacity-0 starting:open:opacity-0 open:opacity-100 scale-95 starting:open:scale-95 open:scale-100 transition-all transition-discrete
        open:flex h-fit w-11/12 max-w-120 bg-neutral-900 border border-neutral-700 rounded-lg drop-shadow-lg z-3"
>
  <div
    class="flex flex-col w-full gap-6 p-6"
    x-data="{ permalinkCopied: false, artworkIDCopied: false }"
  >
    <div class="flex items-center justify-between gap-4">
      <div class="flex items-center text-xl font-medium gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M680-80q-50 0-85-35t-35-85q0-6 3-28L282-392q-16 15-37 23.5t-45 8.5q-50 0-85-35t-35-85q0-50 35-85t85-35q24 0 45 8.5t37 23.5l281-164q-2-7-2.5-13.5T560-760q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35q-24 0-45-8.5T598-672L317-508q2 7 2.5 13.5t.5 14.5q0 8-.5 14.5T317-452l281 164q16-15 37-23.5t45-8.5q50 0 85 35t35 85q0 50-35 85t-85 35Zm0-80q17 0 28.5-11.5T720-200q0-17-11.5-28.5T680-240q-17 0-28.5 11.5T640-200q0 17 11.5 28.5T680-160ZM200-440q17 0 28.5-11.5T240-480q0-17-11.5-28.5T200-520q-17 0-28.5 11.5T160-480q0 17 11.5 28.5T200-440Zm480-280q17 0 28.5-11.5T720-760q0-17-11.5-28.5T680-800q-17 0-28.5 11.5T640-760q0 17 11.5 28.5T680-720Zm0 520ZM200-480Zm480-280Z"/></svg>
        Share
      </div>

      <button
        popovertarget="shareMenu"
        class="group h-fit w-fit cursor-pointer hover:bg-neutral-700 active:scale-95 transition rounded-full p-1 -me-1"
      >
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" class="fill-neutral-300 group-hover:fill-neutral-100"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"></path></svg>
      </button>
    </div>

    <div class="text-xs font-medium">Permalink</div>
    <div class="flex items-center gap-2 -mt-4">
      <input
        type="text"
        readonly
        value="{{ BaseURL + CurrentPath }}"
        class="w-full bg-neutral-950 border border-neutral-700 text-sm text-neutral-400 focus:bg-neutral-900 focus:border-neutral-600 focus:text-neutral-300 rounded-lg px-4 py-2"
      />
      <div
        class="filled-button text-xs font-medium"
        x-text="permalinkCopied ? 'Copied!' : 'Copy'"
        x-on:click="
              navigator.clipboard.writeText($el.previousElementSibling.value);
              permalinkCopied = true;
              setTimeout(() => permalinkCopied = false, 3000)
            "
      >
        Copy
      </div>
    </div>

    <div class="text-xs font-medium -mt-2">Artwork ID</div>
    <div class="flex items-center gap-2 -mt-4">
      <input
        type="text"
        readonly
        value="{{ .Illust.ID }}"
        class="w-full bg-neutral-950 border border-neutral-700 text-sm text-neutral-400 focus:bg-neutral-900 focus:border-neutral-600 focus:text-neutral-300 rounded-lg px-4 py-2"
      />
      <div
        class="filled-button text-xs font-medium"
        x-text="artworkIDCopied ? 'Copied!' : 'Copy'"
        x-on:click="
              navigator.clipboard.writeText($el.previousElementSibling.value);
              artworkIDCopied = true;
              setTimeout(() => artworkIDCopied = false, 3000)
            "
      >
        Copy
      </div>
    </div>
  </div>
</div>
