{* tag options modal *}
<div
  popover
  id="tagOptions"
  class="modal-popover pointer-events-none open:pointer-events-auto top-2/4 start-2/4 -translate-x-2/4 -translate-y-2/4
        opacity-0 starting:open:opacity-0 open:opacity-100 scale-95 starting:open:scale-95 open:scale-100 transition-all transition-discrete
        open:flex h-fit w-fit max-w-11/12 max-h-[90vh] overflow-y-auto overflow-x-hidden bg-neutral-900 border border-neutral-700 rounded-lg drop-shadow-lg z-3"
>
    <div class="group flex flex-col w-full gap-6">
      <div class="flex items-center justify-between gap-4 p-6 pb-0">
        <div class="flex items-center text-xl font-medium gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M480-120q-17 0-28.5-11.5T440-160v-160q0-17 11.5-28.5T480-360q17 0 28.5 11.5T520-320v40h280q17 0 28.5 11.5T840-240q0 17-11.5 28.5T800-200H520v40q0 17-11.5 28.5T480-120Zm-320-80q-17 0-28.5-11.5T120-240q0-17 11.5-28.5T160-280h160q17 0 28.5 11.5T360-240q0 17-11.5 28.5T320-200H160Zm160-160q-17 0-28.5-11.5T280-400v-40H160q-17 0-28.5-11.5T120-480q0-17 11.5-28.5T160-520h120v-40q0-17 11.5-28.5T320-600q17 0 28.5 11.5T360-560v160q0 17-11.5 28.5T320-360Zm160-80q-17 0-28.5-11.5T440-480q0-17 11.5-28.5T480-520h320q17 0 28.5 11.5T840-480q0 17-11.5 28.5T800-440H480Zm160-160q-17 0-28.5-11.5T600-640v-160q0-17 11.5-28.5T640-840q17 0 28.5 11.5T680-800v40h120q17 0 28.5 11.5T840-720q0 17-11.5 28.5T800-680H680v40q0 17-11.5 28.5T640-600Zm-480-80q-17 0-28.5-11.5T120-720q0-17 11.5-28.5T160-760h320q17 0 28.5 11.5T520-720q0 17-11.5 28.5T480-680H160Z"/></svg>
          Search options
        </div>

        <button
          popovertarget="tagOptions"
          class="group h-fit w-fit cursor-pointer hover:bg-neutral-700 active:scale-95 transition rounded-full p-1 -me-1"
        >
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" class="fill-neutral-300 group-hover:fill-neutral-100"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" ></path></svg>
        </button>
      </div>

      {* modal body *}
      <div class="flex items-center gap-2 px-6">
        <input id="showAdvancedOptions" type="checkbox" class="" />
        <label for="showAdvancedOptions" class="text-neutral-300 text-sm font-medium">
          Show advanced options
        </label>
      </div>

      <form
        action="/tags"
        method="get"
        hx-boost="true"
        hx-swap="show:none"
      >
        <div class="flex flex-col gap-8 p-6 pt-0">
          <div class="flex flex-nowrap flex-col xl:flex-row gap-8">
            <div class="col-span-2 lg:col-span-2 group-has-[#showAdvancedOptions:checked]:col-span-1 flex flex-col h-fit min-w-60 gap-6">
              <label for="name" class="text-sm text-neutral-100 font-medium -mb-4">
                Keywords
              </label>
              <input
                type="text"
                class="w-full rounded-md border border-neutral-700 bg-neutral-800 px-3 py-2 text-sm/6 text-neutral-100
                focus:border-sky-600 focus:outline-none focus:ring-2 focus:ring-sky-600 focus:ring-offset-1
                disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400"
                id="name"
                name="name"
                value="{{ .QueriesC.Query["Name"] }}"
              />
              <div class="text-xs text-neutral-400 space-y-1 -mt-4">
                <div>
                  Delimit multiple keywords using spaces.
                </div>
                <div>
                  <span class="font-medium">Example:</span> <code class="bg-neutral-950">東方project チルノ</code>
                </div>
              </div>

              <div class="flex items-center gap-1 -mb-4">
                <label for="order" class="text-sm text-neutral-100 font-medium">
                  Search order
                </label>
                {{- if .PopularSearchEnabled == true }}
                  <button type="button" popovertarget="popularSearchInfo">
                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" class="size-4 fill-neutral-300 hover:fill-neutral-200 active:fill-neutral-100 transition cursor-pointer"><path d="M479.79-288q15.21 0 25.71-10.35T516-324v-168q0-15.3-10.29-25.65Q495.42-528 480.21-528t-25.71 10.35Q444-507.3 444-492v168q0 15.3 10.29 25.65Q464.58-288 479.79-288Zm0-312q15.21 0 25.71-10.29t10.5-25.5q0-15.21-10.29-25.71t-25.5-10.5q-15.21 0-25.71 10.29t-10.5 25.5q0 15.21 10.29 25.71t25.5 10.5Zm.49 504Q401-96 331-126t-122.5-82.5Q156-261 126-330.96t-30-149.5Q96-560 126-629.5q30-69.5 82.5-122T330.96-834q69.96-30 149.5-30t149.04 30q69.5 30 122 82.5T834-629.28q30 69.73 30 149Q864-401 834-331t-82.5 122.5Q699-156 629.28-126q-69.73 30-149 30Zm-.28-72q130 0 221-91t91-221q0-130-91-221t-221-91q-130 0-221 91t-91 221q0 130 91 221t221 91Zm0-312Z"/></svg>
                  </button>
                {{- end -}}
              </div>
              {{- if .PopularSearchEnabled -}}
                {{ name := "order" -}}
                {{ values := slice("date_d", "date", "popular") -}}
                {{ labels := slice("Newest", "Oldest", "Popular") -}}
                {{- yield tw_select(name=name, values=values, labels=labels, activeState=.ActiveOrder) -}}
                <div
                  popover
                  id="popularSearchInfo"
                  class="modal-popover pointer-events-none open:pointer-events-auto top-2/4 start-2/4 -translate-x-2/4 -translate-y-2/4
                        opacity-0 starting:open:opacity-0 open:opacity-100 scale-95 starting:open:scale-95 open:scale-100 transition-all transition-discrete
                        open:flex flex-col sm:flex-row gap-6 group-open/details:opacity-100 overflow-hidden
                        w-11/12 max-w-120 bg-neutral-900 border border-neutral-700 p-6 rounded-lg text-sm/6 -mt-2
                        starting:backdrop:bg-black/0 backdrop:bg-black/60 text-neutral-300 drop-shadow-2xl"
                >
                  <div class="rounded-full size-fit bg-neutral-100 fill-neutral-900 p-2 mx-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M480-280q17 0 28.5-11.5T520-320v-160q0-17-11.5-28.5T480-520q-17 0-28.5 11.5T440-480v160q0 17 11.5 28.5T480-280Zm0-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>
                  </div>

                  <div class="flex flex-col gap-4">
                    <div>
                      The <span class="font-bold text-neutral-100">Popular</span> search order uses <code>users入り</code> bookmark count tags to show the most popular works, but is limited to one page and specific milestones.
                    </div>
                    <div>
                      If no results appear, the tag likely lacks bookmark data.
                    </div>
                    <div class="font-medium text-neutral-100">
                      Try broader tags like <code>#アイマス</code> instead of <code>#アイドルマスターシャイニーカラーズ</code> for better results.
                    </div>
                  </div>
                </div>
                {{- else -}}
                  {{ name := "order" }}
                  {{ values := slice("date_d", "date") }}
                  {{ labels := slice("Newest", "Oldest") }}
                  {{- yield tw_select(name=name, values=values, labels=labels, activeState=.ActiveOrder) }}
              {{- end -}}

              <label for="ratio" class="text-sm text-neutral-100 font-medium -mb-4">
                Aspect ratio
              </label>
              {{ name := "ratio" }}
              {{ values := slice("", "-0.5", "0", "0.5") }}
              {{ labels := slice("Any", "Portrait", "Square", "Landscape") }}
              {{- yield tw_select(name=name, values=values, labels=labels, activeState=.ActiveOrder) }}

              <label for="smode" class="text-sm text-neutral-100 font-medium -mb-4">
                Search mode
              </label>
              {{ name := "smode" }}
              {{ values := slice("s_tag", "s_tag_full", "s_tc") }}
              {{ labels := slice("Partial (tags)", "Exact (tags)", "Title/Caption") }}
              {{- yield tw_select(name=name, values=values, labels=labels, activeState=.ActiveSearchMode) }}
            </div>
            <div
              class="col-span-2 lg:col-span-1 flex-col h-fit gap-6 text-nowrap
                    hidden group-has-[#showAdvancedOptions:checked]:flex
                    max-w-0 group-has-[#showAdvancedOptions:checked]:starting:max-w-0 group-has-[#showAdvancedOptions:checked]:max-w-100
                    opacity-0 group-has-[#showAdvancedOptions:checked]:starting:opacity-0 group-has-[#showAdvancedOptions:checked]:opacity-100
                    duration-300
                    transition-all transition-discrete
                    ">
              <div class="grid grid-cols-1 md:grid-cols-2 grid-flow-row gap-4">
                <div class="col-span-1 flex flex-col gap-6">
                  <label for="wlt" class="text-sm text-neutral-100 font-medium -mb-4">
                    Minimum image width
                  </label>
                  <input
                    type="number"
                    class="w-full rounded-md border border-neutral-700 bg-neutral-800 px-3 py-2 text-sm/6 text-neutral-100
                    focus:border-sky-600 focus:outline-none focus:ring-2 focus:ring-sky-600 focus:ring-offset-1
                    disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400"
                    id="wlt"
                    name="wlt"
                    placeholder="1024"
                    value="{{ .QueriesC.Query["Wlt"] }}"
                  />
                </div>

                <div class="col-span-1 flex flex-col gap-6">
                  <label for="wgt" class="text-sm text-neutral-100 font-medium -mb-4">
                    Maximum image width
                  </label>
                  <input
                    type="number"
                    class="w-full rounded-md border border-neutral-700 bg-neutral-800 px-3 py-2 text-sm/6 text-neutral-100
                    focus:border-sky-600 focus:outline-none focus:ring-2 focus:ring-sky-600 focus:ring-offset-1
                    disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400"
                    id="wgt"
                    name="wgt"
                    placeholder="2048"
                    value="{{ .QueriesC.Query["Wgt"] }}"
                  />
                </div>

                <div class="col-span-1 flex flex-col gap-6">
                  <label for="hlt" class="text-sm text-neutral-100 font-medium -mb-4">
                    Minimum image height
                  </label>
                  <input
                    type="number"
                    class="w-full rounded-md border border-neutral-700 bg-neutral-800 px-3 py-2 text-sm/6 text-neutral-100
                    focus:border-sky-600 focus:outline-none focus:ring-2 focus:ring-sky-600 focus:ring-offset-1
                    disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400"
                    id="hlt"
                    name="hlt"
                    placeholder="512"
                    value="{{ .QueriesC.Query["Hlt"] }}"
                  />
                </div>

                <div class="col-span-1 flex flex-col gap-6">
                  <label for="hgt" class="text-sm text-neutral-100 font-medium -mb-4">
                    Maximum image height
                  </label>
                  <input
                    type="number"
                    class="w-full rounded-md border border-neutral-700 bg-neutral-800 px-3 py-2 text-sm/6 text-neutral-100
                    focus:border-sky-600 focus:outline-none focus:ring-2 focus:ring-sky-600 focus:ring-offset-1
                    disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400"
                    id="hgt"
                    name="hgt"
                    placeholder="1024"
                    value="{{ .QueriesC.Query["Hgt"] }}"
                  />
                </div>
              </div>

              <div class="grid grid-cols-1 md:grid-cols-2 grid-flow-row gap-4">
                <div class="col-span-1 flex flex-col gap-6">
                  <label for="ecd" class="text-sm text-neutral-100 font-medium -mb-4">
                    Posted before
                  </label>
                  <input
                    type="date"
                    class="w-full rounded-md border border-neutral-700 bg-neutral-800 px-3 py-2 text-sm/6 text-neutral-100
                    focus:border-sky-600 focus:outline-none focus:ring-2 focus:ring-sky-600 focus:ring-offset-1
                    disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400"
                    id="ecd"
                    name="ecd"
                    value="{{ .QueriesC.Query["Ecd"] }}"
                  />
                </div>

                <div class="col-span-1 flex flex-col gap-6">
                  <label for="scd" class="text-sm text-neutral-100 font-medium -mb-4">
                    Posted after
                  </label>
                  <input
                    type="date"
                    class="w-full rounded-md border border-neutral-700 bg-neutral-800 px-3 py-2 text-sm/6 text-neutral-100
                    focus:border-sky-600 focus:outline-none focus:ring-2 focus:ring-sky-600 focus:ring-offset-1
                    disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400"
                    id="scd"
                    name="scd"
                    value="{{ .QueriesC.Query["Scd"] }}"
                  />
                </div>
              </div>

              <label for="tool" class="text-sm text-neutral-100 font-medium -mb-4">
                Creation tool
              </label>

              {{- name := "tool" }}
              {{- labels := slice(
                                  "All creation tools",
                                  "Raster/paint software",
                                  "SAI",
                                  "Photoshop",
                                  "CLIP STUDIO PAINT",
                                  "IllustStudio",
                                  "ComicStudio",
                                  "Pixia",
                                  "AzPainter2",
                                  "Painter",
                                  "GIMP",
                                  "FireAlpaca",
                                  "AzPainter",
                                  "CGillust",
                                  "MS_Paint",
                                  "PictBear",
                                  "openCanvas",
                                  "PaintShopPro",
                                  "EDGE",
                                  "AzDrawing",
                                  "SketchBookPro",
                                  "PhotoStudio",
                                  "Paintgraphic",
                                  "MediBang Paint",
                                  "NekoPaint",
                                  "ArtRage",
                                  "AzDrawing2",
                                  "ibisPaint",
                                  "GraphicsGale",
                                  "Krita",
                                  "4thPaint",
                                  "ComiLabo",
                                  "Pixelmator",
                                  "Procreate",
                                  "PicturePublisher",
                                  "dotpict",
                                  "Aseprite",
                                  "Pastela",
                                  "Vector software",
                                  "Illustrator",
                                  "Inkscape",
                                  "Fireworks",
                                  "Expression",
                                  "Animation/motion",
                                  "Live2D",
                                  "AfterEffects",
                                  "e-mote",
                                  "RETAS STUDIO",
                                  "Online/web tools",
                                  "Oekaki BBS",
                                  "Oekaki Chat",
                                  "Tegaki Blog",
                                  "drawr",
                                  "pixiv Sketch",
                                  "kokuban.in",
                                  "Processing",
                                  "General 3D modeling",
                                  "Blender",
                                  "Maya",
                                  "3dsMax",
                                  "CINEMA4D",
                                  "XSI",
                                  "modo",
                                  "Lightwave3D",
                                  "Character/figure 3D",
                                  "Poser",
                                  "DAZ Studio",
                                  "VRoid Studio",
                                  "Comi Po!",
                                  "Digital sculpting",
                                  "ZBrush",
                                  "Sculptris",
                                  "3D-Coat",
                                  "3D environment/other",
                                  "Vue",
                                  "VistaPro",
                                  "Bryce",
                                  "STRATA",
                                  "SketchUp",
                                  "Metasequoia",
                                  "Shade",
                                  "CARRARA",
                                  "Hexagon King",
                                  "AnimationMaster",
                                  "Sunny3D",
                                  "Paint 3D",
                                  "Traditional dry media",
                                  "Mechanical pencil",
                                  "Pencil",
                                  "Colored pencil",
                                  "Pastels",
                                  "Crayon",
                                  "Coupy pencil",
                                  "Traditional wet media",
                                  "Watercolors",
                                  "Paint",
                                  "Acrylic paint",
                                  "Oil paint",
                                  "Gansai",
                                  "Traditional pen & marker",
                                  "Ballpoint pen",
                                  "Thin marker",
                                  "Copic marker",
                                  "Dip pen",
                                  "Calligraphy pen",
                                  "Felt-tip pen",
                                  "Magic marker",
                                  "Watercolor brush",
                                  "Brush",
                                  "Fountain pen",
                                  "Airbrush",
                                  "Color ink",
                                  "mdiapp"
                                  ) }}
              {{- values := slice(
                                  "",
                                  "START_OPTGROUP",
                                  "SAI",
                                  "Photoshop",
                                  "CLIP STUDIO PAINT",
                                  "IllustStudio",
                                  "ComicStudio",
                                  "Pixia",
                                  "AzPainter2",
                                  "Painter",
                                  "GIMP",
                                  "FireAlpaca",
                                  "AzPainter",
                                  "CGillust",
                                  "MS_Paint",
                                  "PictBear",
                                  "openCanvas",
                                  "PaintShopPro",
                                  "EDGE",
                                  "AzDrawing",
                                  "SketchBookPro",
                                  "PhotoStudio",
                                  "Paintgraphic",
                                  "MediBang Paint",
                                  "NekoPaint",
                                  "ArtRage",
                                  "AzDrawing2",
                                  "ibisPaint",
                                  "GraphicsGale",
                                  "Krita",
                                  "4thPaint",
                                  "ComiLabo",
                                  "Pixelmator",
                                  "Procreate",
                                  "PicturePublisher",
                                  "dotpict",
                                  "Aseprite",
                                  "Pastela",
                                  "START_OPTGROUP",
                                  "Illustrator",
                                  "Inkscape",
                                  "Fireworks",
                                  "Expression",
                                  "START_OPTGROUP",
                                  "Live2D",
                                  "AfterEffects",
                                  "e-mote",
                                  "RETAS STUDIO",
                                  "START_OPTGROUP",
                                  "Oekaki BBS",
                                  "Oekaki Chat",
                                  "Tegaki Blog",
                                  "drawr",
                                  "pixiv Sketch",
                                  "kokuban.in",
                                  "Processing",
                                  "START_OPTGROUP",
                                  "Blender",
                                  "Maya",
                                  "3dsMax",
                                  "CINEMA4D",
                                  "XSI",
                                  "modo",
                                  "Lightwave3D",
                                  "START_OPTGROUP",
                                  "Poser",
                                  "DAZ Studio",
                                  "VRoid Studio",
                                  "Comi Po!",
                                  "START_OPTGROUP",
                                  "ZBrush",
                                  "Sculptris",
                                  "3D-Coat",
                                  "START_OPTGROUP",
                                  "Vue",
                                  "VistaPro",
                                  "Bryce",
                                  "STRATA",
                                  "SketchUp",
                                  "Metasequoia",
                                  "Shade",
                                  "CARRARA",
                                  "Hexagon King",
                                  "AnimationMaster",
                                  "Sunny3D",
                                  "Paint 3D",
                                  "START_OPTGROUP",
                                  "Mechanical pencil",
                                  "Pencil",
                                  "Colored pencil",
                                  "Pastels",
                                  "Crayon",
                                  "Coupy pencil",
                                  "START_OPTGROUP",
                                  "Watercolors",
                                  "Paint",
                                  "Acrylic paint",
                                  "Oil paint",
                                  "Gansai",
                                  "START_OPTGROUP",
                                  "Ballpoint pen",
                                  "Thin marker",
                                  "Copic marker",
                                  "Dip pen",
                                  "Calligraphy pen",
                                  "Felt-tip pen",
                                  "Magic marker",
                                  "Watercolor brush",
                                  "Brush",
                                  "Fountain pen",
                                  "Airbrush",
                                  "Color ink",
                                  "mdiapp"
                                  ) }}
              {{- yield tw_select(name=name, values=values, labels=labels, activeState=.QueriesC.Query["Tool"]) }}
            </div>
          </div>
          <button type="submit" class="col-span-2 filled-button font-medium ms-auto gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M630-444H227.98q-15.29 0-25.64-10.29Q192-464.58 192-479.79t10.34-25.71q10.35-10.5 25.64-10.5H630L453.79-692.21Q443-703 443-717.5t11-25.98Q465-754 479.5-754t25.31 10.82L742.6-505.09q5.4 5.41 7.9 11.72 2.5 6.31 2.5 13.53 0 7.21-2.5 13.53Q748-460 743-455L505-217q-11 11-25 10.5t-25-11.02q-11-11.48-11-26.15 0-14.66 11-25.33l175-175Z"/></svg>
            Go
          </button>
        </div>
      </form>
    </div>
</div>
