{* user profile modal *}
<div
  popover
  id="userProfile"
  class="modal-popover pointer-events-none open:pointer-events-auto top-2/4 start-2/4 -translate-x-2/4 -translate-y-2/4
        opacity-0 starting:open:opacity-0 open:opacity-100 scale-95 starting:open:scale-95 open:scale-100 transition-all transition-discrete
        open:flex h-fit min-w-80 w-fit max-w-11/12 max-h-[90vh] overflow-y-auto bg-neutral-900 border border-neutral-700 rounded-lg drop-shadow-lg z-3"
>
  <div class="flex flex-col w-full gap-8 p-6">
    <div class="flex items-center justify-between gap-4">
      <div class="flex items-center text-xl font-medium gap-2">
        <!-- <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M480-280q17 0 28.5-11.5T520-320v-160q0-17-11.5-28.5T480-520q-17 0-28.5 11.5T440-480v160q0 17 11.5 28.5T480-280Zm0-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg> -->
        About
      </div>

      <button
        popovertarget="userProfile"
        class="group h-fit w-fit cursor-pointer hover:bg-neutral-700 active:scale-95 transition rounded-full p-1 -me-1"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          class="fill-neutral-300 group-hover:fill-neutral-100"
        >
          <path
            d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
          ></path>
        </svg>
      </button>
    </div>

    {* modal body *}
    {{ if .User.CommentHTML }}
      <div class="text-neutral-200 text-sm/6 description max-w-120 -mt-4">
        {{ raw(parsePixivRedirect(.User.CommentHTML)) }}
      </div>
      {{ else }}
      <div class="text-neutral-500 text-sm italic -mt-4">
        No description added
      </div>
    {{ end }}

    {{ if .User.Region }}
      <div class="flex items-center text-neutral-300 fill-neutral-300 font-medium text-sm gap-2 -mt-2">
        <div class="min-w-5">
          <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M480-191q119-107 179.5-197T720-549q0-105-68.5-174T480-792q-103 0-171.5 69T240-549q0 71 60.5 161T480-191Zm0 72q-13 0-24.5-4.5T433-137q-40-35-86.5-82T260-320q-40-54-66-112.5T168-549q0-134 89-224.5T480-864q133 0 222.5 90.5T792-549q0 58-26.5 117t-66 113q-39.5 54-86 100.5T527-137q-11 9-22.5 13.5T480-119Zm0-433Zm0 72q30 0 51-21t21-51q0-30-21-51t-51-21q-30 0-51 21t-21 51q0 30 21 51t51 21Z"/></svg>
        </div>
        <div>
          {{ if .User.Region.ParsedPrefecture }}
            <span>
              {{ .User.Region.ParsedPrefecture }},
            </span>
          {{ end }}

          {{ if .User.Region.Name }}
            <span>
              {{ .User.Region.Name }}
            </span>
          {{ end }}

          {*
          {{ if .User.Region.Region }}
            <span>
              {{ .User.Region.Region }}
            </span>
          {{ end }}
          *}
        </div>
      </div>
    {{ end }}

    {* yet another 'effective fields' check *}
    {{ effectivePersonalFields := 0 }}
    {{ range .PersonalFields }}
      {{ if .Value != "" }}
        {{ effectivePersonalFields = effectivePersonalFields + 1 }}
      {{ end }}
    {{ end }}

    {{ effectiveWorkspaceFields := 0 }}
    {{ range .WorkspaceItems }}
      {{ if .Value != "" }}
        {{ effectiveWorkspaceFields = effectiveWorkspaceFields + 1 }}
      {{ end }}
    {{ end }}

    <!-- Extended details (location, setup etc.) -->
    {{ if effectivePersonalFields > 0 || effectiveWorkspaceFields > 0 }}
    <hr class="border-neutral-700">

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 text-sm -mt-2">
      {{ if effectivePersonalFields > 0 }}
        <div class="flex flex-col w-full gap-4 text-sm">
          {{ range .PersonalFields }}
            <div class="flex justify-between gap-24">
              <div class="text-neutral-300 fill-neutral-300 font-medium">
                {{ .Key }}
              </div>
              {{ if .Value != "" }}
                <div class="text-neutral-100 fill-neutral-100 font-medium">
                  {{ .Value }}
                </div>
                {{ else }}
                <div class="text-neutral-500 italic">
                  Not provided
                </div>
              {{ end }}
            </div>
            {{ end }}
          </div>
        {{ end }}

        {{ if .User.Workspace }}
          <div class="flex flex-col w-full gap-4 text-sm">
            {{ range .WorkspaceItems }}
              <div class="flex justify-between gap-24">
                <div class="text-neutral-300 fill-neutral-300 font-medium">
                  {{ .Key }}
                </div>
                {{ if .Value != "" }}
                  <div class="text-neutral-100 fill-neutral-100 font-medium">
                    {{ .Value }}
                  </div>
                  {{ else }}
                  <div class="text-neutral-500 italic">
                    Not provided
                  </div>
                {{ end }}
              </div>
            {{ end }}
          </div>
        {{ end }}
      </div>

    <hr class="border-neutral-700">
    {{ end }}

    <!-- <div class="font-medium">
      Socials
    </div> -->

    <div>
      {{- include "../tw-social-media-links-long" .User }}
    </div>
  </div>
</div>
