{* user menu popover *}
<div
  popover
  id="userMenu"
  class="peer pointer-events-none open:pointer-events-auto
        opacity-0 starting:open:opacity-0 open:opacity-100 scale-95 starting:open:scale-95 open:scale-100 origin-top-right transition-all transition-discrete
        open:flex flex-col h-fit w-72 bg-neutral-800 rounded-lg drop-shadow-lg mt-14 ms-auto me-4 z-3"
  hx-boost="true"
  hx-swap="outerHTML"
  hx-target="main"
  hx-select="main"
>
  <div class="flex bg-neutral-700/40 gap-4 p-4">
    <a href="/self">
      <img src="{{ userAvatar }}" alt="{{ username }} avatar" class="size-12 min-w-12 rounded-full avatar-outline-glow" />
    </a>
    <div class="flex flex-col gap-1">
      <a href="/self">
        <div class="w-fit text-xl font-semibold text-neutral-200 hover:text-neutral-50 line-clamp-1 animated-underline">{{ username }}</div>
      </a>
      <div class="text-xs text-neutral-400"><span class="font-medium">User ID:</span> {{ userID }}</div>
    </div>
  </div>
  <ul class="flex flex-col w-full text-sm py-3 px-2 gap-1">
    <li>
      <a href="/self/bookmarks" class="flex items-center hover:text-neutral-50 hover:fill-neutral-50 hover:bg-neutral-700 rounded-lg text-neutral-300 fill-neutral-300 transition gap-2 px-4 py-3">
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M480-170q-13 0-25.5-4.5T431-189l-59-54q-109-97-192.5-189.5T96-634q0-88.02 59.85-147.01Q215.7-840 305-840q51.2 0 96.6 21.5Q447-797 480-757q35-40 79.66-61.5t95.02-21.5Q744-840 804-781.01T864-634q0 109-83.5 201.5T588-243l-59 54q-11 10-23.5 14.5T480-170Zm-34-512q-24-41-60-63.5T305-768q-58.71 0-97.86 38Q168-692 168-633.61 168-583 204-527t86 109.5Q340-364 393-318t87 76q34-30 87-76t103-99.5Q720-471 756-527t36-106.61Q792-692 752.86-730q-39.15-38-97.86-38-45 0-81.5 22.5T513-682q-5 10-14.05 14.5t-19 4.5q-9.95 0-19.45-4.5T446-682Zm34 177Z"/></svg>
        Bookmarks
      </a>
    </li>
    <li>
      <a href="/self/followingWorks" class="flex items-center w-full hover:text-neutral-50 hover:fill-neutral-50 hover:bg-neutral-700 rounded-lg text-neutral-300 fill-neutral-300 transition gap-2 px-4 py-3">
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M216-216v-528 151-7 384Zm108-228h169q14.88 0 24.94-10.29t10.06-25.5q0-15.21-10.35-25.71T492-516H324q-15.3 0-25.65 10.29Q288-495.42 288-480.21t10.35 25.71Q308.7-444 324-444Zm0 156h169q14.88 0 24.94-10.29t10.06-25.5q0-15.21-10.35-25.71T492-360H324q-15.3 0-25.65 10.29Q288-339.42 288-324.21t10.35 25.71Q308.7-288 324-288Zm0-312h312q15.3 0 25.65-10.29Q672-620.58 672-635.79t-10.35-25.71Q651.3-672 636-672H324q-15.3 0-25.65 10.29Q288-651.42 288-636.21t10.35 25.71Q308.7-600 324-600ZM216-144q-29.7 0-50.85-21.15Q144-186.3 144-216v-528q0-29.7 21.15-50.85Q186.3-816 216-816h528q29.7 0 50.85 21.15Q816-773.7 816-744v137q0 15.3-10.29 25.65Q795.42-571 780.21-571t-25.71-10.35Q744-591.7 744-607v-137H216v528h204q15.3 0 25.65 10.29Q456-195.42 456-180.21t-10.35 25.71Q435.3-144 420-144H216Zm480.23-192Q656-336 628-363.77q-28-27.78-28-68Q600-472 627.77-500q27.78-28 68-28Q736-528 764-500.23q28 27.78 28 68Q792-392 764.23-364q-27.78 28-68 28Zm-.23 48q42 0 81 13.5t71 40.5q8 7 12 16.46t4 20.54v17q0 15.3-10.35 25.65Q843.3-144 828-144H564q-15.3 0-25.65-10.35Q528-164.7 528-180v-17q0-11.08 4-20.54 4-9.46 12-16.46 32-27 71-40.5t81-13.5Z"/></svg>
        Latest by followed users
      </a>
    </li>
    <li>
      <a href="/self/followingUsers" class="flex items-center w-full hover:text-neutral-50 hover:fill-neutral-50 hover:bg-neutral-700 rounded-lg text-neutral-300 fill-neutral-300 transition gap-2 px-4 py-3">
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M96-284q0-25.78 12.5-47.39T143-366q54-32 114.5-49T384-432q66 0 126.5 17T625-366q22 13 34.5 34.61T672-284v20q0 29.7-21.16 50.85Q629.68-192 599.96-192H167.72Q138-192 117-213.15T96-264v-20Zm696 92h-67q9-17 14-35.19 5-18.18 5-36.81v-20q0-42-19.5-78T672-421q39 8 75.5 21.5T817-366q22 13 34.5 34.67Q864-309.65 864-284v20q0 29.7-21.15 50.85Q821.7-192 792-192ZM384-480q-60 0-102-42t-42-102q0-60 42-102t102-42q60 0 102 42t42 102q0 60-42 102t-102 42Zm336-144q0 60-42 102t-102 42q-8 0-15-.5t-15-2.5q25-29 39.5-64.5T600-624q0-41-14.5-76.5T546-765q8-2 15-2.5t15-.5q60 0 102 42t42 102ZM168-264h432v-20q0-6.47-3.03-11.76-3.02-5.3-7.97-8.24-47-27-99-41.5T384-360q-54 0-106 14t-99 42q-4.95 2.83-7.98 7.91-3.02 5.09-3.02 12V-264Zm216.21-288Q414-552 435-573.21t21-51Q456-654 434.79-675t-51-21Q354-696 333-674.79t-21 51Q312-594 333.21-573t51 21ZM384-264Zm0-360Z"/></svg>
        Followed users
      </a>
    </li>
    {* TODO: rm the hx-boost="false" attribute once the settings page is rewritten *}
    <li hx-boost="false">
      <a href="/settings" class="flex items-center hover:text-neutral-50 hover:fill-neutral-50 hover:bg-neutral-700 rounded-lg text-neutral-300 fill-neutral-300 transition gap-2 px-4 py-3">
        {* NOTE: actually a fill icon version *}
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M440-96q-17 0-29-10t-15-26l-15-78q-23-9-44.5-21T296-259l-75 26q-15 5-30.5-.5T167-253l-40-70q-8-14-5-29.5t15-26.5l59-52q-2-12-3-24t-1-25q0-13 1-25t3-24l-59-52q-12-11-15-26.5t5-29.5l40-70q8-14 23.5-19.5t30.5-.5l75 26q19-16 40.5-28t44.5-21l15-78q3-16 15-26t29-10h80q17 0 29 10t15 26l15 78q23 9 44.5 21t40.5 28l75-26q15-5 30.5.5T793-707l40 70q8 14 5 29.5T823-581l-59 52q2 12 3 24t1 25q0 13-1 25t-3 24l59 52q12 11 15 26.5t-5 29.5l-40 70q-8 14-23.5 19.5t-30.5.5l-75-26q-19 16-40.5 28T579-210l-15 78q-3 16-15 26t-29 10h-80Zm40-240q60 0 102-42t42-102q0-60-42-102t-102-42q-60 0-102 42t-42 102q0 60 42 102t102 42Z"/></svg>
        Settings
      </a>
    </li>
    <li>
      <form action="/settings/logout" method="post">
        <button type="submit" class="flex items-center w-full cursor-pointer hover:bg-red-500/10 rounded-lg text-red-300 fill-red-300 transition gap-2 px-4 py-3">
          <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M216-144q-29.7 0-50.85-21.15Q144-186.3 144-216v-528q0-29.7 21.15-50.85Q186.3-816 216-816h228q15.3 0 25.65 10.29Q480-795.42 480-780.21t-10.35 25.71Q459.3-744 444-744H216v528h228q15.3 0 25.65 10.29Q480-195.42 480-180.21t-10.35 25.71Q459.3-144 444-144H216Zm462-300H419.96q-15.28 0-25.62-10.29Q384-464.58 384-479.79t10.34-25.71q10.34-10.5 25.62-10.5H678l-56-56q-11-11-11-25.57t11-25.5Q633-634 647.5-634t25.5 11l118 118q11 10.64 11 24.82T791-455L673-337q-11 11-25 10.5T622.52-338Q612-349 612-363.5t11-25.5l55-55Z"/></svg>
          Log out
        </button>
      </form>
    </li>
  </ul>
</div>
