{{ relativeTimeData := relativeTime(.CommentDate) }}

<div class="flex gap-4">
  {* checks whether .UserName is empty, indicating a deleted user *}
  {{- if !.IsDeletedUser }}
  <a class="h-fit" href="/users/{{ .UserId }}/bookmarks">
    <img class="aspect-square object-cover size-10 min-w-10 rounded-full avatar-outline-glow" src="{{ .Img }}" alt="{{ .UserName }}" loading="lazy" />
  </a>
  {{- else }}
  <img class="aspect-square object-cover size-10 min-w-10 rounded-full" src="/img/deleted.png" alt="{{ .UserName }}" loading="lazy" />
  {{- end }}

  <div class="flex flex-col w-full gap-2">
    <div class="flex flex-row flex-wrap items-baseline gap-y-0.5 gap-x-1.5">
      {{- if !.IsDeletedUser -}}
        <a href="/users/{{ .UserId }}/bookmarks" class="text-sm font-semibold animated-underline">{{- .UserName -}}</a>
        {{- else -}}
        <p class="text-neutral-400 text-sm  font-semibold">Deleted user</p>
      {{- end -}}

      {{- if .UserId == .WorkUserId -}}
        <div class="flex border border-blue-500 bg-blue-500/10 text-white text-xs font-semibold rounded-lg px-2 py-1">Author</div>
      {{- end -}}

      <div class="text-neutral-400 text-sm select-none">&bull;</div>

      <div class="text-neutral-400 text-sm" title="{{ naturalTime: .CommentDate }}">
        {{ relativeTimeData.Value }} {{ relativeTimeData.Description }} {{ if relativeTimeData.Time }}{{ relativeTimeData.Time }}{{ end }}
      </div>

      {*
      <div class="hidden sm:block text-neutral-500 text-xs ms-auto">
        #{{- .Id -}}
      </div>
      *}
    </div>

    {{- if .StampLink }}
        {{ raw(.StampLink) }}
      {{- else }}
      <!-- Comment with emojis -->
      <p class="flex flex-row flex-wrap text-wrap truncate break-words text-neutral-300 gap-2">
        {{ raw(parseEmojis(.Comment)) }}
      </p>

      {*
      NOTE: the layout *would* break with deeply nested reply chains,
            but pixiv uses a flat hierarchy for replies so it's fine
      *}
      {{- if .HasReplies }}
        {{ replyCount := len(.Replies)}}
        <details class="group/details mt-2" open>
          <summary class="group/summary flex items-center w-fit font-medium text-blue-400 fill-blue-400 hover:bg-blue-500/25 rounded-full cursor-pointer select-none transition gap-2 ps-3 pe-4 py-2 -ms-3 -me-4 -my-2">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" class="group-open/details:rotate-180 transition"><path d="M480-361q-8 0-15-2.5t-13-8.5L268-556q-11-11-11-28t11-28q11-11 28-11t28 11l156 156 156-156q11-11 28-11t28 11q11 11 11 28t-11 28L508-372q-6 6-13 8.5t-15 2.5Z"/></svg>
            <span class="inline group-open/details:hidden">
              Read {{ prettyNumber(replyCount) }} {{ if replyCount == 1 }}reply{{ else }}replies{{ end }}
            </span>
            <span class="hidden group-open/details:inline">
              Hide {{ if replyCount == 1 }}reply{{ else }}replies{{ end }}
            </span>
          </summary>
          <div class="flex flex-col group-open/details:opacity-100 opacity-0 transition gap-6 mt-6">
            {{ range .Replies }}
              {{ include "comments-container" . }}
            {{ end }}
          </div>
        </details>
      {{ end }}
    {{ end }}
  </div>
</div>
