<div class="row">
  <div class="col-4 col-md-3">
    <a href="/novel/{{ .ID }}" class="text-decoration-none">
      <div class="ratio ratio-3x4">
        <div class="thumbnail-wrapper rounded overflow-hidden">
          <img src="{{ .CoverURL }}" alt="{{ .Title }}" class="img-fluid object-fit-cover w-100 h-100" loading="lazy" />
        </div>
      </div>
    </a>
  </div>
  <div class="col-8 col-md-9">
    <!-- Novel title -->
    <!-- NOTE: using an h4 element here breaks the underline animation for some reason -->
    <span class="fs-6 fw-bold text-wrap">
      <a
        href="/novel/{{ .ID }}"
        title="{{ .Title }}"
        class="text-body text-decoration-none"
      >
        {{ .Title }}
      </a>
    </span>

    <!-- Series name -->
    {{- if .SeriesID }}
    <p class="text-wrap mb-1">
      <a
        href="/novel/series/{{ .SeriesID }}"
        title="{{ .SeriesTitle }}"
        class="small text-body-secondary text-decoration-none"
      >
        {{ .SeriesTitle }}
      </a>
    </p>
    {{- end }}

    <!-- Word count and reading time -->
    <p class="card-text text-muted small mb-2">
      <span>{{ .WordCount }} word(s)</span>&nbsp;<span>{{ floor: .ReadingTime / 60 }} mins</span>
    </p>

    <!-- Author info -->
    <div class="d-flex align-items-center me-auto mb-3">
      <a href="/users/{{ .UserID }}">
        <img
          src="{{ .UserAvatar }}"
          alt="{{ .UserName }}"
          class="rounded-circle object-fit-cover me-2"
          style="width: 24px; height: 24px"
          loading="lazy"
        />
      </a>
      <a
        href="/users/{{ .UserID }}"
        title="{{ .UserName }}"
        class="text-body-secondary text-decoration-none"
      >
        {{ .UserName }}
      </a>
    </div>

    {*
    <!-- Description -->
    <!-- TODO: figure this out -->
    <!-- <p class="text-truncate mb-1">
      {{ raw: .Description }}
    </p> -->
    *}

    <!-- Tags -->
    <div class="d-flex flex-wrap align-items-baseline mb-2">
      {{- if .AiType == 2 }}
      <span class="badge bg-warning text-dark me-2 mb-2">AI-generated</span>
      {{- end }}
      {{- range .Tags }}
        {* NOTE: early block to catch the R-18 tag *}
        {{- if isEmphasize(.) }}
        <span class="badge bg-danger me-2 mb-2">{{ . }}</span>
        {{- end }}
      {{- end }}
      {{- if .IsOriginal }}
      <span class="badge bg-primary me-2 mb-2">Original</span>
      {{- end }}
      {{- if .Genre != "0" }}
      <span class="badge bg-secondary me-2 mb-2">{{ getNovelGenre(.Genre) }}</span>
      {{- end }}
      {{- range .Tags }}
        {{- if isEmphasize(.) }}
        {* Intentionally empty to not render anything to avoid duplication *}
        {{- else }}
        <div class="d-inline-block mb-2 me-2">
          <small>
          <a href="/tags/{{ escapeString(.) }}" class="text-primary-emphasis text-decoration-none text-wrap p-0 mb-0">#{{ . }}</a>
          </small>
        </div>
        {{- end }}
      {{- end }}
    </div>

    <!-- Metadata (bookmarks and creation date) -->
    <div class="d-flex justify-content-start align-items-center">
      {* NOTE: the following is needed due to incomplete fields in .Novel.UserNovels *}
      {{- if .Bookmarks == 0 }}
      <span class="text-body-secondary small me-3">
        <i class="bi bi-heart me-2"></i>&#8212;
      </span>
      {{- else }}
      <span class="text-body-secondary small me-3">
        <i class="bi bi-heart me-2"></i>{{ .Bookmarks }}
      </span>
      {{- end }}
      <span class="text-body-secondary small">
        <i class="bi bi-calendar me-2"></i>{{ parseTime: .CreateDate }}
      </span>
    </div>
  </div>
</div>
<!-- TODO: don't display a horizontal rule for the last two novels on a page -->
