{{- hideAi := CookieList["pixivfe-HideArtAI"] }}
{{- range . }}
{{- AiType := isset(.AiType) ? .AiType : 0}}
{{- if !(AiType == 2 && hideAi) }}
  <div class="col">
    <div class="card h-100 border-0 bg-transparent">
      {{- if .ID == "#" }}
        <!-- Replicate the thumbnail-dt structure -->
        <div class="position-relative h-100 thumbnail-hover-dark mb-2">
          <div>
            <div class="ratio ratio-1x1">
              <div class="thumbnail-wrapper rounded overflow-hidden">
                <img src="/img/deleted.png" alt="{{ .Title }}" class="img-fluid object-fit-cover w-100 h-100" loading="lazy" />
              </div>
            </div>
          </div>
        </div>
        <div class="card-body p-0">
          <!-- Replicate the thumbnail-tt structure -->
          <p class="text-truncate fw-bold text-body-secondary text-decoration-none mb-0">
            {{ .Title }}
          </p>
          <!-- Replicate the thumbnail-at structure -->
          <div class="d-flex align-items-center mt-1">
            <img src="/img/deleted.png" class="rounded-circle me-1" style="width: 24px; height: 24px" />
            <span class="text-body-secondary text-truncate">Deleted or Private</span>
          </div>
        </div>
      {{- else if .ID }}
        {{ include "thumbnail-dt" . }}
        <div class="card-body p-0">
          {{ include "thumbnail-tt" . }}
          {{- if isFirstPathPart (CurrentPath, "/users") == false || (isFirstPathPart (CurrentPath, "/users") == true && isLastPathPart (CurrentPath, "/bookmarks") == true) }}
            {{ include "thumbnail-at" . }}
          {{- end }}
        </div>
      {{- end }}
    </div>
  </div>
{{- end }}
{{- end }}
