{*
  This fragment (thumbnail-at.jet.html) templates in the artist's avatar and name
*}
{{- target := CookieList["pixivfe-ThumbnailToNewTab"] }}
<div class="d-flex align-items-center mt-1">
  <a href="/users/{{ .ArtistID }}">
    <img
      src="{{ .ArtistAvatar }}"
      alt="{{ .ArtistName }}"
      class="rounded-circle object-fit-cover me-1"
      style="width: 24px; height: 24px"
      loading="lazy"
    />
  </a>
  <a
    href="/users/{{ .ArtistID }}"
    title="{{ .ArtistName }}"
    class="text-body-secondary text-truncate"
  >
    {{ .ArtistName }}
  </a>
</div>
