{{- import "../blocks/tw_image_display" }}

{{ visualEffectsEnabled := CookieList["pixivfe-VisualEffectsEnabled"] }}

{*
Always show the first image as a small preview.
If there is a single image, the user can simply click on it to view a larger version if desired.
Otherwise, the lightbox will show a gallery of the multiple images.
*}
{{ asPreview := true }}

<div class="flex flex-col w-full bg-neutral-950 rounded-lg gap-4 mx-auto">
  {{- if .IllustType == 2 }}
      <video class="rounded h-160 w-auto mx-auto" autoplay controls disablepictureinpicture loop muted playsinline poster="{{ .Images[0].Large }}" src="{{ .Images[0].Video }}" height="{{- .Images[0].Height }}" width="{{- .Images[0].Width }}">
        Unable to load ugoira.
      </video>
    {{ else }}
    {{- range index := .Images[:1] }}
      {{ yield tw_image_display(data=., asPreview=asPreview) }}
    {{- end }}

    {* reset the asPreview local variable to false as we've already shown the first image that could have been a preview *}
    {{ asPreview := false }}

    {{- if len(.Images) > 1 }}
      <input type="checkbox" class="peer hidden" id="imageExpand">
      <label
        for="imageExpand"
        class="group filled-button font-medium z-1 mx-auto mb-4"
      >
        {{ if .IllustType == 1 }}
          <div class="not-group-peer-checked:flex not-group-peer-checked:items-center not-group-peer-checked:gap-2 group-peer-checked:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M288-96q-40 0-68-27.5T192-190v-553q0-34 22-59.5t56-32.5l267-56q34-7 60.5 14.5T624-820v479q0 26-16 45.5t-41.06 24.21l-281.89 59.4Q277-210 270.5-203.75 264-197.5 264-190q0 10 7.2 16t16.8 6h408v-588q0-15.3 10.29-25.65Q716.58-792 731.79-792t25.71 10.35Q768-771.3 768-756v588q0 29.7-21.15 50.85Q725.7-96 696-96H288Zm96-211 168-36v-477l-168 35v478Zm-72 15v-477l-30 6q-8 2-13 7.19T264-743v463q5-2 10.5-3t10.5-3l27-6Zm-48-471v483-483Z"/></svg>
            <div>Read <span class="font-bold">{{ len(.Images) }}</span> pages</div>
          </div>
          <div class="not-group-peer-checked:hidden group-peer-checked:flex group-peer-checked:items-center group-peer-checked:gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M816-744v420q0 18-11.25 27T780-288q-13.5 0-24.75-9.22T744-324v-420H324q-18 0-27-11.25T288-780q0-13.5 9-24.75T324-816h420q29 0 50.5 21.5T816-744ZM216-144q-29 0-50.5-21.5T144-216v-498l-29-29q-11-11-11-25.5t11-25.5q11-11 25.5-11t25.5 11l628 628q11 11 11 25t-11 25q-11 11-25.5 11T743-116l-29-28H216Zm354-144H300.28Q289-288 284-298q-5-10 2.18-18.97L358-413q5.25-8 14-8t14 8l58 77 34-45-262-261v426h426l-72-72Zm-42-240ZM426-426Z"/></svg>
            Collapse images
          </div>
          {{ else }}
          <div class="not-group-peer-checked:flex not-group-peer-checked:items-center not-group-peer-checked:gap-2 group-peer-checked:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="m528-432-52-69q-5.25-8-14-8t-14 8l-66 88q-7 9-2.19 19 4.82 10 16.19 10h312q11.38 0 16.19-10 4.81-10-2.19-19l-90-120q-5.25-8-14-8t-14 8l-76 101ZM312-240q-29.7 0-50.85-21.15Q240-282.3 240-312v-480q0-29.7 21.15-50.85Q282.3-864 312-864h480q29.7 0 50.85 21.15Q864-821.7 864-792v480q0 29.7-21.15 50.85Q821.7-240 792-240H312Zm0-72h480v-480H312v480ZM168-96q-29.7 0-50.85-21.15Q96-138.3 96-168v-516q0-15.3 10.29-25.65Q116.58-720 131.79-720t25.71 10.35Q168-699.3 168-684v516h516q15.3 0 25.65 10.29Q720-147.42 720-132.21t-10.35 25.71Q699.3-96 684-96H168Zm144-696v480-480Z"/></svg>
            <div>View <span class="font-bold">{{ len(.Images) }}</span> images</div>
          </div>
          <div class="not-group-peer-checked:hidden group-peer-checked:flex group-peer-checked:items-center group-peer-checked:gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M816-744v420q0 18-11.25 27T780-288q-13.5 0-24.75-9.22T744-324v-420H324q-18 0-27-11.25T288-780q0-13.5 9-24.75T324-816h420q29 0 50.5 21.5T816-744ZM216-144q-29 0-50.5-21.5T144-216v-498l-29-29q-11-11-11-25.5t11-25.5q11-11 25.5-11t25.5 11l628 628q11 11 11 25t-11 25q-11 11-25.5 11T743-116l-29-28H216Zm354-144H300.28Q289-288 284-298q-5-10 2.18-18.97L358-413q5.25-8 14-8t14 8l58 77 34-45-262-261v426h426l-72-72Zm-42-240ZM426-426Z"/></svg>
            Collapse images
          </div>
        {{ end }}
      </label>
      <label
        for="imageExpand"
        id="imageExpandBackground"
        class="fixed left-0 top-0 -z-1 w-full h-full bg-neutral-950/0 peer-checked:bg-neutral-950/90 peer-checked:z-2 transition
              {{ if !visualEffectsEnabled || visualEffectsEnabled == "true" }}backdrop-blur-0 peer-checked:backdrop-blur{{ end }}"
      >
      </label>
      <label
        id="imageExpandContainer"
        for="imageExpand"
        class="modal-popover pointer-events-none peer-checked:pointer-events-auto
              opacity-0 starting:peer-checked:opacity-0 peer-checked:opacity-100 transition-all transition-discrete
              group fixed top-0 left-0 w-full h-screen overflow-y-auto peer-checked:z-2 p-6"
      >
        <div class="fixed top-6 right-6 flex flex-col w-fit gap-2">
          <div class="peer w-fit cursor-pointer bg-neutral-800 hover:bg-neutral-700 fill-neutral-300 hover:fill-neutral-100 active:scale-95 transition rounded-full z-3 p-2 ms-auto">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f5f5f5"><path d="M480-424 284-228q-11 11-28 11t-28-11q-11-11-11-28t11-28l196-196-196-196q-11-11-11-28t11-28q11-11 28-11t28 11l196 196 196-196q11-11 28-11t28 11q11 11 11 28t-11 28L536-480l196 196q11 11 11 28t-11 28q-11 11-28 11t-28-11L480-424Z"/></svg>
          </div>
          {* NOTE: using absolute positioning to avoid blocking scroll, and only displaying the tooltip for manga *}
          {{ if .IllustType == 1}}
            <div class="absolute -bottom-6 right-0 w-128 peer-hover:opacity-100 opacity-0 text-xs font-medium text-neutral-400 text-end transition select-none">
              Don't worry, you'll return to where you left off.
            </div>
          {{ end }}
        </div>

        <div class="flex flex-col max-w-7xl gap-y-4 m-auto">
          {{- range index := .Images[:] }}
            {{ yield tw_image_display(data=., asPreview=asPreview) }}
          {{- end }}
          <div class="filled-button font-medium mx-auto gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M480-424 284-228q-11 11-28 11t-28-11q-11-11-11-28t11-28l196-196-196-196q-11-11-11-28t11-28q11-11 28-11t28 11l196 196 196-196q11-11 28-11t28 11q11 11 11 28t-11 28L536-480l196 196q11 11 11 28t-11 28q-11 11-28 11t-28-11L480-424Z"/></svg>
            Close
          </div>
        </div>
      </label>
    {{- end }}
  {{- end }}
</div>
