{* the conditional goes here since we only know whether there are related works or not by doing a pixiv API call *}
{{- if len(.Illust.RelatedWorks) != 0 }}
  <hr class="border-neutral-800 my-6">

  <div class="flex flex-col border-neutral-400 border-s-6 ps-4 pb-2 gap-2">
    <div class="text-xl font-medium">
      Related works
    </div>
  </div>

  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-6 starting:opacity-0 opacity-100 transition">
    {{- include "tw-small-tn" .Illust.RelatedWorks }}
  </div>
{{ end }}
