{* template to render data specific to manga series *}

{*
TODO: inefficiency regarding hx-headers here:
      we don't know how many pages the series nav artworks have, so
      we're forced to fetch images by hardcoding "Artwork-Pages": "2"
*}

{* NOTE: a lot of customisation away from the standard .outlined-button and .filled-button classes here *}
<div class="grid grid-flow-col grid-rows-2 sm:grid-rows-1 auto-cols-fr gap-4 *:!w-full *:!px-4 mx-auto -my-2">
  {{ if .Illust.SeriesNavData.Prev }}
    <a
      href="/artworks/{{ .Illust.SeriesNavData.Prev.ID }}"
      class="outlined-button justify-center text-sm font-medium"
      hx-headers='{ "Artwork-ID": "{{- .Illust.SeriesNavData.Prev.ID -}}", "Artwork-User-ID": "{{- .Illust.UserID -}}", "Artwork-IllustType": "{{- .Illust.IllustType -}}", "Artwork-Width": "{{- .Illust.Width -}}", "Artwork-Height": "{{- .Illust.Height -}}", "Artwork-Pages": "2" }'
    >
      <div class="line-clamp-1 space-x-2">
        <span class="font-semibold">{{ ordinalNumeral(.Illust.SeriesNavData.Prev.Order) }}</span>
        <span class="text-neutral-200">{{ .Illust.SeriesNavData.Prev.Title }}</span>
      </div>
    </a>
  {{ end }}
  {{ if .Illust.SeriesNavData.Next }}
    <a
      href="/artworks/{{ .Illust.SeriesNavData.Next.ID }}"
      class="filled-button justify-center text-sm font-medium mx-auto"
      hx-headers='{ "Artwork-ID": "{{- .Illust.SeriesNavData.Next.ID -}}", "Artwork-User-ID": "{{- .Illust.UserID -}}", "Artwork-IllustType": "{{- .Illust.IllustType -}}", "Artwork-Width": "{{- .Illust.Width -}}", "Artwork-Height": "{{- .Illust.Height -}}", "Artwork-Pages": "2" }'
    >
      <div class="line-clamp-1 space-x-2">
        <span class="font-semibold">{{ ordinalNumeral(.Illust.SeriesNavData.Next.Order) }}</span>
        <span class="text-neutral-800">{{ .Illust.SeriesNavData.Next.Title }}</span>
      </div>
    </a>
    {{ else }}
    <button
      disabled
      class="outlined-button-disabled justify-center text-neutral-500 text-sm font-medium mx-auto"
      title="Not posted yet"
    >
      {{ nextPlaceholder := .Illust.SeriesNavData.Prev.Order + 2 }}
      <div class="line-clamp-1 space-x-2">
        <span class="font-semibold">{{ ordinalNumeral(nextPlaceholder) }}</span>
        <span class="text-neutral-500">Not posted yet</span>
      </div>
    </button>
  {{ end }}
</div>

<a href="/users/{{ .Illust.UserID }}/series/{{ .Illust.SeriesNavData.SeriesID }}" class="group w-fit -mb-6">
  <div class="flex items-center font-medium text-neutral-400 fill-neutral-400 group-hover:text-neutral-300 group-hover:fill-neutral-300 gap-1 animated-underline">
    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M312-312h480v-480h-72v283q0 10.5-9 15.75t-17 .25l-54-27q-8-4-16-4t-16 4l-54 27q-9 5-17.5-.25T528-509v-283H312v480Zm0 72q-29.7 0-50.85-21.15Q240-282.3 240-312v-480q0-29.7 21.15-50.85Q282.3-864 312-864h480q29.7 0 50.85 21.15Q864-821.7 864-792v480q0 29.7-21.15 50.85Q821.7-240 792-240H312ZM168-96q-29.7 0-50.85-21.15Q96-138.3 96-168v-516q0-15.3 10.29-25.65Q116.58-720 131.79-720t25.71 10.35Q168-699.3 168-684v516h516q15.3 0 25.65 10.29Q720-147.42 720-132.21t-10.35 25.71Q699.3-96 684-96H168Zm144-696v480-480Zm216 283q0 10.5 8.5 15.75t17.5.25l54-27q8-4 16-4t16 4l54 27q8 5 17-.25t9-15.75q0 10.5-9 15.75t-17 .25l-54-27q-8-4-16-4t-16 4l-54 27q-9 5-17.5-.25T528-509Z"/></svg>
    <span class="font-semibold">{{ ordinalNumeral(.Illust.SeriesNavData.Order) }}</span> of {{ .Illust.SeriesNavData.Title }}
  </div>
</a>
