{{- import "../blocks/tw_action_indicator" }}

<div
  class="flex items-center overflow-x-auto gap-2 pb-2 -mb-2"
>
  {{- if isset(.Illust.BookmarkData) && LoggedIn -}}
    {{- include "../partials/deleteBookmarkPartial" . -}}
    {{- else -}}
    {{- include "../partials/addBookmarkPartial" . -}}
  {{- end -}}

  {{- if .Illust.Liked && LoggedIn -}}
    {{- include "../partials/unlikePartial" . -}}
    {{- else -}}
    {{- include "../partials/likePartial" . -}}
  {{- end -}}

  {{ if .Illust.CommentOff }}
    <button
      disabled
      class="outlined-button text-sm font-medium gap-2"
      title="The creator has turned comments off."
    >
      <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M168-240q-29 0-50.5-21.5T96-312v-450l-15-16q-11-11-10.5-25T82-828q11-11 25-11t25.34 11.34l695.32 695.32Q839-121 839-106.82T828-82q-11 11-25.5 11.5T777-81L618-240H168Zm696-552v551q0 11.67-11.5 15.83Q841-221 833-229l-83-83h42v-480H273q-18 0-27-11.25T237-828q0-13.5 9-24.75T273-864h519q29 0 50.5 21.5T864-792ZM168-312h378l-72-72H276q-15.3 0-25.65-10.29Q240-404.58 240-419.79t10.35-25.71Q260.7-456 276-456h126l-60-60h-66q-15.3 0-25.65-10.29Q240-536.58 240-551.79t10.35-25.71Q260.7-588 276-588h51v57L168-690v378Zm552-108.21q0 15.21-10.29 25.71t-25.5 10.5q-15.21 0-25.71-10.29t-10.5-25.5q0-15.21 10.29-25.71t25.5-10.5q15.21 0 25.71 10.29t10.5 25.5ZM684-516H561q-18 0-27-11.25T525-552q0-13.5 9-24.75T561-588h123q15.3 0 25.65 10.29Q720-567.42 720-552.21t-10.35 25.71Q699.3-516 684-516Zm0-132H429q-18 0-27-11.25T393-684q0-13.5 9-24.75T429-720h255q15.3 0 25.65 10.29Q720-699.42 720-684.21t-10.35 25.71Q699.3-648 684-648ZM342-516Zm163-41Z"/></svg>
    </button>
  {{ else }}
    <button popovertarget="comments" class="outlined-button text-sm font-medium gap-2">
      <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="m240-240-82.88 82.88Q140-140 118-149.41q-22-9.4-22-33.59v-609q0-29.7 21.15-50.85Q138.3-864 168-864h624q29.7 0 50.85 21.15Q864-821.7 864-792v480q0 29.7-21.15 50.85Q821.7-240 792-240H240Zm-30-72h582v-480H168v522l42-42Zm-42 0v-480 480Zm108-72h264q15.3 0 25.65-10.29Q576-404.58 576-419.79t-10.35-25.71Q555.3-456 540-456H276q-15.3 0-25.65 10.29Q240-435.42 240-420.21t10.35 25.71Q260.7-384 276-384Zm0-132h408q15.3 0 25.65-10.29Q720-536.58 720-551.79t-10.35-25.71Q699.3-588 684-588H276q-15.3 0-25.65 10.29Q240-567.42 240-552.21t10.35 25.71Q260.7-516 276-516Zm0-132h408q15.3 0 25.65-10.29Q720-668.58 720-683.79t-10.35-25.71Q699.3-720 684-720H276q-15.3 0-25.65 10.29Q240-699.42 240-684.21t10.35 25.71Q260.7-648 276-648Z"/></svg>
      {{ prettyNumber(.Illust.Comments) }}
    </button>

    {* Comments section *}
    {* if we have htmx capability, async load the comments section, otherwise just load them normally *}
    {{ if IsHtmxRequest }}
      <div
        id="tw-artwork-comments"
        class="htmx-swapped-out contents"
        hx-get="/api/v1/comments?type=artwork&id={{ .Illust.ID }}&userid={{- .Illust.UserID -}}&sanitylevel={{- .Illust.SanityLevel -}}"
        hx-trigger="load"
        hx-target="this"
        hx-swap="outerHTML swap:100ms settle:200ms show:none"
      >
      </div>
    {{ else }}
      {{ include "modals/comments" .Illust.CommentsData }}
    {{ end }}
  {{ end }}

  <button
    popovertarget="shareMenu"
    class="outlined-button text-sm font-medium gap-2"
  >
    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M648-96q-50 0-85-35t-35-85q0-9 4-29L295-390q-16 14-36.05 22-20.04 8-42.95 8-50 0-85-35t-35-85q0-50 35-85t85-35q23 0 43 8t36 22l237-145q-2-7-3-13.81-1-6.81-1-15.19 0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35q-23 0-43-8t-36-22L332-509q2 7 3 13.81 1 6.81 1 15.19 0 8.38-1 15.19-1 6.81-3 13.81l237 145q16-14 36.05-22 20.04-8 42.95-8 50 0 85 35t35 85q0 50-35 85t-85 35Zm0-72q20.4 0 34.2-13.8Q696-195.6 696-216q0-20.4-13.8-34.2Q668.4-264 648-264q-20.4 0-34.2 13.8Q600-236.4 600-216q0 20.4 13.8 34.2Q627.6-168 648-168ZM216-432q20.4 0 34.2-13.8Q264-459.6 264-480q0-20.4-13.8-34.2Q236.4-528 216-528q-20.4 0-34.2 13.8Q168-500.4 168-480q0 20.4 13.8 34.2Q195.6-432 216-432Zm432-264q20.4 0 34.2-13.8Q696-723.6 696-744q0-20.4-13.8-34.2Q668.4-792 648-792q-20.4 0-34.2 13.8Q600-764.4 600-744q0 20.4 13.8 34.2Q627.6-696 648-696Zm0 480ZM216-480Zm432-264Z"/></svg>
    Share
  </button>
</div>
