{{ relativeTimeData_CreateDate := relativeTime(.CreateDate) }}
{{ relativeTimeData_UpdateDate := relativeTime(.UpdateDate) }}

<div class="w-[80vw] max-w-120 h-full rounded-t-lg rounded-b-lg">
  <!-- Thumbnail -->
  <a href="/users/{{ .UserID }}/series/{{ .ID }}">
    <img src="{{ .Thumbnail }}" class="object-cover w-full h-60 rounded-t-lg fade-bottom-soft" alt="{{ .Title }}" />
  </a>
  <div class="flex flex-col">
    <!-- Title -->
    <div class="flex flex-col bg-neutral-800 w-full border-b border-pixivfe-400 gap-2 p-4">
      <a href="/users/{{ .UserID }}/series/{{ .ID }}">
        <div class="w-fit text-lg font-semibold animated-underline line-clamp-1">{{- .Title -}}</div>
      </a>
      <div class="flex items-center text-sm text-neutral-400 fill-neutral-400 gap-1">
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" class="size-4"><path d="M312-312h480v-480h-72v283q0 10.5-9 15.75t-17 .25l-54-27q-8-4-16-4t-16 4l-54 27q-9 5-17.5-.25T528-509v-283H312v480Zm0 72q-29.7 0-50.85-21.15Q240-282.3 240-312v-480q0-29.7 21.15-50.85Q282.3-864 312-864h480q29.7 0 50.85 21.15Q864-821.7 864-792v480q0 29.7-21.15 50.85Q821.7-240 792-240H312ZM168-96q-29.7 0-50.85-21.15Q96-138.3 96-168v-516q0-15.3 10.29-25.65Q116.58-720 131.79-720t25.71 10.35Q168-699.3 168-684v516h516q15.3 0 25.65 10.29Q720-147.42 720-132.21t-10.35 25.71Q699.3-96 684-96H168Zm144-696v480-480Zm216 283q0 10.5 8.5 15.75t17.5.25l54-27q8-4 16-4t16 4l54 27q8 5 17-.25t9-15.75q0 10.5-9 15.75t-17 .25l-54-27q-8-4-16-4t-16 4l-54 27q-9 5-17.5-.25T528-509Z"/></svg>
        <span class="text-neutral-300 font-semibold">{{ .Total }}</span> {{ if .Total == 1 }}chapter{{- else -}}chapters{{ end }}
      </div>
    </div>

    <div class="flex bg-neutral-800/50 rounded-b-lg gap-4 p-4 py-6">
      <div class="flex flex-col flex-wrap items-center text-xs gap-3">
        <div class="flex items-center font-medium text-nowrap gap-2" title="{{ naturalTime: .UpdateDate }}">
          <div class="flex items-center gap-1 min-w-18">
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" class="size-4"><path d="M480-144q-70 0-131.13-26.6-61.14-26.6-106.4-71.87-45.27-45.26-71.87-106.4Q144-410 144-480t26.6-131.13q26.6-61.14 71.87-106.4 45.26-45.27 106.4-71.87Q410-816 480-816q81 0 149.5 35T744-686v-94q0-15.3 10.29-25.65Q764.58-816 779.79-816t25.71 10.35Q816-795.3 816-780v168q0 15.3-10.35 25.65Q795.3-576 780-576H612q-15.3 0-25.65-10.29Q576-596.58 576-611.79t10.35-25.71Q596.7-648 612-648h71q-35.91-44.8-88.45-70.4Q542-744 480-744q-109 0-186.5 77.5T216-480q0 109 77.5 186.5T480-216q102 0 176.5-67.5T742-450q2-14 13-22t25.06-8q14.94 0 25.44 9.5Q816-461 814-447q-13 128-107.5 215.5T480-144Zm36-366 90 90q11 11 10.5 25T605-370q-11 11-25.5 11T554-370l-98.71-98.71Q450-474 447-480.69q-3-6.69-3-13.82v-141.81q0-15.17 10.5-25.42Q465-672 480-672t25.5 10.35Q516-651.3 516-636v126Z"/></svg>
            Updated
          </div>
          <div>
            {{- relativeTimeData_UpdateDate.Value }} {{ relativeTimeData_UpdateDate.Description }} {{ if relativeTimeData_UpdateDate.Time }} {{ relativeTimeData_UpdateDate.Time }}{{ end -}}
          </div>
        </div>
        <div class="flex items-center text-neutral-400 fill-neutral-400 text-nowrap gap-2" title="{{ naturalTime: .CreateDate }}">
          <div class="flex items-center gap-1 min-w-18">
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" class="size-4"><path d="M216-96q-29.7 0-50.85-21.5Q144-139 144-168v-528q0-29 21.15-50.5T216-768h72v-60q0-15.3 10.29-25.65Q308.58-864 323.79-864t25.71 10.35Q360-843.3 360-828v60h240v-60q0-15.3 10.29-25.65Q620.58-864 635.79-864t25.71 10.35Q672-843.3 672-828v60h72q29.7 0 50.85 21.5Q816-725 816-696v528q0 29-21.15 50.5T744-96H216Zm0-72h528v-360H216v360Zm0-432h528v-96H216v96Zm0 0v-96 96Z"/></svg>
            Created
          </div>
          <div>
            {{- relativeTimeData_CreateDate.Value }} {{ relativeTimeData_CreateDate.Description }} {{ if relativeTimeData_CreateDate.Time }} {{ relativeTimeData_CreateDate.Time }}{{ end -}}
          </div>
        </div>
      </div>

      <!-- Read from the beginning button -->
      <a href="/artworks/{{ .FirstIllustID }}" class="outlined-button h-fit self-end text-sm font-semibold gap-1 ms-auto">
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M288-96q-40 0-68-27.5T192-190v-553q0-34 22-59.5t56-32.5l267-56q34-7 60.5 14.5T624-820v479q0 26-16 45.5t-41.06 24.21l-281.89 59.4Q277-210 270.5-203.75 264-197.5 264-190q0 10 7.2 16t16.8 6h408v-588q0-15.3 10.29-25.65Q716.58-792 731.79-792t25.71 10.35Q768-771.3 768-756v588q0 29.7-21.15 50.85Q725.7-96 696-96H288Zm96-211 168-36v-477l-168 35v478Zm-72 15v-477l-30 6q-8 2-13 7.19T264-743v463q5-2 10.5-3t10.5-3l27-6Zm-48-471v483-483Z"/></svg>
        Read
      </a>
    </div>
  </div>
</div>
