{{- relativeTimeData := relativeTime(.CreateDate) -}}

<div class="grid grid-cols-12 gap-6">
  <div class="col-span-8 md:col-span-4">
    <a href="/novel/{{ .ID }}">
      <img src="{{ .CoverURL }}" alt="{{ .Title }}" class="w-full aspect-[4x3] object-cover outline-glow rounded mb-auto" loading="lazy" />
    </a>
  </div>

  <div class="flex flex-col col-span-12 md:col-span-8 gap-6">
    <!-- Series name -->
    {{- if .SeriesID }}
    <a
      href="/novel/series/{{ .SeriesID }}"
      title="{{ .SeriesTitle }}"
      class="group w-fit -mb-4"
    >
      <div class="flex items-center group-hover:text-neutral-300 group-hover:fill-neutral-300 text-neutral-400 fill-neutral-400 gap-1">
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" class="min-w-5"><path d="M312-312h480v-480h-72v283q0 10.5-9 15.75t-17 .25l-54-27q-8-4-16-4t-16 4l-54 27q-9 5-17.5-.25T528-509v-283H312v480Zm0 72q-29.7 0-50.85-21.15Q240-282.3 240-312v-480q0-29.7 21.15-50.85Q282.3-864 312-864h480q29.7 0 50.85 21.15Q864-821.7 864-792v480q0 29.7-21.15 50.85Q821.7-240 792-240H312ZM168-96q-29.7 0-50.85-21.15Q96-138.3 96-168v-516q0-15.3 10.29-25.65Q116.58-720 131.79-720t25.71 10.35Q168-699.3 168-684v516h516q15.3 0 25.65 10.29Q720-147.42 720-132.21t-10.35 25.71Q699.3-96 684-96H168Zm144-696v480-480Zm216 283q0 10.5 8.5 15.75t17.5.25l54-27q8-4 16-4t16 4l54 27q8 5 17-.25t9-15.75q0 10.5-9 15.75t-17 .25l-54-27q-8-4-16-4t-16 4l-54 27q-9 5-17.5-.25T528-509Z"/></svg>
        <div class="animated-underline line-clamp-1">
          {{ .SeriesTitle }}
        </div>
      </div>
    </a>
    {{- end }}

    <!-- Novel title -->
    <a
      href="/novel/{{ .ID }}"
      title="{{ .Title }}"
      class="w-fit"
    >
      <div class="text-lg font-bold animated-underline line-clamp-2 md:line-clamp-1">
        {{ .Title }}
      </div>
    </a>

    <!-- Author info -->
    <div class="flex items-center gap-2 -mt-3">
      <a href="/users/{{ .UserID }}">
        <img
          src="{{ .UserAvatar }}"
          alt="{{ .UserName }}"
          class="aspect-square object-cover rounded-full size-6 max-h-6 max-w-6 avatar-outline-glow"
          loading="lazy"
        />
      </a>
      <a
        href="/users/{{ .UserID }}"
        class="flex w-fit text-neutral-300 animated-underline line-clamp-1"
      >
        {{ .UserName }}
      </a>
    </div>

    <div class="w-4/12 h-[4px] bg-pixivfe-400 -mt-2"></div>

    <!-- Description -->
    {{ if .Description }}
    <div class="flex flex-col border border-neutral-700 bg-neutral-800/10 rounded-lg gap-3 p-4">
      <p class="description text-white line-clamp-4 leading-relaxed tracking-wider font-serif">
        {{ raw(.Description) }}
      </p>
    </div>
    {{ end }}

    <!-- Tags -->
    {* NOTE: mostly the same styling as on the artwork page, except smaller text size (text-sm and text-xs) *}
    <div class="flex flex-wrap items-baseline text-sm fill-neutral-400 gap-2">
      <!-- <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" class="w-5 min-w-5 max-w-5 self-center -ms-7"><path d="M168-192q-29.7 0-50.85-21.16Q96-234.32 96-264.04v-432.24Q96-726 117.15-747T168-768h420q16.85 0 31.92 7.5Q635-753 646-739l162 216q14 20 14 43t-14 43L646-221q-11 14-26.08 21.5Q604.85-192 588-192H168Zm0-72h420l162-216-162-216H168v432Zm291-216Z"/></svg> -->
      {{- if .AiType == 2 -}}
      <div class="flex border border-yellow-500 bg-yellow-500/10 text-white text-xs font-semibold rounded-lg px-2 py-1">AI-generated</div>
      {{- end -}}
      {{- range .Tags -}}
        <!-- Early block to catch the R-18 tag -->
        {{- if isEmphasize(.) -}}
        <div class="flex border border-red-500 bg-red-500/10 text-white text-xs font-semibold rounded-lg px-2 py-1">{{ . -}}</div>
        {{- end -}}
      {{- end -}}
      {{- if .IsOriginal }}
      <div class="flex border border-blue-500 bg-blue-500/10 text-white text-xs font-semibold rounded-lg px-2 py-1">Original</div>
      {{- end }}
      {{- if .Genre != "0" }}
      <div class="flex border border-neutral-500 bg-neutral-500/10 text-white text-xs font-semibold rounded-lg px-2 py-1">{{ getNovelGenre(.Genre) }}</div>
      {{- end }}
      {{- range .Tags -}}
        {{- if isEmphasize(.) -}}
        <!-- Intentionally empty to avoid duplication -->
        {{- else -}}
        <div class="flex flex-wrap items-baseline gap-x-1">
          <a href="/tags/{{ escapeString(.) -}}" class="hover:visited:text-purple-300 visited:text-purple-400 hover:text-blue-300 text-blue-400 font-medium animated-underline-alt">#{{ . -}}</a>
        </div>
        {{- end -}}
      {{- end -}}
    </div>

    <!-- Metadata -->
    <div class="grid grid-flow-col auto-cols-max grid-rows-2 text-sm fill-neutral-400 gap-5">
      <div class="flex items-center col-span-1 gap-1.5">
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M480-170q-13 0-25.5-4.5T431-189l-59-54q-109-97-192.5-189.5T96-634q0-88.02 59.85-147.01Q215.7-840 305-840q51.2 0 96.6 21.5Q447-797 480-757q35-40 79.66-61.5t95.02-21.5Q744-840 804-781.01T864-634q0 109-83.5 201.5T588-243l-59 54q-11 10-23.5 14.5T480-170Zm-34-512q-24-41-60-63.5T305-768q-58.71 0-97.86 38Q168-692 168-633.61 168-583 204-527t86 109.5Q340-364 393-318t87 76q34-30 87-76t103-99.5Q720-471 756-527t36-106.61Q792-692 752.86-730q-39.15-38-97.86-38-45 0-81.5 22.5T513-682q-5 10-14.05 14.5t-19 4.5q-9.95 0-19.45-4.5T446-682Zm34 177Z"/></svg>
        {{- if .Bookmarks == 0 -}}
          <div><span class="font-semibold">&#8212;</span></div>
        {{- else -}}
          <div><span class="font-semibold">{{- prettyNumber(.Bookmarks) -}}</span> <span class="text-neutral-200">bookmarks</span></div>
        {{- end }}
      </div>
      <div class="flex items-center col-span-1 gap-1.5">
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M180.29-264q-15.29 0-25.79-10.29t-10.5-25.5q0-15.21 10.34-25.71t25.63-10.5h359.74q15.29 0 25.79 10.29t10.5 25.5q0 15.21-10.34 25.71T540.03-264H180.29ZM180-444q-15.3 0-25.65-10.29Q144-464.58 144-479.79t10.35-25.71Q164.7-516 180-516h600q15.3 0 25.65 10.29Q816-495.42 816-480.21t-10.35 25.71Q795.3-444 780-444H180Zm0-180q-15.3 0-25.65-10.29Q144-644.58 144-659.79t10.35-25.71Q164.7-696 180-696h600q15.3 0 25.65 10.29Q816-675.42 816-660.21t-10.35 25.71Q795.3-624 780-624H180Z"/></svg>
        <div><span class="font-semibold">{{ prettyNumber(.WordCount) }}</span> <span class="text-neutral-200">words</span></div>
      </div>
      <div class="flex items-center col-span-1 gap-1.5">
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M516-510v-174q0-15.3-10.29-25.65Q495.42-720 480.21-720t-25.71 10.35Q444-699.3 444-684v189q0 8 3 14.5t8 11.5l133.85 133.85Q600-324 614.5-324.5 629-325 640-336t11-25.5q0-14.5-11.34-25.75L516-510ZM480-96q-79.38 0-149.19-30T208.5-208.5Q156-261 126-330.96t-30-149.5Q96-560 126-630q30-70 82.5-122t122.46-82q69.96-30 149.5-30t149.55 30.24q70 30.24 121.79 82.08 51.78 51.84 81.99 121.92Q864-559.68 864-480q0 79.38-30 149.19T752-208.5Q700-156 629.87-126T480-96Zm0-384Zm.48 312q129.47 0 220.5-91.5Q792-351 792-480.48q0-129.47-91.02-220.5Q609.95-792 480.48-792 351-792 259.5-700.98 168-609.95 168-480.48 168-351 259.5-259.5T480.48-168Z"/></svg>
        <div><span class="font-semibold">{{ floor(.ReadingTime / 60) }}</span> <span class="text-neutral-200">min</span></div>
      </div>
      <div class="flex items-center col-span-1 gap-1.5" title="{{ naturalTime(.CreateDate) }}">
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M216-96q-29.7 0-50.85-21.5Q144-139 144-168v-528q0-29 21.15-50.5T216-768h72v-60q0-15.3 10.29-25.65Q308.58-864 323.79-864t25.71 10.35Q360-843.3 360-828v60h240v-60q0-15.3 10.29-25.65Q620.58-864 635.79-864t25.71 10.35Q672-843.3 672-828v60h72q29.7 0 50.85 21.5Q816-725 816-696v528q0 29-21.15 50.5T744-96H216Zm0-72h528v-360H216v360Zm0-432h528v-96H216v96Zm0 0v-96 96Z"/></svg>
        <div><span class="font-semibold">{{- relativeTimeData.Value -}}</span> <span class="text-neutral-200">{{- relativeTimeData.Description -}}</span> {{ if relativeTimeData.Time }}<span class="font-semibold">{{- relativeTimeData.Time -}}</span>{{- end -}}</div>
      </div>
    </div>
  </div>
</div>
