  <div>
    <div>
      <a href="/pixivision/a/{{ .ID }}" class="w-fit">
        <img src="{{ .Thumbnail }}" alt="{{ .Title }}" />
      </a>
    </div>
    <div>
      <a href="/pixivision/a/{{ .ID }}" class="w-fit">
        <div class="text-lg font-bold text-neutral-200
        hover:text-neutral-100 animated-underline">{{ .Title }}</div>
      </a>
    </div>
    <div class="flex flex-wrap gap-x-3 gap-y-1">
    {{- range _, tag := .Tags -}}
      {{- if isEmphasize(tag.Name) -}}
      <!-- Intentionally empty to avoid duplication -->
      {{- else -}}
      <div class="flex whitespace-nowrap">
        <a href="/pixivision/t/{{ tag.ID }}" class="hover:visited:text-purple-300 visited:text-purple-400 hover:text-blue-300 text-blue-400 font-medium animated-underline-alt">#{{ tag.Name -}}</a>
      </div>
      {{- end -}}
    {{- end -}}
  </div>
</div>
