{{ url := "/ranking?content=" + Content + "&mode=" + Mode + "&page=1" }}

<div
  class="flex flex-col gap-8"
  hx-boost="true"
>
  <div
    class="flex items-end justify-center sm:justify-between h-fit"
    aria-label="Date navigation"
  >
    <a
      href="{{- url -}}&date={{- .Data.NextDate -}}"
      class="hidden sm:flex {{- .Data.NextDate == "false" ? " disabled" : "" }}"
      {{ .Data.NextDate == "false" ? " aria-disabled=\"true\"" : "" -}}
    >
      <div class="filled-icon-button text-sm font-medium gap-2 !pe-4">
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="m330-444 176.21 176.21Q517-257 517-242.5t-11 25.98Q495-206 480.5-206t-25.31-10.82L217.4-454.91q-5.4-5.41-7.9-11.72-2.5-6.31-2.5-13.53 0-7.21 2.5-13.53Q212-500 217-505l238-238q11-11 25.67-11 14.66 0 25.33 11 11 10.67 11 25.33 0 14.67-10.84 25.51L330-516h402.02q15.29 0 25.64 10.29Q768-495.42 768-480.21t-10.34 25.71Q747.31-444 732.02-444H330Z"/></svg>
        <span class="hidden sm:inline">{{- .Data.NextDate -}}</span>
      </div>
    </a>
    <div class="flex items-center gap-2 -me-12">
      <div class="flex flex-col items-center">
        <h1 class="text-neutral-400 font-medium">{{- .Data.Title -}}</h1>
        <div class="text-2xl font-bold">{{- .Data.CurrentDate -}}</div>
      </div>
      <button
        popovertarget="rankingOptions"
        class="group flex items-center justify-center cursor-pointer hover:bg-neutral-800 rounded-full size-10 transition"
      >
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M480-120q-17 0-28.5-11.5T440-160v-160q0-17 11.5-28.5T480-360q17 0 28.5 11.5T520-320v40h280q17 0 28.5 11.5T840-240q0 17-11.5 28.5T800-200H520v40q0 17-11.5 28.5T480-120Zm-320-80q-17 0-28.5-11.5T120-240q0-17 11.5-28.5T160-280h160q17 0 28.5 11.5T360-240q0 17-11.5 28.5T320-200H160Zm160-160q-17 0-28.5-11.5T280-400v-40H160q-17 0-28.5-11.5T120-480q0-17 11.5-28.5T160-520h120v-40q0-17 11.5-28.5T320-600q17 0 28.5 11.5T360-560v160q0 17-11.5 28.5T320-360Zm160-80q-17 0-28.5-11.5T440-480q0-17 11.5-28.5T480-520h320q17 0 28.5 11.5T840-480q0 17-11.5 28.5T800-440H480Zm160-160q-17 0-28.5-11.5T600-640v-160q0-17 11.5-28.5T640-840q17 0 28.5 11.5T680-800v40h120q17 0 28.5 11.5T840-720q0 17-11.5 28.5T800-680H680v40q0 17-11.5 28.5T640-600Zm-480-80q-17 0-28.5-11.5T120-720q0-17 11.5-28.5T160-760h320q17 0 28.5 11.5T520-720q0 17-11.5 28.5T480-680H160Z"/></svg>
      </button>
    </div>
    {{- if .Data.PrevDate != "false" -}}
    <a
      href="{{- url -}}&date={{- .Data.PrevDate -}}"
      class="hidden sm:flex"
    >
      <div class="filled-icon-button text-sm font-medium gap-2 !ps-4">
        <span class="hidden sm:inline">{{- .Data.PrevDate -}}</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="20px"
          viewBox="0 -960 960 960"
          width="20px"
        >
          <path
            d="M630-444H227.98q-15.29 0-25.64-10.29Q192-464.58 192-479.79t10.34-25.71q10.35-10.5 25.64-10.5H630L453.79-692.21Q443-703 443-717.5t11-25.98Q465-754 479.5-754t25.31 10.82L742.6-505.09q5.4 5.41 7.9 11.72 2.5 6.31 2.5 13.53 0 7.21-2.5 13.53Q748-460 743-455L505-217q-11 11-25 10.5t-25-11.02q-11-11.48-11-26.15 0-14.66 11-25.33l175-175Z"
          />
        </svg>
      </div>
    </a>
    {{- end -}}
  </div>

  <div class="flex sm:hidden items-center justify-between">
    <a
      href="{{- url -}}&date={{- .Data.NextDate -}}"
      class="{{- .Data.NextDate == "false" ? " disabled" : "" }}"
      {{ .Data.NextDate == "false" ? " aria-disabled=\"true\"" : "" -}}
    >
      <div class="filled-icon-button text-sm font-medium gap-2 !pe-4">
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="m330-444 176.21 176.21Q517-257 517-242.5t-11 25.98Q495-206 480.5-206t-25.31-10.82L217.4-454.91q-5.4-5.41-7.9-11.72-2.5-6.31-2.5-13.53 0-7.21 2.5-13.53Q212-500 217-505l238-238q11-11 25.67-11 14.66 0 25.33 11 11 10.67 11 25.33 0 14.67-10.84 25.51L330-516h402.02q15.29 0 25.64 10.29Q768-495.42 768-480.21t-10.34 25.71Q747.31-444 732.02-444H330Z"/></svg>
        {{- .Data.NextDate -}}
      </div>
    </a>
    <a
      href="{{- url -}}&date={{- .Data.PrevDate -}}"
    >
      <div class="filled-icon-button text-sm font-medium gap-2 !ps-4">
        {{- .Data.PrevDate -}}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="20px"
          viewBox="0 -960 960 960"
          width="20px"
        >
          <path
            d="M630-444H227.98q-15.29 0-25.64-10.29Q192-464.58 192-479.79t10.34-25.71q10.35-10.5 25.64-10.5H630L453.79-692.21Q443-703 443-717.5t11-25.98Q465-754 479.5-754t25.31 10.82L742.6-505.09q5.4 5.41 7.9 11.72 2.5 6.31 2.5 13.53 0 7.21-2.5 13.53Q748-460 743-455L505-217q-11 11-25 10.5t-25-11.02q-11-11.48-11-26.15 0-14.66 11-25.33l175-175Z"
          />
        </svg>
      </div>
    </a>
  </div>
</div>
