{* NOTE: attribution for Font Awesome icons required under CC BY 4.0 *}

<div class="flex items-center gap-3">
  {{- range .Social -}}
    <a
      href="{{ .URL }}"
      class="size-fit fill-neutral-400 hover:fill-neutral-50"
    >
      {{- if .Platform == "pawoo" -}}
        <svg xmlns="http://www.w3.org/2000/svg" height="20" width="17.5" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M433 179.1c0-97.2-63.7-125.7-63.7-125.7-62.5-28.7-228.6-28.4-290.5 0 0 0-63.7 28.5-63.7 125.7 0 115.7-6.6 259.4 105.6 289.1 40.5 10.7 75.3 13 103.3 11.4 50.8-2.8 79.3-18.1 79.3-18.1l-1.7-36.9s-36.3 11.4-77.1 10.1c-40.4-1.4-83-4.4-89.6-54a102.5 102.5 0 0 1 -.9-13.9c85.6 20.9 158.7 9.1 178.8 6.7 56.1-6.7 105-41.3 111.2-72.9 9.8-49.8 9-121.5 9-121.5zm-75.1 125.2h-46.6v-114.2c0-49.7-64-51.6-64 6.9v62.5h-46.3V197c0-58.5-64-56.6-64-6.9v114.2H90.2c0-122.1-5.2-147.9 18.4-175 25.9-28.9 79.8-30.8 103.8 6.1l11.6 19.5 11.6-19.5c24.1-37.1 78.1-34.8 103.8-6.1 23.7 27.3 18.4 53 18.4 175z"/></svg>
      {{- else if .Platform == "twitter" -}}
        <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg>
      {{- else if .Platform == "instagram" -}}
        <svg xmlns="http://www.w3.org/2000/svg" height="20" width="17.5" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/></svg>
      {{- else if .Platform == "tumblr" -}}
        <svg xmlns="http://www.w3.org/2000/svg" height="20" width="12.5" viewBox="0 0 320 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M309.8 480.3c-13.6 14.5-50 31.7-97.4 31.7-120.8 0-147-88.8-147-140.6v-144H17.9c-5.5 0-10-4.5-10-10v-68c0-7.2 4.5-13.6 11.3-16 62-21.8 81.5-76 84.3-117.1 .8-11 6.5-16.3 16.1-16.3h70.9c5.5 0 10 4.5 10 10v115.2h83c5.5 0 10 4.4 10 9.9v81.7c0 5.5-4.5 10-10 10h-83.4V360c0 34.2 23.7 53.6 68 35.8 4.8-1.9 9-3.2 12.7-2.2 3.5 .9 5.8 3.4 7.4 7.9l22 64.3c1.8 5 3.3 10.6-.4 14.5z"/></svg>
      {{- else if .Platform == "facebook" -}}
        <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M512 256C512 114.6 397.4 0 256 0S0 114.6 0 256C0 376 82.7 476.8 194.2 504.5V334.2H141.4V256h52.8V222.3c0-87.1 39.4-127.5 125-127.5c16.2 0 44.2 3.2 55.7 6.4V172c-6-.6-16.5-1-29.6-1c-42 0-58.2 15.9-58.2 57.2V256h83.6l-14.4 78.2H287V510.1C413.8 494.8 512 386.9 512 256h0z"/></svg>
      {{- else if .Platform == "circlems" -}}
      <svg viewBox="0 0 32 32" height="24" width="24">
        <path
          d="M15.9650149,4 C22.5732537,4 27.9300299,9.35689552 27.9300299,15.9650149
              C27.9300299,22.5731343 22.5732537,27.9300299 15.9650149,27.9300299
              C9.35701493,27.9300299 4,22.5731343 4,15.9650149 C4,9.35689552 9.35701493,4 15.9650149,4"
        ></path>
        <path
          class="fill-neutral-900"
          d="M26.0516448,15.0024454 C26.2737343,17.3607737 25.6522418,19.740117 24.3019134,21.7021469 C22.9360627,23.6865051 20.9007194,25.1230424 18.5706896,25.7474006 C13.164003,27.196117 7.58668957,23.9760573 6.13809255,18.5694902 C4.68937613,13.1628036 7.90943584,7.58549015 13.316003,6.13677374 C15.6461523,5.51241553 18.1271075,5.73880359 20.3020329,6.77462448 C22.4523612,7.79850508 24.1803612,9.54823642 25.1673463,11.7017887 C25.1815552,11.7330722 25.1814358,11.7686543 25.1668687,11.7996991 C25.1523015,11.8308633 25.1247194,11.8539081 25.0916448,11.8627439 L23.5526597,12.2751618 C23.4991672,12.2894902 23.4430478,12.2640573 23.4183314,12.2145051 C21.658212,8.67552 17.6055552,6.85068418 13.781794,7.8752812 C9.33367464,9.0671618 6.68471942,13.6554603 7.87660001,18.1035797 C9.06848061,22.5516991 13.6566597,25.2007737 18.1047791,24.0088931 C21.9285403,22.9844155 24.525794,19.3776096 24.2806597,15.4328931 C24.2773164,15.3774902 24.3131373,15.3274603 24.3668687,15.3131319 L25.9056149,14.900714 C25.938809,14.8918782 25.9741523,14.8979678 26.0023314,14.9176693 C26.0303911,14.9372513 26.0485403,14.9682961 26.0516448,15.0024454 Z M12.531504,18.0307708 C12.538907,18.0584722 12.5250563,18.0873678 12.4990264,18.0990693 L12.1193249,18.2682633 C12.1038025,18.2753081 12.0858921,18.2750693 12.0704891,18.2677857 C12.0550861,18.2605021 12.0438622,18.2468902 12.0394443,18.2302931 L11.4881607,16.1730991 C11.4806383,16.1451588 11.4943697,16.1163827 11.5205189,16.1048006 L11.9002204,15.9353678 C11.9158622,15.9285618 11.9336533,15.9288006 11.9489368,15.9359648 C11.9644592,15.9433678 11.9758025,15.9568603 11.9802204,15.9735767 L12.531504,18.0307708 Z M11.7010563,15.9313081 C11.6848174,15.9356066 11.667504,15.9329797 11.6534145,15.9239051 L11.3100115,15.6989499 C11.2854145,15.6829499 11.276698,15.6514275 11.2893548,15.6252782 L11.4652354,15.2570394 C11.4725189,15.2418752 11.4860115,15.230532 11.5023697,15.2259946 C11.5184891,15.2214573 11.5359219,15.224323 11.5498921,15.2336364 L11.8944891,15.4622931 C11.9188473,15.478532 11.9274443,15.5101737 11.914907,15.5364424 L11.7379518,15.9007409 C11.7305488,15.9156663 11.7171757,15.9267708 11.7010563,15.9313081 Z M13.7784071,15.3580825 C13.7929742,15.3710974 13.800019,15.3905601 13.7971533,15.4101422 L13.7332728,15.8328288 C13.7295713,15.8567094 13.7113026,15.8760527 13.6875414,15.8810676 C13.5259892,15.9148586 13.398825,16.0007094 13.3197802,16.1293064 C13.2237802,16.2852467 13.2069444,16.4933661 13.2705862,16.730978 L13.5228847,17.6729482 C13.5304071,17.7006497 13.5166757,17.7295452 13.4905265,17.7411273 L13.1107056,17.9104407 C13.0951832,17.9176049 13.0775116,17.9172467 13.0618698,17.9099631 C13.0465862,17.9026795 13.0352429,17.8889482 13.030825,17.8724706 L12.4795414,15.8152765 C12.4723772,15.7878138 12.485631,15.7590377 12.5115414,15.7472168 L12.8664071,15.5843512 C12.8820489,15.577187 12.8998399,15.5774258 12.9154817,15.5847094 C12.9308847,15.5918735 12.9424668,15.6057243 12.9468847,15.6223213 C12.9468847,15.6223213 12.9798399,15.7450676 13.0116011,15.8636347 C13.1043772,15.6249482 13.2784668,15.4648288 13.5261086,15.3984407 L13.7244369,15.3453064 C13.7435414,15.3401721 13.7636011,15.3449482 13.7784071,15.3580825 Z M16.1053799,16.6381904 C16.1096784,16.6531158 16.1075291,16.6693546 16.0995291,16.6827277 C15.925559,16.9812352 15.6737381,17.1819516 15.3714097,17.2630262 C14.7631709,17.4260113 14.1142157,17.059683 13.9543351,16.4630262 C13.7813202,15.8175337 14.1333202,15.2015337 14.7730814,15.0301904 C15.0706336,14.9504292 15.3772605,14.9768173 15.6600067,15.1062501 C15.6745739,15.1129367 15.6854396,15.1252352 15.6908127,15.1405188 C15.6958276,15.1555636 15.6946336,15.1721606 15.6871112,15.1863695 L15.5172008,15.510668 C15.5037082,15.5365785 15.4730217,15.5481606 15.4454396,15.5381307 C15.2462754,15.4641009 15.1277082,15.4359218 14.9022754,15.4963397 C14.5161261,15.5997427 14.3742754,15.9936531 14.4603649,16.3148471 C14.550753,16.6525188 14.9312903,16.8801009 15.2585739,16.7924591 C15.4570217,16.7393247 15.5694993,16.6141904 15.6773202,16.4427277 C15.6937978,16.4164591 15.7280664,16.4078621 15.7550515,16.4229068 L16.077559,16.6026083 C16.0912903,16.6102501 16.1014396,16.6231456 16.1053799,16.6381904 Z M16.9423366,16.7399139 C16.949859,16.7684512 16.9349336,16.7981825 16.9077098,16.8089288 L16.5239486,16.9626004 C16.5083068,16.9688094 16.4909933,16.9679736 16.4759486,16.9605706 C16.461262,16.9531676 16.4501575,16.9395557 16.4459784,16.9236751 L15.7035306,14.1529288 C15.6960083,14.1253467 15.709859,14.0963318 15.7360083,14.0847497 L16.1157098,13.9154363 C16.1312321,13.9086303 16.1491426,13.9087497 16.1645456,13.9160333 C16.1797098,13.9233168 16.1912918,13.9370482 16.1957098,13.9536452 L16.9423366,16.7399139 Z M19.1980865,15.9236293 C19.2083552,15.9446442 19.2050119,15.970077 19.1894895,15.9877487 C18.9516387,16.2586741 18.7385044,16.4439875 18.4118179,16.5313905 C17.7242955,16.7156293 17.1152208,16.3625547 16.9302656,15.6727636 C16.7761164,15.09748 17.1503253,14.4764651 17.747579,14.3163457 C18.1805343,14.2004054 18.5208328,14.2929427 18.8863253,14.626077 L18.9031611,14.6540173 L18.9050716,14.6670323 C18.905788,14.6826741 18.8999373,14.6979576 18.8890716,14.7093009 C18.8890716,14.7093009 17.7899671,15.8602263 17.7044746,15.9497785 C17.8733104,16.0789726 18.0641164,16.1238681 18.2618477,16.0709726 C18.5234596,16.000883 18.7385044,15.7612412 18.9148626,15.536286 C18.9270417,15.5205248 18.9468626,15.512286 18.9666835,15.5141964 C18.9866238,15.5163457 19.0040567,15.5287636 19.0127731,15.5465547 L19.1980865,15.9236293 Z M17.4767731,15.1034502 C17.4089522,15.2388532 17.3959373,15.3952711 17.4373701,15.5518084 C17.5435193,15.4411218 18.096594,14.864286 18.1867432,14.7703158 C18.1084149,14.7439278 18.0146835,14.74548 17.9014895,14.7758084 C17.7073402,14.8278681 17.5564149,14.9441666 17.4767731,15.1034502 Z M24.0219915,14.9053957 C24.0293945,14.9330972 24.0156632,14.9619927 23.9893945,14.9736942 L23.6098124,15.1430076 C23.5941706,15.1500524 23.5762602,15.1498136 23.5609766,15.1424106 C23.5454542,15.135127 23.5342303,15.1215151 23.5298124,15.1049181 L23.1495139,13.6860524 C23.0929169,13.4743509 22.9767378,13.3999628 22.7840214,13.4515449 C22.6463497,13.4884405 22.4053945,13.6313658 22.4795438,13.9077837 L22.8322602,15.2242017 C22.8396632,15.2519031 22.8258124,15.2807987 22.7996632,15.2925002 L22.4200811,15.4616942 C22.4044393,15.4688584 22.3867677,15.4685002 22.3712453,15.4612166 C22.3559617,15.4538136 22.344499,15.4402017 22.3400811,15.423724 L21.9597826,14.0048584 C21.9031856,13.7931569 21.7868871,13.7187688 21.59429,13.7703509 C21.4566184,13.8072464 21.2157826,13.9501718 21.2898124,14.2264703 L21.6426483,15.5428882 C21.6500512,15.5705897 21.6360811,15.5996046 21.6100512,15.6113061 L21.2302303,15.7805002 C21.214708,15.7876643 21.1970363,15.7873061 21.1813945,15.7800226 C21.1659915,15.772739 21.1546483,15.759127 21.1502303,15.7426494 L20.5989468,13.685336 C20.5916632,13.6578733 20.6055139,13.6288584 20.6314244,13.6172763 L20.9945289,13.452142 C21.0100512,13.4450972 21.0278423,13.445336 21.0434841,13.4526196 C21.0588871,13.4597837 21.0702303,13.4735151 21.0746483,13.4901121 C21.0746483,13.4901121 21.0908871,13.5506494 21.1067677,13.6095151 C21.193693,13.4688584 21.3502303,13.356142 21.5405587,13.3051569 C21.7280214,13.2548882 21.9612154,13.2257539 22.1566781,13.4010375 C22.2439617,13.22253 22.457693,13.0594255 22.7053348,12.9930375 C23.1682602,12.8689778 23.5262303,13.055127 23.6396632,13.4787688 L24.0219915,14.9053957 Z M20.5647965,15.6345545 C20.6038413,15.7803456 20.5167965,15.9306739 20.3707666,15.9698381 L20.1619308,16.0257187 C20.015901,16.0648829 19.8652144,15.9781963 19.8261696,15.8324053 L19.7705278,15.6244053 C19.731483,15.4787336 19.8185278,15.3284053 19.9645577,15.2892411 L20.1733935,15.2332411 C20.3194233,15.1941963 20.4699905,15.2808829 20.5090353,15.4265545 L20.5647965,15.6345545 Z M10.3511223,17.3694328 C11.1852715,20.4823881 14.3962566,22.3362388 17.5090924,21.5020896 L17.9576894,23.1763582 C13.9217491,24.257791 9.75828646,21.854209 8.67697303,17.8180299 C7.59554019,13.782209 9.99924168,9.61874627 14.035182,8.53731343 L14.483779,10.2114627 C11.3709432,11.0454925 9.51709243,14.256597 10.3511223,17.3694328 Z M25.8321969,13.7592836 C25.9366745,14.1492537 25.6841372,14.5320597 25.244973,14.649791 C24.9127939,14.7387463 24.6386447,14.6926567 24.3816894,14.5043582 C24.3530327,14.4833433 24.3467044,14.4432239 24.3675999,14.4143284 L24.5767939,14.1265672 C24.596973,14.0987463 24.6355402,14.0917015 24.6641969,14.1106866 C24.8044954,14.2023881 24.9259283,14.2499104 25.099182,14.2034627 C25.212376,14.1731343 25.3678387,14.078806 25.3314208,13.9431642 C25.2850924,13.7700299 25.1330924,13.7637015 24.8682566,13.7669254 C24.5732118,13.7707463 24.2062865,13.7755224 24.0865253,13.3287164 C23.9826447,12.9410149 24.2164357,12.5648955 24.6304059,12.4539701 C24.9222268,12.3757612 25.1275999,12.4023881 25.4147641,12.5559403 C25.4300477,12.5639403 25.4412715,12.5776716 25.4461671,12.5941493 C25.451182,12.6107463 25.4493909,12.6284179 25.4411521,12.6434627 L25.275779,12.9486567 C25.2674208,12.9638209 25.2533312,12.9750448 25.2366148,12.9798209 C25.2198984,12.984597 25.2021074,12.9823284 25.1870626,12.9738507 C25.035182,12.8876418 24.9421671,12.856 24.7921969,12.8961194 C24.5388238,12.9639403 24.5732118,13.0927761 24.5863462,13.1411343 C24.6222865,13.2753433 24.7594805,13.2801194 24.9991223,13.2771343 C25.2951223,13.273194 25.7006148,13.2680597 25.8321969,13.7592836 Z"
        ></path>
      </svg>
      {* non-standard entries, derived using webpageToSocialEntry() *}
      {{- else if .Platform == "patreon" -}}
        <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M489.7 153.8c-.1-65.4-51-119-110.7-138.3C304.8-8.5 207-5 136.1 28.4C50.3 68.9 23.3 157.7 22.3 246.2C21.5 319 28.7 510.6 136.9 512c80.3 1 92.3-102.5 129.5-152.3c26.4-35.5 60.5-45.5 102.4-55.9c72-17.8 121.1-74.7 121-150z"/></svg>
      {{- else if .Platform == "naver" -}}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="20"
          width="20"
          viewBox="0 0 24 24"
        >
          <path
            d="M16.273 12.845 7.376 0H0v24h7.727V11.155L16.624 24H24V0h-7.727v12.845z"
          ></path>
        </svg>
      {* fallback for non-matched entries, equivalent to rendering .Webpage *}
      {{- else -}}
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M480-96q-79 0-149-30t-122.5-82.5Q156-261 126-331T96-480q0-80 30-149.5t82.5-122Q261-804 331-834t149-30q80 0 149.5 30t122 82.5Q804-699 834-629.5T864-480q0 79-30 149t-82.5 122.5Q699-156 629.5-126T480-96Zm0-75q17-17 34-63.5T540-336H420q9 55 26 101.5t34 63.5Zm-91-10q-14-30-24.5-69T347-336H204q29 57 77 97.5T389-181Zm182 0q60-17 108-57.5t77-97.5H613q-7 47-17.5 86T571-181ZM177-408h161q-2-19-2.5-37.5T335-482q0-18 .5-35.5T338-552H177q-5 19-7 36.5t-2 35.5q0 18 2 35.5t7 36.5Zm234 0h138q2-20 2.5-37.5t.5-34.5q0-17-.5-35t-2.5-37H411q-2 19-2.5 37t-.5 35q0 17 .5 35t2.5 37Zm211 0h161q5-19 7-36.5t2-35.5q0-18-2-36t-7-36H622q2 19 2.5 37.5t.5 36.5q0 18-.5 35.5T622-408Zm-9-216h143q-29-57-77-97.5T571-779q14 30 24.5 69t17.5 86Zm-193 0h120q-9-55-26-101.5T480-789q-17 17-34 63.5T420-624Zm-216 0h143q7-47 17.5-86t24.5-69q-60 17-108 57.5T204-624Z"/></svg>
      {{- end -}}
    </a>
  {{- end -}}
  <a
    href="https://pixiv.net/u/{{ .ID }}"
    class="size-fit fill-neutral-400 hover:fill-neutral-50"
  >
    <svg xmlns="http://www.w3.org/2000/svg" height="20" width="17.5" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm171.5 84c41 0 76.3 12.9 101.4 35.2l0 0c25.2 22.2 39.8 54.1 39.8 88.8c.1 35.3-16.6 66.3-42.4 87c-25.9 20.8-60.6 32.4-98.8 32.4c-43.5 0-83.8-16.1-83.8-16.1v51.8c7.4 2.2 19.7 7 11.9 14.8H104.8c-7.7-7.8 3.6-12.4 12.1-14.8V175.5C97.1 190.9 87 204.3 81.8 214.2c6 19.4-5.3 18.5-5.3 18.5L56 199.7s72.7-83.7 179.5-83.7zm-3.6 222.9c30 0 56-11.3 73.9-29.2c17.9-18.1 27.9-41.6 28-70.2c-.1-29.3-9.5-54.6-26.7-73.6c-17.2-18.9-42.7-31.3-75.2-31.4c-26.7-.1-59.8 9-80.2 23.7V323.1c18.6 9.3 46.8 15.9 80.2 15.8z"/></svg>
  </a>
</div>
