{*
  This fragment (tw-thumbnail-dt.jet.html) templates in the artwork thumbnail
*}
{{- target := CookieList["pixivfe-ThumbnailToNewTab"] -}}
{{- hideR18 := CookieList["pixivfe-HideArtR18"] -}}
{{- hideR18G := CookieList["pixivfe-HideArtR18G"] -}}
{{- censorAi := CookieList["pixivfe-CensorArtAI"] -}}
{{- AiType := isset(.AiType) ? .AiType : 0 -}}

{* Initialize fields with fallback values *}
{{- Pages := 1 -}}
{{- illustType := 0 -}}
{{- artistId := "" -}}

{{- try -}}
  {{- artistId = .ArtistID -}}
  {{- Pages = .Pages -}}
  {{- illustType = .IllustType -}}
{{- catch -}}
  {{- artistId = .AuthorDetails.UserID -}}
  {{- Pages = .PageCount -}}
  {{- illustType = .Type -}}
{{- end -}}

{* Empty div for the illust preview (it needs to wrap the anchor) *}
<div>
  <a
    id="artwork-wrapper-{{ .ID }}"
    target="{{ target }}"
    href="/artworks/{{ .ID }}"
    class="group/image"
    hx-headers='{ "Fast-Request": "true", "Artwork-ID": "{{- .ID -}}", "Artwork-User-ID": "{{- artistId -}}", "Artwork-Title": "{{- .Title -}}", "Artwork-IllustType": "{{- illustType -}}", "Artwork-Master-Webp-1200-Url": "{{- .Thumbnails.MasterWebp_1200 -}}", "Artwork-Original-Url": "{{- .Thumbnails.OriginalJPG -}}", "Artwork-Width": "{{- .Width -}}", "Artwork-Height": "{{- .Height -}}", "Artwork-Pages": "{{- Pages -}}" }'
  >
    <div
      id="original-media-{{ .ID }}"
      class="media-target relative flex overflow-visible rounded drop-shadow group-active/image:scale-[0.975] group-outline-glow"
    >
      <div class="flex absolute w-full top-0 start-0 justify-between p-2">
        {* Top left badges *}
        <div class="flex flex-col gap-y-1 z-3">
          {{- if isset(.Rank) -}}
            <div
              class="flex w-fit text-xl font-bold rounded-tl rounded-br drop-shadow px-3 py-1.5 -ms-2 -mt-2
                    {{ if .Rank == 1 -}}
                      bg-amber-400/90 text-black
                    {{- else if .Rank == 2 -}}
                      bg-zinc-300/90 text-black
                    {{- else if .Rank == 3 -}}
                      bg-amber-800/90 text-white
                    {{- else -}}
                      bg-neutral-800/80 text-white
                    {{- end -}}"
            >
              {{- .Rank -}}
            </div>
          {{- end -}}
          {{- if .XRestrict != 0 -}}
            <div class="flex w-fit bg-red-700 text-white text-xs font-bold rounded drop-shadow px-1 py-0.5">
              {{- if .XRestrict == 1 -}} R-18 {{- else -}} R-18G {{- end -}}
            </div>
          {{- end -}}
          {{- if AiType == 2 -}}
            <div class="flex w-fit bg-yellow-500 text-black text-xs font-bold rounded drop-shadow px-1 py-0.5">
              AI
            </div>
          {{- end -}}
        </div>
        {* Top right badges *}
        <div class="flex flex-col z-3">
          {{- if Pages > 1 -}}
            <div class="flex items-center w-fit bg-neutral-700 text-xs font-bold rounded drop-shadow gap-x-1 px-1 py-0.5">
              <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M216-144q-29.7 0-50.85-21.5Q144-187 144-216v-528q0-29 21.15-50.5T216-816h528q29.7 0 50.85 21.5Q816-773 816-744v528q0 29-21.15 50.5T744-144H216Zm0-72h528v-528H216v528Zm0 0v-528 528Zm84-72h360.19Q671-288 676-298t-2-19L566-461q-5.25-8-14-8t-14 8l-94 125-58-77q-5.25-8-14-8t-14 8l-71.82 96.03Q279-308 284.25-298q5.25 10 15.75 10Z" /></svg>
              {{- Pages -}}
            </div>
          {{- end -}}
        </div>
      </div>
      {{- if (.XRestrict > 0 && hideR18 != "" && hideR18G != "") || (.XRestrict == 2 && hideR18G != "") -}}
      <img
        src="/img/nsfw.png"
        alt="{{- .Title -}}"
        class="size-full aspect-square object-cover rounded"
        loading="lazy"
      />
      {{- else if AiType == 2 && censorAi -}}
      <img
        src="/img/ai.png"
        alt="{{- .Title -}}"
        class="size-full aspect-square object-cover rounded"
        loading="lazy"
      />
      {{- else -}}
      {* We load .MasterWebp_1200 as the thumbnail then apply .aspect-square so that the client essentially always has the artwork preloaded on page nav *}
      <img
        src="{{- if .Thumbnails.MasterWebp_1200 -}} {{ .Thumbnails.MasterWebp_1200 }} {{- else -}} {{ .Thumbnail }} {{- end -}}"
        alt="{{- .Title -}}"
        width="{{- if .Thumbnails.MasterWebp_1200 -}} 1200px {{- else -}} 360px {{- end -}}"
        height="{{- if .Thumbnails.MasterWebp_1200 -}} 1200px {{- else -}} 360px {{- end -}}"
        loading="lazy"
        class="size-full object-cover rounded
              {{ if isFirstPathPart (CurrentPath, "/ranking") }}
                {{ if .Width > .Height -}} aspect-2/1 {{- else -}} aspect-square {{- end }}
              {{ else }}
                aspect-square
              {{ end }}"
      />
      {{- end -}}

      {{- if illustType == 2 -}}
        <div class="flex absolute top-2/4 start-2/4 -translate-x-1/2 -translate-y-1/2 justify-center items-center bg-black/75 group-hover/image:bg-black/50 group-hover/image:fill-neutral-100/80 transition rounded-full size-14">
          <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" class="size-10"><path d="M320-263v-438q0-15 10-24.17 10-9.16 23.33-9.16 4.34 0 8.84 1.16 4.5 1.17 8.83 3.5L715.67-510q7.66 5.33 11.5 12.33 3.83 7 3.83 15.67t-3.83 15.67q-3.84 7-11.5 12.33L371-234.33q-4.33 2.33-8.83 3.5-4.5 1.16-8.84 1.16-13.33 0-23.33-9.16Q320-248 320-263Z" /></svg>
        </div>
      {{- end -}}
    </div>
  </a>
</div>
