{{- import "../blocks/tw_follow_buttons" }}

<div class="grid grid-cols-12 col-span-12 gap-8">
  <div class="grid grid-cols-12 col-span-12 lg:col-span-4 gap-6">
    <div class="flex col-span-4 mb-auto">
      <a
        href="/users/{{ .ID }}"
        title="{{ .Name }}"
      >
        <img src="{{ .Avatar }}" alt="User avatar" class="size-full aspect-square rounded-full avatar-outline-glow object-cover">
      </a>
    </div>

    <div class="flex col-span-8 flex-col flex-wrap content-start items-start gap-6">
      <a
        href="/users/{{ .ID }}"
        title="{{ .Name }}"
        class="animated-underline"
      >
        <div class="text-xl font-semibold line-clamp-1">{{ .Name }}</div>
      </a>

      {{- if .Comment -}}
      <p class="text-neutral-300 text-sm/6 line-clamp-6 w-full -mt-3">
        {{ raw: parsePixivRedirect(.Comment) }}
      </p>
      {{- else -}}
      <div class="text-neutral-500 text-sm italic -mt-3">No description added</div>
      {{- end -}}

      <div>
        {{ yield tw_follow_buttons(data=., style="filled") }}
      </div>
    </div>
  </div>

  <div class="flex col-span-12 lg:col-span-8">
    <div class="grid grid-rows-1 grid-flow-col *:w-56 *:snap-start *:scroll-ms-2 snap-x snap-mandatory overflow-x-scroll gap-6 ps-2 pt-2 pb-6 -ms-2 -mt-2 -mb-6 fade-right-sharp pe-32">
      {{ include "tw-small-tn" .Artworks }}
    </div>
  </div>
</div>

<hr class="col-span-12 border-neutral-800">
